/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/");
@import url("chrome://communicator/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#HelpToolbar > toolbarbutton {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png");
}

/* Hide labels for the toolbar because we really don't need them what with the
   tooltips */
#HelpToolbar .toolbarbutton-text {
  display: none;
}

/* With no labels, we don't need the margin on the icon that separates it
   from the label */
#HelpToolbar .toolbarbutton-icon {
  margin-inline-end: 0;
}

#help-back-button > toolbarbutton,
#help-forward-button > toolbarbutton {
  list-style-image: inherit;
  -moz-image-region: inherit;
}

/* Set the minimum sidebar width so the help contents aren't squeezed together.*/
#help-sidebar {
  min-width: 30px;
  width: 20em;
  max-width: 25em;
}

/* ----- BACK BUTTON ----- */

#help-back-button {
  -moz-image-region: rect(42px 25px 63px 0px);
}

#help-back-button[disabled="true"] {
  -moz-image-region: rect(42px 50px 63px 25px);
}

#help-back-button .toolbarbutton-menubutton-button {
  -moz-box-align: end !important;
}

/* ----- FORWARD BUTTON ----- */

#help-forward-button {
  -moz-image-region: rect(63px 25px 84px 0px);
}

#help-forward-button[disabled="true"] {
  -moz-image-region: rect(63px 50px 84px 25px);
}

/* ----- HOME BUTTON ----- */

#help-home-button {
  -moz-image-region: rect(84px 25px 105px 0px);
}

#help-home-button[disabled="true"] {
  -moz-image-region: rect(84px 50px 105px 25px);
}

/* ----- PRINT BUTTON ----- */

#help-print-button {
  -moz-image-region: rect(0px 25px 21px 0px);
}

#help-print-button[disabled="true"] {
  -moz-image-region: rect(0px 50px 21px 25px);
}

/* ----- OTHER ----- */

#context-copy[disabled="true"] {
  display: none;
}

/* make findbar appear above content */
#appcontent {
  -moz-box-direction: reverse;
}

/* style findbar for being on top */
#FindToolbar {
  border-bottom: 1px solid #666699;
  border-top: 1px solid transparent;
}
