@import url(chrome://communicator/skin/bookmarks/bookmarks.css);

/* ::::: bookmark toolbarbuttons ::::: */
    
toolbarbutton.bookmark-item {
  cursor	            : pointer;
  min-width           : 0px;
  max-width           : 13em;
}

toolbarbutton.bookmark-item[container="true"] {
  cursor              : default;
}

toolbarbutton.bookmark-item > .toolbarbutton-box > .toolbarbutton-dropmarker {
  display             : none;
}

toolbarbutton.bookmark-item[disabled="true"],
toolbarbutton.bookmark-item[disabled="true"]:hover,
toolbarbutton.bookmark-item[disabled="true"]:hover:active
{
  color               : #999999;
  text-decoration     : none;
  list-style-image    : url("chrome://communicator/skin/bookmarks/bookmark-item-disabled.gif");
  cursor              : default;
}

toolbarbutton.bookmark-item[disabled="true"][container="true"],
toolbarbutton.bookmark-item[disabled="true"][container="true"]:hover,
toolbarbutton.bookmark-item[disabled="true"][container="true"]:hover:active
{
/*  border              : 1px solid transparent !important; */
  list-style-image    : url("chrome://communicator/skin/bookmarks/bookmark-folder-disabled.gif");
}

.menuitem-iconic.bookmark-item[disabled="true"]
{
  list-style-image    : url("chrome://communicator/skin/bookmarks/bookmark-item-disabled.gif");
}

.menu-iconic.bookmark-item[disabled="true"][container="true"]
{
  list-style-image    : url("chrome://communicator/skin/bookmarks/bookmark-folder-disabled.gif");
}

/* ::::: toolbarbutton drag and drop feedback ::::: */

toolbarbutton.bookmark-item[dragover-right="true"] {
  border-right        : 2px solid #336699;
}

toolbarbutton.bookmark-item[dragover-left="true"] {
  border-left         : 2px solid #336699;
}
    
.toolbarbutton-text[dragover-top="true"] {
  background-color    : #336699;
  color               : #CCD0DD;
}

/* ::::: menu drag and drop feedback ::::: */

menuitem[dragover-top="true"].bookmark-item {
  border-top          : 1px solid #336699 !important;
}

menu[dragover-top="true"].bookmark-item {
  border-top          : 1px solid #336699 !important;
} 

menu[dragover="true"].bookmark-item {
  background-color      : #336699 !important;
  color                 : #FFFFFF !important;
}

menuitem[dragover-bottom="true"].bookmark-item {
  border-bottom       : 1px solid #336699 !important;
}

menu[dragover-bottom="true"].bookmark-item {
  border-bottom       : 1px solid #336699 !important;
}

