@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */

/* ::::: autocomplete ::::: */

textbox[type="autocomplete"]
  {
    cursor              : default !important;
    -moz-border-radius  : 5px;
  }

.autocomplete-internal-box 
  {
    padding             : 0px !important;
    -moz-border-radius  : 5px;
  }

.autocomplete-textbox-container
  {
    padding             : 1px 2px 1px 2px;
  }

.autocomplete-textbox 
  {
    cursor              : text;
  }

/* ::::: history button ::::: */

.autocomplete-history-button
  {
    -moz-binding        : url("chrome://global/skin/classicBindings.xml#autocomplete-history-button");
    width               : 15px; 
    min-height          : 15px; 
    border              : none;
    background-color    : #000000;
    list-style-image    : url("chrome://global/skin/scroll-down.gif");
    padding             : 0px;
    margin              : 0px;
    -moz-border-radius  : 0px 5px 5px 0px;
  }

.autocomplete-history-button > .autocomplete-history-button-internal-box 
  {
    -moz-border-radius  : 0px 5px 5px 0px;
    border              : none;
    border-left         : 1px solid #9C9CFF;
    padding             : 1px;
  }

.autocomplete-history-button:hover,
.autocomplete-history-button[buttonover="true"]
  {
    background-color    : #FFCF00;
    list-style-image    : url("chrome://global/skin/scroll-down-hover.gif");
  }

.autocomplete-history-button:hover:active,
.autocomplete-history-button[open="true"]
  {
    background-color    : #FF9F00;
    list-style-image    : url("chrome://global/skin/scroll-down-hover.gif");
  }

.autocomplete-history-button[open="true"]
  {
    border              : none;
  }

.autocomplete-history-button[open="true"] > .autocomplete-history-button-internal-box
  {
    padding             : 2px 0px 0px 2px;
  }

/* ::::: autocomplete popups ::::: */

.autocomplete-result-popup,
.autocomplete-history-popup
  {
    border                 : 1px solid #FF9F00 !important;
    background-color       : black !important;
  }

.autocomplete-history-popup
  {
    max-height             : 180px;
  }

/* ::::: outliner ::::: */

.autocomplete-outliner 
  {
    border                 : none;
    background-color       : transparent !important;
  }

.autocomplete-outlinercol 
  {
    margin                 : 0px !important;
    border                 : none !important;
    padding                : 0px !important;
  }

.autocomplete-outlinerbody:-moz-outliner-cell-text 
  {
    padding-left: 8px;
  }

.autocomplete-outlinerbody:-moz-outliner-row(menuactive) 
  {
    background-color       : #FFCF00;
  }

.autocomplete-outlinerbody:-moz-outliner-cell-text(menuactive) 
  {
    color                  : #000000 !important;
  }



