/* stylesheet for XUL <checkbox> element */

/* default checkbox for dialogs */
/* outer frame */
  checkbox 
    {
      margin              : 3px 5px 3px 5px;
    }

  .checkbox-checkmark-box-1
    {
      -moz-border-radius  : 2px;
      border              : 1px solid #FF9F00;
      background-color    : #000000;
      margin              : 2px 2px 0px 0px;
      width               : 10px;
      height              : 10px;
      -moz-user-focus     : ignore;
    }

  .checkbox-checkmark-box-2
    {
      border              : none;
      padding             : 1px;
      width               : 10px;
      height              : 10px;
    }  

  /* ensure that no list-style-image is inherited in from the Outside */
  .checkbox-check
    {
      list-style-image    : none;
      width               : 8px;
      height              : 8px;
    }

  .checkbox-check[checked="true"]
    {
      list-style-image    : url(chrome://global/skin/check-check.gif);
    }
  
  .checkbox-check[checked="true"][disabled="true"]
    {
      list-style-image    : url(chrome://global/skin/check-check-disabled.gif);
    }

  checkbox:hover > .checkbox-internal-box > .checkbox-checkmark-box-1,
  checkbox:hover:active > .checkbox-internal-box > .checkbox-checkmark-box-1
    {
      border              : 1px solid #FFCF00;
    }

  checkbox[disabled="true"] > .checkbox-internal-box > .checkbox-checkmark-box-1,
  checkbox[disabled="true"]:hover > .checkbox-internal-box > .checkbox-checkmark-box-1,
  checkbox[disabled="true"]:hover:active > .checkbox-internal-box > .checkbox-checkmark-box-1
    {
      border              : 1px inset #8050B0;
    }

/* text/icon frames */
  .checkbox-text
    {
      margin              : 0px 0px 0px 2px;
      padding             : 1px;
      color               : #FF9F00;
    }

  .checkbox-icon 
    {
      list-style-image    : inherit;
    }    

  .checkbox-text[disabled="true"]
    {
      color               : #8050B0;
    }
  
  checkbox:focus > .checkbox-internal-box > .checkbox-text
    { 
      border              : 1px dotted #FF9F00;
      padding             : 0px;
    }
    
  .checkbox-internal-box
    {
      -moz-user-focus     : none;
      padding             : 0px;
    }

