/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 * Link toolbar items
 **/

#link-top {
  list-style-image: url("chrome://navigator/skin/linkButtons/top.gif");
}

#link-top[disabled="true"] {
  list-style-image: url("chrome://navigator/skin/linkButtons/top-disabled.gif") !important;
}

#link-up {
  list-style-image: url("chrome://navigator/skin/linkButtons/up.gif");
}

#link-up[disabled="true"] {
  list-style-image: url("chrome://navigator/skin/linkButtons/up-disabled.gif") !important;
}

#link-first {
  list-style-image: url("chrome://navigator/skin/linkButtons/first.gif");
}

#link-first[disabled="true"] {
  list-style-image: url("chrome://navigator/skin/linkButtons/first-disabled.gif") !important;
}

#link-prev {
  list-style-image: url("chrome://navigator/skin/linkButtons/previous.gif");
}

#link-prev[disabled="true"] {
  list-style-image: url("chrome://navigator/skin/linkButtons/previous-disabled.gif") !important;
}

#link-next
{
  list-style-image: url("chrome://navigator/skin/linkButtons/next.gif");
}

#link-next[disabled="true"] {
  list-style-image: url("chrome://navigator/skin/linkButtons/next-disabled.gif") !important;
}

#link-last {
  list-style-image: url("chrome://navigator/skin/linkButtons/last.gif");
}

#link-last[disabled="true"] {
  list-style-image: url("chrome://navigator/skin/linkButtons/last-disabled.gif") !important;
}

#link-feed {
  list-style-image: url("chrome://navigator/skin/linkButtons/feeds.png") !important;
  -moz-image-region: rect(0px 32px 16px 16px);
}

#link-feed[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}
