/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* === BEGIN panel.inc.css === */

/* Hide all conditional elements by default. */
:-moz-any([when-connection],[when-mixedcontent],[when-ciphers],[when-loginforms]) {
  display: none;
}

/* Show the right elements for the right connection states. */
#identity-popup[connection=not-secure] [when-connection~=not-secure],
#identity-popup[connection=secure-ev] [when-connection~=secure-ev],
#identity-popup[connection=secure] [when-connection~=secure],
#identity-popup[connection=chrome] [when-connection~=chrome],
#identity-popup[connection=file] [when-connection~=file],
/* Show insecure login forms messages when needed. */
#identity-popup[loginforms=insecure] [when-loginforms=insecure],
/* Show weak cipher messages when needed. */
#identity-popup[ciphers=weak] [when-ciphers~=weak],
/* Show mixed content warnings when needed */
#identity-popup[mixedcontent~=active-loaded] [when-mixedcontent=active-loaded],
#identity-popup[mixedcontent~=passive-loaded]:not([mixedcontent~=active-loaded]) [when-mixedcontent=passive-loaded],
#identity-popup[mixedcontent~=active-blocked]:not([mixedcontent~=passive-loaded]) [when-mixedcontent=active-blocked],
/* Show the right elements when there is mixed passive content loaded and active blocked. */
#identity-popup[mixedcontent~=active-blocked][mixedcontent~=passive-loaded] [when-mixedcontent~=active-blocked][when-mixedcontent~=passive-loaded],
/* Show 'disable MCB' button always when there is mixed active content blocked. */
#identity-popup-securityView-body[mixedcontent~=active-blocked] > button[when-mixedcontent=active-blocked] {
  display: inherit;
}

/* Hide redundant messages based on insecure login forms presence. */
#identity-popup[loginforms=secure] [and-when-loginforms=insecure] {
  display: none;
}
#identity-popup[loginforms=insecure] [and-when-loginforms=secure] {
  display: none;
}

/* Hide 'not secure' message in subview when weak cipher or mixed content messages are shown. */
#identity-popup-securityView-body:-moz-any([mixedcontent],[ciphers]) > description[when-connection=not-secure],
/* Hide 'passive-loaded (only)' message when there is mixed passive content loaded and active blocked. */
#identity-popup-securityView-body[mixedcontent~=passive-loaded][mixedcontent~=active-blocked] > description[when-mixedcontent=passive-loaded] {
  display: none;
}

/* Make sure hidden elements don't accidentally become visible from one of the
   above selectors (see Bug 1194258) */
#identity-popup [hidden] {
  display: none !important;
}

#identity-popup,
#identity-popup:not([panelopen]) .panel-viewstack[viewtype="main"]:not([transitioning]) #identity-popup-mainView {
  /* Tiny hack to ensure the panel shrinks back to its original
     size after closing a subview that is bigger than the main view. */
  max-height: 0;
}

.panel-mainview[panelid=identity-popup][viewtype=subview] > #identity-popup-mainView menulist,
.panel-mainview[panelid=identity-popup][viewtype=subview] > #identity-popup-mainView button:not([panel-multiview-anchor]) {
  -moz-user-focus: ignore;
}

#identity-popup > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

.panel-mainview[panelid=identity-popup] {
  min-width: 30em;
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack[viewtype="main"] > .panel-subviews {
  transform: translateX(100%);
  box-shadow: none;
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack[viewtype="main"] > .panel-subviews:-moz-locale-dir(rtl) {
  transform: translateX(-100%);
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack > .panel-subviews {
  background: var(--panel-arrowcontent-background);
  border-bottom-right-radius: 3.5px;
  padding: 0;
}

#identity-popup-multiView > .panel-viewcontainer > .panel-viewstack > .panel-subviews:-moz-locale-dir(rtl) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3.5px;
}

.identity-popup-section:not(:first-child) {
  border-top: 1px solid #A09090; /*var(--panel-separator-color);*/
}

#identity-popup-securityView,
#identity-popup-security-content,
#identity-popup-permissions-content,
#tracking-protection-content {
  padding: 0.75em 0 1em;
  -moz-padding-start: calc(2em + 24px);
  -moz-padding-end: 1em;
  background-repeat: no-repeat;
  background-position: 1em 1em;
  background-size: 24px auto;
}

#identity-popup-securityView:-moz-locale-dir(rtl),
#identity-popup-security-content:-moz-locale-dir(rtl),
#identity-popup-permissions-content:-moz-locale-dir(rtl),
#tracking-protection-content:-moz-locale-dir(rtl) {
  background-position: calc(100% - 1em) 1em;
}

/* IN-CONTENT-PREF STYLE BUTTONS */
/*
.identity-popup-button {
  -moz-appearance: none;
  margin: 5px 0;
  height: 30px;
  color: #333;
  line-height: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  background-color: #fbfbfb;
}

.identity-popup-button:not([disabled="true"]):hover {
  background-color: #ebebeb;
}

.identity-popup-button:not([disabled="true"]):hover:active {
  background-color: #dadada;
}

.identity-popup-button[disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}
*/
/* EXPAND BUTTON */

.identity-popup-expander {
  margin: 0;
  min-width: auto;
  width: 38px;
  background-image: url("chrome://browser/skin/controlcenter/arrow-subview.svg#arrow");
  background-size: 16px, auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0 5px 5px 0;
}

.identity-popup-expander:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.identity-popup-expander[panel-multiview-anchor] {
  transition: background-color 250ms ease-in;
  background-color: #008484;
  background-image: url("chrome://browser/skin/customizableui/subView-arrow-back-inverted.png");
}

@media (min-resolution: 1.1dppx) {
  .identity-popup-expander[panel-multiview-anchor] {
    background-image: url("chrome://browser/skin/customizableui/subView-arrow-back-inverted@2x.png");
  }
}

.identity-popup-expander > .button-box,
.identity-popup-expander > .button-box:focus {
  padding: 4px 0;
  border-radius: 0 5px 5px 0;
}

.identity-popup-expander[panel-multiview-anchor] > .button-box,
.identity-popup-expander[panel-multiview-anchor] > .button-box:focus {
}

.identity-popup-expander:hover {
  background-image: url("chrome://browser/skin/controlcenter/arrow-subview.svg#arrow-active");
  background-color: #FFCF00;
}

.identity-popup-expander:hover:active {
  background-image: url("chrome://browser/skin/controlcenter/arrow-subview.svg#arrow-active");
  background-color: #FF9F00;
}

/* CONTENT */

.identity-popup-text {
  white-space: pre-wrap;
  font-size: 110%;
  margin: 0;
}

.identity-popup-headline {
  margin: 2px 0 4px;
  font-size: 150%;
}

/* SECURITY */

#identity-popup-securityView > .identity-popup-text:not(#identity-popup-content-owner) {
  margin: 2px 0 4px;
}

.identity-popup-connection-secure {
  color: #008484;
}

.identity-popup-connection-not-secure {
  color: #9C9CFF;
}

#identity-popup-security-content.chromeUI {
  background-image: url(chrome://branding/content/icon48.png);
}

/* SECURITY SUBVIEW */

#identity-popup-securityView {
  padding-bottom: 2em;
  overflow: hidden;
}

#identity-popup-securityView,
#identity-popup-security-content {
  background-image: url(chrome://browser/skin/controlcenter/conn-not-secure.svg);
}

#identity-popup-securityView.verifiedDomain,
#identity-popup-security-content.verifiedDomain {
  background-image: url(chrome://browser/skin/controlcenter/conn-secure-dv.svg);
}

#identity-popup-securityView.verifiedIdentity,
#identity-popup-security-content.verifiedIdentity {
  background-image: url(chrome://browser/skin/controlcenter/conn-secure-ev.svg);
}

#identity-popup-securityView.mixedActiveContent,
#identity-popup-security-content.mixedActiveContent {
  background-image: url(chrome://browser/skin/controlcenter/mcb-disabled.svg);
}

#identity-popup-securityView-header {
  border-bottom: 1px solid #A09090;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#identity-popup-content-owner {
  font-weight: 700;
}

#identity-popup-content-verifier {
  color: #A09090;
}

#identity-popup-content-owner,
#identity-popup-securityView > #identity-popup-securityView-connection.identity-popup-text {
  margin-top: 1em;
}

/* TRACKING PROTECTION */

#tracking-protection-content {
  background-image: url("chrome://browser/skin/controlcenter/tracking-protection.svg");
}

#tracking-protection-content[block-disabled]  {
  background-image: url("chrome://browser/skin/controlcenter/tracking-protection-disabled.svg");
}

#tracking-action-block,
#tracking-action-unblock {
  margin: 1em 0 0;
}

#tracking-protection-content[block-active] > #tracking-not-detected,
#tracking-protection-content[block-disabled] > #tracking-not-detected,
#tracking-protection-content:not([block-active]) > #tracking-blocked,
#tracking-protection-content:not([block-active]) #tracking-action-unblock,
#tracking-protection-content:not([block-disabled]) > #tracking-loaded,
#tracking-protection-content:not([block-disabled]) #tracking-action-block,
#tracking-protection-content:not([block-active]):not([block-disabled]) > #tracking-actions {
  display: none;
}

/* PERMISSIONS */

#identity-popup-permissions-content {
  background-image: url(chrome://browser/skin/controlcenter/permissions.svg);
}

#identity-popup-permission-list {
  margin-top: 5px;
}

.identity-popup-permission-label {
  -moz-margin-start: 0;
}

/* FOOTER BUTTONS */

#identity-popup-button-container {
  background: #000000;
  border-top: 1px solid #A09090;
}

#identity-popup-more-info-button {
  margin-top: 5px;
}
/*
#identity-popup-more-info-button:hover {
}

#identity-popup-more-info-button:hover:active {
}
*/

/* === END panel.inc.css === */

/* Popup Icons */
#identity-popup-icon {
  height: 64px;
  width: 64px;
  padding: 0;
  list-style-image: url("chrome://browser/skin/identity.png");
  -moz-image-region: rect(0px, 64px, 64px, 0px);
}

#identity-popup.verifiedDomain > #identity-popup-container > #identity-popup-icon {
  -moz-image-region: rect(64px, 64px, 128px, 0px);
}

#identity-popup.verifiedIdentity > #identity-popup-container > #identity-popup-icon {
  -moz-image-region: rect(128px, 64px, 192px, 0px);
}

/* Popup Body Text */
.identity-popup-description {
  white-space: pre-wrap;
  -moz-padding-start: 15px;
  margin: 2px 0 4px;
}

.identity-popup-label {
  white-space: pre-wrap;
  -moz-padding-start: 15px;
  margin: 0;
}

#identity-popup-content-host,
#identity-popup-content-box.verifiedIdentity > #identity-popup-content-owner {
  font-size: 1.2em;
}

#identity-popup-content-host {
  margin-top: 3px;
  margin-bottom: 5px;
  font-weight: bold;
  max-width: 300px;
}

#identity-popup-content-owner {
  margin-top: 4px;
  margin-bottom: 0 !important;
  font-weight: bold;
  max-width: 300px;
}

.verifiedDomain > #identity-popup-content-owner {
  font-weight: normal;
}

#identity-popup-content-verifier {
  margin: 4px 0 2px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption {
  margin-top: 10px;
  -moz-margin-start: -24px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption > vbox > #identity-popup-encryption-icon ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption > vbox > #identity-popup-encryption-icon {
  list-style-image: url("chrome://browser/skin/Secure24.png");
}

#identity-popup > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

#identity-popup-container {
  min-width: 280px;
  padding: 10px;
}
