@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.controlBar {
  height: 28px;
  background-color: rgba(102,102,153,0.75);
}

.playButton, .muteButton {
  /* Remove the usual button appearance and styling */
  margin: 0px;
  padding: 0px;
  border: none;
  min-height: 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
.playButton {
  min-width: 28px;
}
.muteButton {
  min-width: 33px;
}

.playButton {
  background-image: url("chrome://global/skin/media/pauseButton.png");
}
.playButton[paused="true"] {
  background-image: url("chrome://global/skin/media/playButton.png");
}

.muteButton {
  background-image: url("chrome://global/skin/media/muteButton.png");
}
.muteButton[muted="true"] {
  background-image: url("chrome://global/skin/media/unmuteButton.png");
}

.backgroundBar {
  /* make bar 8px tall (control height = 28, minus 2 * 10 margin) */
  margin: 10px 2px;
  background-color: rgba(0,0,0,0.75);
}

.bufferBar, .progressBar {
  /* make bar 8px tall (control height = 28, minus 2 * 10 margin) */
  margin: 10px 2px;
  border: none;
  background-color: transparent;
  min-width: 0px;
  min-height: 0px;
}

/* .progress-bar is an element inside the <progressmeter> implementation. */
.bufferBar .progress-bar {
  /*
   * Note that this is drawn on top of the .backgroundBar. So although this
   * has the same background-color specified, the semitransparent
   * compositing gives it a different visual appearance.
   */
  background-color: rgba(204,208,221,0.75);
  -moz-appearance: none;
}

.progressBar .progress-bar {
  background-color: #336699;
  -moz-appearance: none;
}

/* .scale-slider is an element inside the <scale> implementation. */
.scale-slider {
  /* Hide the default horizontal bar. */
  background: none;
  margin: 0 2px;
}

/* .scale-thumb is an element inside the <scale> implementation. */
.scale-thumb {
  /* Override the default thumb appearance with a custom image. */
  background: url("chrome://global/skin/media/scrubberThumb.png") no-repeat center;
  border: none !important;
  min-width: 11px;
  min-height: 20px;
}
