/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#throbber-box {
  -moz-box-orient: vertical;
}

#wrapper-throbber-box > #throbber-box > #navigator-throbber,
#navigator-throbber {
  -moz-binding: url("chrome://global/content/bindings/button.xml#button-image");
  -moz-user-focus: ignore;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-flex: 1;
  margin: 0;
  border: none;
  padding: 2px;
  min-width: 0;
  list-style-image: url("chrome://communicator/skin/brand/throbber-single.gif");
}

#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://communicator/skin/brand/throbber-anim.gif");
}

window[chromehidden~="toolbar"] #navigator-throbber,
toolbar[mode="text"] #wrapper-throbber-box > #throbber-box > #navigator-throbber,
toolbar[iconsize="small"] #wrapper-throbber-box > #throbber-box > #navigator-throbber,
toolbar[mode="text"] #navigator-throbber,
toolbar[mode="icons"] #navigator-throbber,
toolbar[iconsize="small"] #navigator-throbber {
  padding: 1px;
  list-style-image: url("chrome://communicator/skin/brand/throbber16-single.gif");
}

window[chromehidden~="toolbar"] #navigator-throbber[busy="true"],
toolbar[mode="text"] #navigator-throbber[busy="true"],
toolbar[mode="icons"] #navigator-throbber[busy="true"],
toolbar[iconsize="small"] #navigator-throbber[busy="true"] {
  list-style-image: url("chrome://communicator/skin/brand/throbber16-anim.gif");
}
