/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ==== button.css ==========================================================
   == Styles for special buttons in the Communicator suite.
   ========================================================================== */

/* ::::: large toolbar buttons ::::: */

.toolbarbutton-1,
.toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 36px;
  min-height: 36px;
  -moz-box-orient: vertical;
}

statusbarpanel > .toolbarbutton-1,
statusbarpanel > .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  min-width: 16px;
  min-height: 16px;
  -moz-box-orient: vertical;
}

.toolbarbutton-1[type="menu-button"] {
  -moz-box-orient: horizontal;
}

.toolbarbutton-1,
.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1[disabled="true"]:hover:active,
.toolbarbutton-1[disabled="true"]:hover:active > .toolbarbutton-menubutton-button {
  padding: 1px 2px;
}

.toolbarbutton-1:hover:active,
.toolbarbutton-1[open="true"],
.toolbarbutton-1:hover:active > .toolbarbutton-menubutton-button {
  padding-top: 2px;
  padding-bottom: 0px;
  -moz-padding-start: 3px;
  -moz-padding-end: 1px;
}

.toolbarbutton-1[type="menu"] {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#menu-vertical");
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[mode="text"] .toolbarbutton-1,
toolbar[mode="icons"] .toolbarbutton-1,
toolbar[iconsize="small"] .toolbarbutton-1,
toolbar[mode="text"] .toolbarbutton-menubutton-button,
toolbar[mode="icons"] .toolbarbutton-menubutton-button,
toolbar[iconsize="small"] .toolbarbutton-menubutton-button {
  min-width: 0px;
  min-height: 0px;
}

toolbar[mode="text"] .toolbarbutton-menubutton-dropmarker {
  padding-top: 4px;
  padding-bottom: 8px;
  -moz-padding-start: 1px;
  -moz-padding-end: 1px;
}

toolbar[mode="icons"] .toolbarbutton-menubutton-dropmarker,
toolbar[iconsize="small"] .toolbarbutton-menubutton-dropmarker {
  padding-top: 0px;
  padding-bottom: 13px;
  -moz-padding-start: 1px;
  -moz-padding-end: 1px;
}

toolbar[mode="text"] .toolbarbutton-1[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker,
toolbar[mode="text"] .toolbarbutton-1[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker {
  padding-top: 5px;
  padding-bottom: 7px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

toolbar[mode="icons"] .toolbarbutton-1[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker,
toolbar[mode="icons"] .toolbarbutton-1[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker,
toolbar[iconsize="small"] .toolbarbutton-1[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker,
toolbar[iconsize="small"] .toolbarbutton-1[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker {
  padding-top: 1px;
  padding-bottom: 12px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

toolbar[mode="text"] .toolbarbutton-menubutton-dropmarker[disabled="true"] {
  padding-top: 4px !important;
  padding-bottom: 8px !important;
  -moz-padding-start: 1px !important;
  -moz-padding-end: 1px !important;
}

toolbar[mode="icons"] .toolbarbutton-menubutton-dropmarker[disabled="true"],
toolbar[iconsize="small"] > .toolbarbutton-menubutton-dropmarker[disabled="true"] {
  padding-top: 0px !important;
  padding-bottom: 13px !important;
  -moz-padding-start: 1px !important;
  -moz-padding-end: 1px !important;
}

toolbar[mode="icons"] .toolbarbutton-text,
toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 4px 0;
}

toolbar[mode="text"] .toolbarbutton-1,
toolbar[mode="text"] .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal;
}

toolbar[labelalign="end"] .toolbarbutton-1,
toolbar[labelalign="end"] .toolbarbutton-1 > .toolbarbutton-menubutton-button,
toolbar[labelalign="end"] .toolbarbutton-1 > hbox > vbox {
  -moz-box-orient: horizontal;
}

/* ::::: standard toolbar buttons ::::: */

.button-toolbar {
  -moz-user-focus: ignore;
  min-width: 0px;
  max-width: 10em;
  background-color: transparent;
}

/* ::::: taskbuttons ::::: */

.taskbutton,
.taskbutton:hover,
.taskbutton:hover:active {
  padding: 1px 3px;
  border: none;
}

.taskbutton:hover {
  background-color: #FFCF00;
}

.taskbutton:hover:active {
  background-color: #FFCF00;
}

/* override windows */

.toolbarbutton-icon[label]:not([label=""]),
.toolbarbutton-icon[type="menu"] {
  -moz-margin-start: 1px;
  -moz-margin-end: 2px;
}
