/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


html {
  background: #000000;
}

body {
  margin: 0;
  padding: 0 1em;
  color: #FF9F00;
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
}

h1 {
  margin: 0 0 .6em;
  border-bottom: 1px solid #008484;
  font-size: 160%;
  color: #FF0000;
}

h2 {
  font-size: 130%;
  background-color: #9C9CFF;
  color: #000000;
  border-radius: 8px;
  -moz-padding-start: 10px;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 2px solid #FFCF00;
  border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: url("chrome://global/skin/icons/sslWarning.png") left 0 no-repeat #000000;
  background-origin: content-box;
}

body[dir="rtl"] #errorPageContainer {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

#technicalContent > h2, #expertContent > h2 {
  -moz-padding-start: 20px;
  cursor: pointer;
  background-image: url("chrome://global/skin/tree/twisty-open-selected.gif");
  background-position: 5px center;
  background-repeat: no-repeat;
}

#technicalContent > h2:hover,
#technicalContent > h2:hover:active,
#expertContent > h2:hover,
#expertContent > h2:hover:active {
  background-color: #FFCF00;
}

#technicalContent[collapsed] > h2,
#expertContent[collapsed] > h2 {
  background-image: url("chrome://global/skin/tree/twisty-closed-selected.gif");
}

#technicalContent[collapsed] > p,
#expertContent[collapsed] > div {
  display: none;
}

#technicalContentText {
  overflow: auto;
  white-space: pre-wrap;
}
