/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("resource://gre-resources/forms.css");
@import url("resource://gre-resources/html.css");
@import url("chrome://communicator/skin/communicator.css");

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

*|*:root {
  --in-content-page-color: #FF9F00;
  --in-content-page-background: #000000;
  --in-content-text-color: #FF9F00;
  --in-content-selected-text: #000000;
  ---in-content-header-border-color: #c8c8c8;
  --in-content-box-background: #000000;
  ---in-content-box-background-odd: #f3f6fa;
  --in-content-box-background-hover: #FFCF00;
  --in-content-box-background-active: #FF9F00;
  --in-content-box-background-disabled: #402858;
  --in-content-box-border-color: #FF9F00;
  --in-content-button-background: #C09070;
  ---in-content-button-background-hover: -moz-buttonhoverface;
  ---in-content-button-color-hover: -moz-buttonhovertext;
  ---in-content-button-background-hover-active: ButtonFace;
  ---in-content-button-color-hover-active: ButtonText;
  ---in-content-item-hover: rgba(0,149,221,0.25);
  ---in-content-item-selected: #0095dd;
  ---in-content-border-highlight: #33FF33;
  --in-content-border-focus: #FFCF00;
  --in-content-border-color: #9C9CFF;
  --in-content-border-disabled: #8050B0;
  --in-content-border-dotted-color: 1px dotted #8050B0;
  --in-content-category-text: #FFCF00;
  --in-content-category-border-focus: 1px dotted #000000;
  --in-content-category-text-selected: #000000;
  --in-content-categorylist-background: #A09090;
  --in-content-category-background: #000000;
  --in-content-category-background-hover: #FFCF00;
  --in-content-category-background-active: #008484;
  ---in-content-tab-color: #424f5a;
  --in-content-link-color: #3333FF;
  --in-content-link-color-hover: #FFCF00;
  --in-content-link-color-active: #FF9F00;
  --in-content-link-color-visited: #6000CF;
  --in-content-primary-button-background: #A06060;
  --in-content-primary-button-background-hover: #FFCF00;
  --in-content-primary-button-background-active: #FF9F00;
  --in-content-table-background: #000000;
  --in-content-table-border-dark-color: #9C9CFF;
  --in-content-table-header-background: #A09090;
  --in-content-disabled-text: #8050B0;
}

html|html,
xul|page,
xul|window {
  font: message-box;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

html|body {
  font-size: inherit;
}

*|button {
  min-height: 0px;
}
