/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ===== toolbar.css ====================================================
  == Styles used by XUL grippytoolbar in addition to general toolbar styles.
  ======================================================================= */

toolbar[type="menubar"]:not([autohide="true"]):not([xpfe="false"]):not(:-moz-lwtheme):-moz-system-metric(menubar-drag) {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#grippytoolbar-drag");
}

/* ::::: primary toolbar ::::: */

.toolbar-primary > .toolbar-box > .toolbar-holder {
  background-color: #FF9F00;
}

.toolbar-primary > .toolbar-box > .toolbar-endcap {
  background-color: #9C9CFF;
}

.toolbar-primary > .toolbar-box > toolbargrippy {
  background-color: #9C9CFF;
}

.toolbar-primary > .toolbar-box > toolbargrippy:hover {
  background-color: #FFCF00;
}

/* ::::: solid background status bar panel ::::: */

.statusbarpanel-backgroundbox {
  -moz-box-align: stretch;
  padding: 0px;
}

.statusbarpanel-backgroundbox > .statusbarpanel-contentbox {
  padding: 0px 2px;
  -moz-box-align: center;
}
