/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: addressing widget ::::: */

#addressingWidget {
/*  height: 80px; */
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-user-focus: none;
  width: 0px;
}

#typecol-addressingWidget {
  min-width: 9em;
  border-right: 1px solid #CCD0DD;
}

#addressingWidget > listitem,
.addressingWidgetItem,
.dummyrow {
  border: none;
  background-color: inherit;
  color: inherit;
}

.addressingWidgetCell {
  border-bottom: 1px solid #CCD0DD;
  padding: 0px;
}

.addressingWidgetCell:first-child {
  border-top: none;
}

.dummy-row-cell:first-child {
  border-top: none;
  border-bottom: 1px solid #CCD0DD;
}

.person-icon {
  margin: 0px 3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.gif");
}
