/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* === BEGIN allDownloadsViewOverlay.inc.css === */

/*** View and outer controls ***/

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
  border: none;
}

/*** List items ***/

#downloadsRichListBox > richlistitem.download {
  height: var(--downloads-item-height);
  padding: 5px 8px;
}

.downloadTypeIcon {
  margin-top: 8px;
  margin-inline-end: 12px;
  margin-bottom: 8px;
  margin-inline-start: 0;
  width: 32px;
  height: 32px;
}

.downloadBlockedBadge {
  margin: 0 4px;
  background: url("chrome://browser/skin/downloads/download-blocked.svg") top right / 16px no-repeat;
}

.downloadBlockedBadge:-moz-locale-dir(rtl) {
  background-position-x: left;
}

richlistitem.download[verdict="PotentiallyUnwanted"] .downloadBlockedBadge {
  background-image: url("chrome://browser/skin/warning.svg");
}

richlistitem.download[verdict="Uncommon"] .downloadBlockedBadge {
  background-image: url("chrome://browser/skin/info.svg");
}

.downloadTarget {
  margin-bottom: 3px;
  cursor: inherit;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
  cursor: inherit;
}

.downloadButton {
  background: transparent;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
}

/* === END allDownloadsViewOverlay.inc.css === */

/*** List items ***/

:root {
  --downloads-item-height: 6em;
}

/*** Highlighted list items ***/

richlistitem.download:not([selected]):hover {
  border-radius: 3px;
  background-color: #794900;
  color: #FFCF00;
  cursor: pointer;
}

/*** Button icons ***/

.downloadButton.downloadIconCancel {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

richlistitem.download:hover > .downloadButton.downloadIconCancel,
richlistitem.download:hover > .downloadButton.downloadIconCancel:hover,
richlistitem.download:hover > .downloadButton.downloadIconCancel:active {
   -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.downloadButton.downloadIconShow {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

richlistitem.download:hover > .downloadButton.downloadIconShow,
richlistitem.download:hover > .downloadButton.downloadIconShow:hover,
richlistitem.download:hover > .downloadButton.downloadIconShow:active {
   -moz-image-region: rect(16px, 32px, 32px, 16px);
}

.downloadButton.downloadIconRetry {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}

richlistitem.download:hover > .downloadButton.downloadIconRetry,
richlistitem.download:hover > .downloadButton.downloadIconRetry:hover,
richlistitem.download:hover > .downloadButton.downloadIconRetry:active {
   -moz-image-region: rect(32px, 32px, 48px, 16px);
}

richlistitem.download[selected] > .downloadButton.downloadIconCancel,
richlistitem.download[selected]:hover > .downloadButton.downloadIconCancel,
richlistitem.download[selected]:hover > .downloadButton.downloadIconCancel:hover,
richlistitem.download[selected]:hover > .downloadButton.downloadIconCancel:active {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

richlistitem.download[selected] > .downloadButton.downloadIconShow,
richlistitem.download[selected]:hover > .downloadButton.downloadIconShow,
richlistitem.download[selected]:hover > .downloadButton.downloadIconShow:hover,
richlistitem.download[selected]:hover > .downloadButton.downloadIconShow:active {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

richlistitem.download[selected] > .downloadButton.downloadIconRetry,
richlistitem.download[selected]:hover > .downloadButton.downloadIconRetry,
richlistitem.download[selected]:hover > .downloadButton.downloadIconRetry:hover,
richlistitem.download[selected]:hover > .downloadButton.downloadIconRetry:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
