#sanitizeDurationChoice {
  -moz-margin-end: 0;
}

/* Align the duration label with the warning box and item list */
#sanitizeDurationLabel {
  -moz-margin-start: 3px;
}


/* Hide the duration dropdown suffix label if it's empty.  Otherwise it
   takes up a little space, causing the end of the dropdown to not be aligned
   with the warning box. */
#sanitizeDurationSuffixLabel[value=""] {
  display: none;
}


/* Places tree */
#placesTreechildren::-moz-tree-row(selected),
#placesTreechildren::-moz-tree-row(grippyRow) {
  background-color: #008484;
}

#placesTreechildren::-moz-tree-cell-text(selected) {
  color: #000000;
}


/* Sanitize everything warning box */
#sanitizeEverythingWarningBox {
  background-color: #000000;
  border: 1px solid #9C9CFF;
  border-radius: 5px;
  padding: 16px;
}

#sanitizeEverythingWarningIcon {
  list-style-image: url("chrome://global/skin/icons/alert-exclam.gif");
  padding: 0;
  margin: 0;
}

#sanitizeEverythingWarningDescBox {
  padding: 0 16px;
  margin: 0;
}


/* Progressive disclosure button */
#detailsExpanderWrapper {
  padding: 0;
  margin: 6px 0;
}

.expander-up,
.expander-down {
  min-width: 0;
  margin: 0;
}

.expander-up > .button-box,
.expander-down > .button-box {
  padding: 0;
}

.expander-up {
  list-style-image: url("chrome://global/skin/tree/twisty-open.gif");
}

.expander-up:hover {
  list-style-image: url("chrome://global/skin/tree/twisty-open-selected.gif");
}

.expander-down {
  list-style-image: url("chrome://global/skin/tree/twisty-closed.gif");
}


.expander-down:hover {
  list-style-image: url("chrome://global/skin/tree/twisty-closed-selected.gif");
}


/* Make the item list the same width as the warning box */
#itemList {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}


/* Align the last dialog button with the end of the warning box */
.prefWindow-dlgbuttons {
  -moz-margin-end: 0;
}
.dialog-button[dlgtype="cancel"] {
  -moz-margin-end: 0;
}
