/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#PopupSearchAutoComplete {
  margin-inline-start: -25px;
}

.autocomplete-textbox-container {
  -moz-box-align: stretch;
}

.textbox-input-box {
  margin: 0;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://global/skin/filepicker/file.gif");
  margin-inline-start: -1px;
}

/* ::::: search-go-button ::::: */

.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  padding: 1px;
  list-style-image: url("chrome://browser/skin/reload-stop-go.png");
  -moz-image-region: rect(0, 42px, 14px, 28px);
  width: 14px;
}

.search-go-button:-moz-locale-dir(rtl),
.search-go-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

.search-go-button:hover {
  -moz-image-region: rect(14px, 42px, 28px, 28px);
}

.search-go-button:hover:active {
  -moz-image-region: rect(14px, 42px, 28px, 28px);
}

.searchbar-search-button-container {
  -moz-box-align: center;
}

.searchbar-search-button {
  list-style-image: url("chrome://browser/skin/search-indicator.png");
  -moz-image-region: rect(0, 20px, 20px, 0);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-inline-start: 4px;
  border-radius: 3px;
}

.searchbar-search-button[addengines="true"] {
  list-style-image: url("chrome://browser/skin/search-indicator-badge-add.png");
}

.searchbar-search-button:hover,
.searchbar-search-button:hover:active {
  -moz-image-region: rect(0, 40px, 20px, 20px);
  background-color: #FFCF00;  
}

@media (min-resolution: 1.1dppx) {
  .search-go-button {
    list-style-image: url("chrome://browser/skin/reload-stop-go@2x.png");
    -moz-image-region: rect(0, 84px, 28px, 56px);
  }

  .search-go-button:hover {
    -moz-image-region: rect(28px, 84px, 56px, 56px);
  }

  .search-go-button:hover:active {
    -moz-image-region: rect(56px, 84px, 84px, 56px);
  }
}

.search-panel-current-engine {
  border-top: none !important;
  -moz-box-align: center;

  border-bottom: none;
}

.search-panel-tree {
  border-top: 1px solid #A09090 !important;
}

.search-panel-header {
  font-weight: normal;
  background-color: #A09090;
  border-top: 1px solid #000000;
  margin: 0;
  padding: 3px 6px;
  color: #000000;
}

.search-panel-current-input > label {
  margin: 0 0 !important;
}

.search-panel-input-value {
  color: black;
}

.search-panel-one-offs {
  margin: 0 0 !important;
  border-top: 1px solid #000000;
  line-height: 0;
}

.searchbar-engine-one-off-item {
  display: inline-block;
  border: none;
  border-radius: 0;
  min-width: 48px;
  height: 32px;
  margin: 0 0;
  padding: 0 0;
  background: none;
  background-image: url('chrome://browser/skin/search-oneoff-bg-border.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.searchbar-engine-one-off-item:not(.last-row) {
  box-sizing: content-box;
  border-bottom: 1px solid #9C9CFF;
}

.searchbar-engine-one-off-item.last-of-row {
  background-image: none;
}

.searchbar-engine-one-off-item[selected] {
  background-color: #008484;
  background-image: none;
}

.searchbar-engine-one-off-item > .button-box {
  border: none;
  padding: 0 0;
}

.searchbar-engine-one-off-item > .button-box > .button-text {
  display: none;
}

.searchbar-engine-one-off-item > .button-box > .button-icon {
  width: 16px;
  height: 16px;
}
 
.addengine-item {
  border: none;
/*  height: 32px;*/
  margin: 0 0;
  padding: 0 10px;
  border-radius: 0;
}

.addengine-item > .button-box {
  -moz-box-pack: start;
}

.addengine-item:first-of-type {
  border-top: 1px solid #000000;
}

.addengine-item[selected] {
  background-color: #FFCF00;
  color: #000000;
}

.addengine-icon {
  height: 16px;
  width: 16px;
}

.addengine-badge {
  width: 16px;
  height: 16px;
  margin: -7px -9px 7px 9px;
  list-style-image: url("chrome://browser/skin/badge-add-engine.png");
}

.addengine-item > .button-box > .button-text {
  -moz-box-flex: 1;
  text-align: start;
  padding-inline-start: 10px;
}

.addengine-item:not([image]) {
  list-style-image: url("chrome://browser/skin/search-engine-placeholder.png");
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-cell {
  padding-inline-start: 15px;
  border-top: none !important;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-cell-text {
  padding-inline-start: 4px;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image {
  padding-inline-start: 5px;
  width: 14px;
  height: 14px;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image(fromhistory) {
  list-style-image: url("chrome://browser/skin/search-history-icon.svg#search-history-icon");
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image(fromhistory, selected) {
  list-style-image: url("chrome://browser/skin/search-history-icon.svg#search-history-icon-active");
}

.search-setting-button {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: #C09070;
  -moz-border-top-colors: none;
/*  min-height: 32px;*/
}

.search-setting-button[selected] {
  background-color: #FFCF00;
  border-top-color: #000000;
}
