/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This Source Code Form is "Incompatible With Secondary Licenses", as
# defined by the Mozilla Public License, v. 2.0.
*/

.buttonBox {
  margin: 0 !important;
  -moz-margin-end: 3px !important;
}

.buttonBoxButton {
  border: 1px solid transparent;
  background-color: transparent;
  margin: 1px;
  margin-bottom: 0px;
  padding: 1px;
  list-style-image: url("chrome://browser/skin/pref/Options.png")
}

.buttonBoxButton > .button-box {
  border: none !important;
}

.buttonBoxButton > .button-box > .button-icon {
  width: 32px;
  height: 32px;
}

.buttonBoxButton:hover, .buttonBoxButton:focus {
  border: 1px solid #008484;
/*  background-color: #008484; */
  color: #FFCF00;
}

.buttonBoxButton[checked="true"] {
  border: 1px solid #9C9CFF;
  background-color: #008484;
  color: #FFCF00;
}

#catGeneralButton { list-style-image: url("chrome://browser/skin/pref/general.gif"); }
#catPrivacyButton { list-style-image: url("chrome://browser/skin/pref/privacy.gif"); }
#catFeaturesbutton { list-style-image: url("chrome://browser/skin/pref/features.gif"); }
#catDownloadsButton { list-style-image: url("chrome://browser/skin/pref/downloads.gif"); }
#catThemesButton { list-style-image: url("chrome://browser/skin/pref/themes.gif"); }
#catExtButton { list-style-image: url("chrome://browser/skin/pref/extensions.gif"); }
#catAdvancedButton { list-style-image: url("chrome://browser/skin/pref/advanced.gif"); }

expander {
  margin: 2px;
  border: 1px solid transparent;
}

#privacyCategories > expander[open="true"] {
  background-color: #E7ADE7;
  color: #000000;
  border: 1px solid #9C9CFF;
  border-radius: 3px;
}

.themesLink {
  -moz-margin-start: 0px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.themesLink:active {
  color: red;
}
