/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/global.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

window.dialog {
  padding: 0;
}

/* Make nice LCARS border */
.dialog-content-box {
  background-color: #A09090;
  border-radius: 5px 0 0 0;
}

.dialog-content-box:-moz-locale-dir(rtl) {
  border-radius: 0 5px 0 0;
}

#header {
  background-color: #9C9CFF;
  color: #000000;
  border: none;
  -moz-border-start: 3px solid #000000;
  border-radius: 0;
  -moz-margin-start: 37px;
}

.wizard-box {
  background-color: #000000;
  border-radius: 5px 0 0 0;
  -moz-margin-start: 5px;
}

.wizard-box:-moz-locale-dir(rtl) {
  border-radius: 0 5px 0 0;
}

.dialog-button-box {
  -moz-border-start: 5px solid #8050B0; /* match wizard-box margin */
  -moz-padding-start: 2px;
  margin-top: 3px;
}

treechildren::-moz-tree-image {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://communicator/skin/profile/profile.png");
  -moz-image-region: rect(0, 10px, 12px, 0);
}

treechildren::-moz-tree-image(selected) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://communicator/skin/profile/profile.png");
  -moz-image-region: rect(0, 20px, 12px, 10px);
}

treechildren::-moz-tree-image(rowMigrate-no) {
  list-style-image: url("chrome://communicator/skin/profile/migrate.gif");
  -moz-image-region: auto;
}

/* profile selection dialog */
html#intro {
  width: 17em;
}

box#managebuttons > button {
  min-width: 8em;
}

/* display area */
box#contentarea {
  border-top: 2px solid #9C9CFF;
  border-bottom: 2px solid #9C9CFF;
  padding: 7px;
}

/* top border on status area */
box#wizardButtons {
  padding-top: 1px;
  padding-bottom: 1px;
}

box.selection {
  margin-top: 4px;
}

description.error {
  color: #FF0000;
}
