/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/global.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Make nice LCARS border */
window.dialog {
  padding: 0;
}

.dialog-content-box {
  background-color: #A09090;
  border-radius: 5px 0 0 0;
}

.dialog-content-box:-moz-locale-dir(rtl) {
  border-radius: 0 5px 0 0;
}

#header {
  background-color: #9C9CFF;
  color: #000000;
  border: none;
  border-inline-start: 3px solid #000000;
  border-radius: 0;
  margin-inline-start: 37px;
}

.wizard-box {
  background-color: #000000;
  border-radius: 5px 0 0 0;
  margin-inline-start: 5px;
}

.wizard-box:-moz-locale-dir(rtl) {
  border-radius: 0 5px 0 0;
}

.dialog-button-box {
  border-inline-start: 5px solid #8050B0; /* match wizard-box margin */
  padding-inline-start: 2px;
  margin-top: 3px;
}

treechildren::-moz-tree-image {
  margin-inline-end: 2px;
  list-style-image: url("chrome://communicator/skin/profile/profile.png");
  -moz-image-region: rect(0, 10px, 12px, 0);
}

treechildren::-moz-tree-image(selected) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://communicator/skin/profile/profile.png");
  -moz-image-region: rect(0, 20px, 12px, 10px);
}

treechildren::-moz-tree-image(rowMigrate-no) {
  list-style-image: url("chrome://communicator/skin/profile/migrate.gif");
  -moz-image-region: auto;
}

/* profile selection dialog */
#intro,
#label {
  width: 17em;
}

#managebuttons > button {
  min-width: 8em;
}
