/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Toolbar and Toolbar items */

.devtools-toolbar {
}

.devtools-menulist,
.devtools-toolbarbutton {
}

.devtools-toolbarbutton > .toolbarbutton-menubutton-button {
  /*-moz-box-orient: horizontal;*/
}

devtools-menulist:-moz-focusring,
.devtools-toolbarbutton:-moz-focusring {
  outline: 1px dotted #008484;
}

.devtools-toolbarbutton > .toolbarbutton-icon {
}

.devtools-toolbarbutton:not([label]) {
  min-width: 20px;
}

.devtools-toolbarbutton:not([checked=true]):hover:active {
}

.devtools-menulist[open=true],
.devtools-toolbarbutton[open=true],
.devtools-toolbarbutton[checked=true] {
}

.devtools-toolbarbutton[checked=true] {
}

.devtools-toolbarbutton[checked=true]:hover:active {
}

.devtools-menulist > .menulist-label-box {
  text-align: center;
}

.devtools-menulist > .menulist-dropmarker {
}

.devtools-menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
}

/* LCARStrek checkbox colors don't work well against toolbar background */
.devtools-toolbar > checkbox {
  background-color: #000000;
  padding: 2px;
}

.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-button {
}

.devtools-toolbarbutton[type=menu-button]:-moz-locale-dir(rtl) > .toolbarbutton-menubutton-button {
}

.devtools-toolbarbutton[type=menu-button] {
  padding: 0 1px;
  -moz-box-align: stretch;
}

.devtools-toolbarbutton[type=menu] > .toolbarbutton-menu-dropmarker,
.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-dropmarker {
  -moz-box-align: center;
}

/* Search input */

/*
.devtools-searchinput {
  -moz-appearance: none;
  margin: 0 3px;
  border: 1px solid hsla(211,68%,6%,.6);
  box-shadow: inset 0 1px 0 hsla(211,68%,6%,.05), 0 0 0 1px hsla(210,40%,83%,.1);
  border-radius: 2px;
  background-color: transparent;
  background-image: url(magnifying-glass.png), -moz-linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
  background-repeat: no-repeat;
  background-position: 4px center, top left, top left;
  padding-top: 0;
  padding-bottom: 0;
  -moz-padding-start: 18px;
  -moz-padding-end: 12px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
  color: inherit;
}

.devtools-searchinput[focused] {
  border-color: hsl(200,70%,40%) hsl(200,75%,37%) hsl(200,80%,35%);
  background-origin: padding-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 1px hsla(211,68%,6%,.1);
}

.devtools-searchinput:-moz-locale-dir(rtl) {
  background-position: calc(100% - 4px) center, top left, top left;
}

.devtools-searchinput > .textbox-input-box > .textbox-search-icons {
  display: none;
}

.devtools-searchinput > .textbox-input-box > .textbox-input:-moz-placeholder {
  color: hsl(208,10%,66%);
}
*/

/* Close button */

.devtools-closebutton {
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
  min-width: 16px;
  width: 16px;
}

.devtools-closebutton > .toolbarbutton-text {
  display: none;
}

.devtools-closebutton:hover,
.devtools-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/close-button-hover.gif");
}

/* Splitters */

.devtools-horizontal-splitter {
  border: none;
  min-height: 3px;
  height: 3px;
  position: relative;
}

#devtools-side-splitter {
  border: 0;
  min-width: 0;
  width: 3px;
  position: relative;
}
