/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.gcli-body {
  margin: 0;
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
  color: #FF9F00;
}

#gcli-output-root,
#gcli-tooltip-root {
  border: 1px solid #008484;
  background-color: #000000;
  border-radius: 3px;
}

#gcli-output-root {
  padding: 5px 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#gcli-tooltip-root {
  padding: 5px 0px;
}

#gcli-tooltip-connector {
  margin-top: -1px;
  margin-left: 8px;
  width: 20px;
  height: 10px;
  border-left: 1px solid #008484;
  border-right: 1px solid #008484;
  background-color: #000000;
}

.gcli-tt-description,
.gcli-tt-error {
  padding: 0 10px;
}

.gcli-row-out {
  padding: 0 5px;
  line-height: 1.2em;
  border-top: none;
  border-bottom: none;
  color: #9C9CFF;
}

.gcli-row-out p,
.gcli-row-out h1,
.gcli-row-out h2,
.gcli-row-out h3 {
  margin: 5px 0;
}

.gcli-row-out h1,
.gcli-row-out h2,
.gcli-row-out h3,
.gcli-row-out h4,
.gcli-row-out h5,
.gcli-row-out th,
.gcli-row-out strong,
.gcli-row-out pre {
  color: #FFCF00;
}

.gcli-row-out pre {
  font-size: 80%;
}

.gcli-row-out td {
  white-space: nowrap;
}

.gcli-out-shortcut,
.gcli-help-synopsis {
  padding: 0 3px;
  margin: 0 4px;
  font-weight: normal;
  font-size: 90%;
  border-radius: 3px;
  background-color: #000000;
  color: #E7ADE7;
  border: 1px solid #8050B0;
}

.gcli-out-shortcut:before,
.gcli-help-synopsis:before {
  color: #FFCF00;
  -moz-padding-end: 2px;
}

.gcli-help-arrow {
  color: #008484;
}

.gcli-help-description {
  margin: 0 20px;
  padding: 0;
}

.gcli-help-parameter {
  margin: 0 30px;
  padding: 0;
}

.gcli-help-header {
  margin: 10px 0 6px;
}

.gcli-menu-name {
  -moz-padding-start: 8px;
}

.gcli-menu-desc {
  -moz-padding-end: 8px;
  color: #FF9F00;
}

.gcli-menu-option:hover,
.gcli-menu-highlight.gcli-menu-option:hover {
  background-color: #FFCF00;
  color: #000000;
}

.gcli-menu-highlight {
  background-color: #795900;
}

.gcli-menu-typed {
  color: #008484;
}

.gcli-menu-more {
  font-size: 80%;
  text-align: right;
  -moz-padding-end: 8px;
}

.gcli-addon-disabled {
  opacity: 0.6;
  text-decoration: line-through;
}

.gcli-breakpoint-label {
  font-weight: bold;
}

.gcli-breakpoint-lineText {
  font-family: "Liberation Mono", Consolas, "Courier New", monospace;
}
