/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Font for code */
.devtools-monospace {
  font: 12px "Liberation Mono", Consolas, "Courier New", monospace;
}

/* Toolbar and Toolbar items */

.devtools-toolbar {
}

.devtools-menulist,
.devtools-toolbarbutton {
}

.devtools-toolbarbutton > .toolbarbutton-menubutton-button {
  /*-moz-box-orient: horizontal;*/
}

devtools-menulist:-moz-focusring,
.devtools-toolbarbutton:-moz-focusring {
  outline: 1px dotted #008484;
}

.devtools-toolbarbutton > .toolbarbutton-icon {
}

.devtools-toolbarbutton:not([label]) {
  min-width: 20px;
}

.devtools-toolbarbutton:not([label]) > .toolbarbutton-text {
  display: none;
}

.devtools-toolbarbutton:not([checked=true]):hover:active {
}

.devtools-menulist[open=true],
.devtools-toolbarbutton[open=true],
.devtools-toolbarbutton[checked=true] {
}

.devtools-toolbarbutton[checked=true] {
}

.devtools-toolbarbutton[checked=true]:hover:active {
}

.devtools-option-toolbarbutton {
  list-style-image: url("chrome://browser/skin/devtools/option-icon.png");
  -moz-image-region: rect(0px 16px 16px 0px);
/*  background: none;
  border: none; */
}

.devtools-option-toolbarbutton:hover,
.devtools-option-toolbarbutton[open=true] {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.devtools-menulist > .menulist-label-box {
  text-align: center;
}

.devtools-menulist > .menulist-dropmarker {
}

.devtools-menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
}

/* LCARStrek checkbox colors don't work well against toolbar background */
.devtools-toolbar > checkbox {
  background-color: #000000;
  padding: 2px;
}

.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-button {
}

.devtools-toolbarbutton[type=menu-button]:-moz-locale-dir(rtl) > .toolbarbutton-menubutton-button {
}

.devtools-toolbarbutton[type=menu-button] {
  padding: 0 1px;
  -moz-box-align: stretch;
}

.devtools-toolbarbutton[type=menu] > .toolbarbutton-menu-dropmarker,
.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-dropmarker {
  -moz-box-align: center;
}

/* Text input */

.devtools-textinput,
.devtools-searchinput {
  -moz-appearance: none;
/*  margin: 0 3px;
  min-height: 22px;
  border: 1px solid hsla(211,68%,6%,.6);
  box-shadow: inset 0 1px 0 hsla(211,68%,6%,.05), 0 0 0 1px hsla(210,40%,83%,.1);
  border-radius: 2px;
  background-color: transparent;
  background-image: linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
  padding: 3px;*/
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
/*  color: inherit; */
}

.devtools-searchinput {
  background-image: url("magnifying-glass.png")/*, linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35))*/;
  background-repeat: no-repeat;
  background-position: 4px center, top left, top left;
/*  padding-top: 0;
  padding-bottom: 0;*/
  -moz-padding-start: 18px;
  -moz-padding-end: 12px;
  font-size: inherit;
}

.devtools-searchinput[focused] {
/*  border-color: hsl(200,70%,40%) hsl(200,75%,37%) hsl(200,80%,35%);
  background-origin: padding-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 1px hsla(211,68%,6%,.1);*/
}

.devtools-searchinput:-moz-locale-dir(rtl) {
  background-position: calc(100% - 4px) center, top left, top left;
}

.devtools-searchinput > .textbox-input-box > .textbox-search-icons {
  display: none;
}

.devtools-searchinput > .textbox-input-box > .textbox-input::-moz-placeholder {
/*  color: hsl(208,10%,66%);*/
}

.devtools-no-search-result {
/*  box-shadow: inset 0 0 0 1px hsla(0,68%,6%,.35);
  border-color: hsl(10,70%,40%) hsl(10,75%,37%) hsl(10,80%,35%) !important;*/
  background-image: url("magnifying-glass.png"), linear-gradient(rgba(255,0,0,.15), rgba(255,0,0,.35));
}

/* Close button */

.devtools-closebutton {
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
  min-width: 16px;
  width: 16px;
}

.devtools-closebutton > .toolbarbutton-text {
  display: none;
}

.devtools-closebutton:hover,
.devtools-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/close-button-hover.gif");
}

/* Splitters */

.devtools-horizontal-splitter {
  min-height: 3px;
  height: 3px;
  position: relative;
}

#devtools-side-splitter {
  min-width: 0;
  width: 3px;
  border: none;
  margin: 0 3px;
  position: relative;
  cursor: e-resize;
}

/* In-tools sidebar */

.devtools-toolbox-side-iframe {
  min-width: 465px;
}

.devtools-sidebar-tabs {
}

.devtools-sidebar-tabs > tabpanels {
  padding: 0;
  border: 0;
}

.devtools-sidebar-tabs > tabs {
  position: static;
  overflow: hidden;
}

.devtools-sidebar-tabs > tabs > .tabs-right,
.devtools-sidebar-tabs > tabs > .tabs-left {
  display: none;
}

.devtools-sidebar-tabs > tabs > tab {
  min-width: 78px;
  text-align: center;
  -moz-box-flex: 1;
  position: static;
  margin-top: 0;
}

.devtools-sidebar-tabs > tabs > tab:-moz-focusring {
  position: static;
}

.devtools-sidebar-tabs > tabs > tab:last-of-type {
  -moz-border-end-width: 0;
}

.devtools-sidebar-tabs > tabs > tab:first-of-type {
  -moz-margin-start: 0;
}

.devtools-sidebar-tabs > tabs > tab {
}

.devtools-sidebar-tabs:-moz-locale-dir(rtl) > tabs > tab {
}

.devtools-sidebar-tabs > tabs > tab {
}

.devtools-sidebar-tabs > tabs > tab:hover {
}

.devtools-sidebar-tabs > tabs > tab:hover:active {
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab {
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab:hover {
}

.devtools-sidebar-tabs > tabs > tab[selected=true] + tab:hover:active {
}

.devtools-sidebar-tabs > tabs > tab[selected=true] {
}

.devtools-sidebar-tabs > tabs > tab[selected=true]:hover {
}

.devtools-sidebar-tabs > tabs > tab[selected=true]:hover:active {
}

/* === BEGIN common.inc.css === */

/* Autocomplete Popup */
/* Dark and light theme */

.devtools-autocomplete-popup {
  border: 1px solid #FF9F00;
  background-color: #000000;
  border-radius: 3px;
  overflow-x: hidden;
  max-height: 40rem;
}

.devtools-autocomplete-listbox {
  background-color: transparent;
  border-width: 0px !important;
}

.devtools-autocomplete-listbox > richlistitem,
.devtools-autocomplete-listbox > richlistitem[selected] {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected],
.devtools-autocomplete-listbox.dark-theme > richlistitem:hover {
/*  background-color: rgba(0,0,0,0.5); */
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.dark-theme > richlistitem[selected] > .initial-value {
/*  color: hsl(208,100%,60%);*/
}

.devtools-autocomplete-listbox.dark-theme > richlistitem[selected] > label {
/*  color: #eee;*/
}

.devtools-autocomplete-listbox.dark-theme > richlistitem > label {
/*  color: #ccc;*/
}

.devtools-autocomplete-listbox > richlistitem > .initial-value,
.devtools-autocomplete-listbox > richlistitem > .autocomplete-value {
  margin: 0;
  padding: 1px 0;
}

.devtools-autocomplete-listbox > richlistitem > .autocomplete-count {
  text-align: right;
}

/* Rest of the light theme */

.devtools-autocomplete-popup.light-theme {
}

.devtools-autocomplete-listbox.light-theme > richlistitem[selected],
.devtools-autocomplete-listbox.light-theme > richlistitem:hover {
/*  background-color: rgba(128,128,128,0.3); */
}

.devtools-autocomplete-listbox.light-theme > richlistitem[selected] > .autocomplete-value,
.devtools-autocomplete-listbox:focus.light-theme > richlistitem[selected] > .initial-value {
/*  color: #222;*/
}

.devtools-autocomplete-listbox.light-theme > richlistitem > label {
/*  color: #666;*/
}

/* Responsive container */

.devtools-responsive-container {
  -moz-box-orient: horizontal;
}

@media (max-width: 700px) {
  .devtools-responsive-container {
    -moz-box-orient: vertical;
  }

  .devtools-responsive-container > .devtools-side-splitter {
    border: 0;
    margin: 3px 0;
    min-height: 3px;
    height: 3px;
    /* In some edge case the cursor is not changed to n-resize */
    cursor: n-resize;
  }

  .devtools-responsive-container > .devtools-sidebar-tabs {
    min-height: 35vh;
    max-height: 75vh;
  }
}

/* Tooltip widget (see browser/devtools/shared/widgets/Tooltip.js) */

.devtools-tooltip.devtools-tooltip-tooltip {
  /* If the tooltip uses a <tooltip> XUL element */
  padding: 4px;
  background: #A09090;
  border-radius: 3px;
}

.devtools-tooltip .panel-arrowcontent {
  /* If the tooltip uses a <panel> XUL element instead */
  padding: 4px;
}

.devtools-tooltip .panel-arrowcontainer {
  /* Reseting the transition used when panels are shown */
  transition: none;
  /* Panels slide up/down/left/right when they appear using a transform.
  Since we want to remove the transition, we don't need to transform anymore
  plus it can interfeer by causing mouseleave events on the underlying nodes */
  transform: none;
}

.devtools-tooltip[clamped-dimensions] {
  max-height: 400px;
  max-width: 400px;
}
.devtools-tooltip[clamped-dimensions] .panel-arrowcontent {
  overflow: hidden;
}

/* Tooltip: Simple Text */

.devtools-tooltip-simple-text {
  background: #000000;
  max-width: 400px;
  margin: 0 -4px; /* Compensate for the .panel-arrowcontent padding. */
  padding: 8px 12px;
  white-space: pre-wrap;
}

.devtools-tooltip-simple-text:first-child {
  margin-top: -4px;
}

.devtools-tooltip-simple-text:last-child {
  margin-bottom: -4px;
}

.devtools-tooltip-simple-text {
  background-color: #000000;
  max-width: 400px;
  margin: 0 -4px; /* Compensate for the .panel-arrowcontent padding. */
  padding: 8px 12px;
  white-space: pre-wrap;
}

.devtools-tooltip-simple-text:first-child {
  margin-top: -4px;
}

.devtools-tooltip-simple-text:last-child {
  margin-bottom: -4px;
}

/* Tooltip: Variables View */

.devtools-tooltip-variables-view-box {
  margin: -4px; /* Compensate for the .panel-arrowcontent padding. */
}

/* Tooltip: Tiles */

.devtools-tooltip-tiles {
  background-color: #A09090;
  background-image: linear-gradient(45deg, #9C9CFF 25%, transparent 25%, transparent 75%, #9C9CFF 75%, #9C9CFF),
    linear-gradient(45deg, #9C9CFF 25%, transparent 25%, transparent 75%, #9C9CFF 75%, #9C9CFF);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

/* === END common.inc.css === */
