/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* According to:
 * https://bugzilla.mozilla.org/show_bug.cgi?id=715472#c17
 */
.theme-body {
  background: #000000;
  color: #FF9F00;
}

.theme-sidebar {
  background: #000000;
  color: #FF9F00;
}

::-moz-selection {
  background-color: #008484;
  color: #FFCF00;
}

.theme-bg-darker {
  background-color: rgba(0,0,0,0.5);
}

.theme-selected,
.CodeMirror-hint-active {
  background: #004242;
  color: #FF9F00; /* Light foreground text */
}

.theme-bg-contrast,
.variable-or-property:not([overridden])[changed] { /* contrast bg color to attract attention on a container */
  background: #402800;
}

.theme-link,
.cm-s-mozilla .cm-link { /* original: blue */
  color: #3333FF;
}

/*
 * FIXME: http://bugzil.la/575675 CSS links without :visited set cause assertion
 * failures in debug builds.
 */
.theme-link:visited,
.cm-s-mozilla .cm-link:visited,
.CodeMirror-Tern-type { /* original: blue */
  color: #3333FF;
}

.theme-comment,
.cm-s-mozilla .cm-meta,
.cm-s-mozilla .cm-hr,
.cm-s-mozilla .cm-comment,
.variable-or-property .token-undefined,
.variable-or-property .token-null { /* original: grey */
  color: #A09090;
}

.CodeMirror-Tern-completion-unknown:before {
  background-color: #A09090;
}

.theme-gutter {
  background-color: #000000;
  color: #FF9F00;
  border-color: #9C9CFF;
}

.theme-separator { /* original: grey */
  border-color: #8050B0;
}

.theme-fg-color1,
.cm-s-mozilla .cm-number,
.variable-or-property .token-number,
.variable-or-property[return] > .title > .name,
.variable-or-property[scope] > .title > .name { /* original: green */
  color: #008484;
}

.CodeMirror-Tern-completion-number:before {
  background-color: #008484;
}

.theme-fg-color2,
.cm-s-mozilla .cm-attribute,
.cm-s-mozilla .cm-variable,
.cm-s-mozilla .cm-def,
.cm-s-mozilla .cm-property,
.cm-s-mozilla .cm-qualifier,
.variables-view-variable > .title > .name { /* original: blue */
  color: #9C9CFF;
}

.CodeMirror-Tern-completion-object:before {
  background-color: #9C9CFF;
}

.cm-s-mozilla .cm-unused-line {
  text-decoration: line-through;
  -moz-text-decoration-color: #8050B0;
}

.cm-s-mozilla .cm-executed-line {
  background-color: #404000;
}

.theme-fg-color3,
.cm-s-mozilla .cm-builtin,
.cm-s-mozilla .cm-tag,
.cm-s-mozilla .cm-header,
.variables-view-property > .title > .name,
.variable-or-property[safe-getter] > .title > .name { /* original: pink/lavender */
  color: #E7ADE7;
}

.CodeMirror-Tern-completion-array:before {
  background-color: #E7ADE7;
}

.theme-fg-color4 { /* original: purple/violet */
  color: #C09070;
}

.theme-fg-color5,
.cm-s-mozilla .cm-bracket,
.cm-s-mozilla .cm-keyword { /* original: Yellow */
  color: #FFCF00;
}

.theme-fg-color6,
.cm-s-mozilla .cm-string,
.cm-s-mozilla .cm-string-2,
.variable-or-property .token-string,
.CodeMirror-Tern-farg { /* original: Orange */
  color: #E7ADE7;
}

.CodeMirror-Tern-completion-string:before,
.CodeMirror-Tern-completion-fn:before {
  background-color: #E7ADE7;
}

.theme-fg-color7,
.cm-s-mozilla .cm-atom,
.cm-s-mozilla .cm-quote,
.cm-s-mozilla .cm-error,
.variable-or-property .token-boolean,
.variable-or-property .token-domnode,
.variable-or-property[exception] > .title > .name { /* original: Red */
  color: #FF0000;
}

.CodeMirror-Tern-completion-bool:before {
  background-color: #FF0000;
}

.variable-or-property .token-domnode {
  font-weight: bold;
}

.theme-toolbar,
.devtools-toolbar,
.devtools-sidebar-tabs > tabs,
.CodeMirror-dialog { /* General toolbar styling */
}


.theme-fg-contrast { /* To be used for text on theme-bg-contrast */
  color: #FFCF00;
}

.ruleview-colorswatch,
.computedview-colorswatch {
/*  box-shadow: 0 0 0 1px #818181; */
}

.variables-view-scope:focus > .title,
.variable-or-property:focus > .title {
  background-color: #008484; /* fg-color2 */
  color: #000000;
}

/* CodeMirror specific styles.
 * Best effort to match the existing theme, some of the colors
 * are duplicated here to prevent weirdness in the main theme. */

.CodeMirror { /* Inherit platform specific font sizing and styles */
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

.CodeMirror pre,
.cm-s-mozilla .cm-variable-2,
.cm-s-mozilla .cm-variable-3,
.cm-s-mozilla .cm-operator,
.cm-s-mozilla .cm-special { /* theme-body color */
  color: #FF9F00;
}

.cm-s-mozilla .CodeMirror-lines .CodeMirror-cursor {
  border-left: solid 1px #FF9F00;
}

.cm-s-mozilla.CodeMirror-focused .CodeMirror-selected { /* selected text (focused) */
  background: #008484;
  color: #FFCF00;
}

.cm-s-mozilla .CodeMirror-selected { /* selected text (unfocused) */
  background: #008484;
  color: #000000;
}

.cm-s-mozilla .CodeMirror-activeline-background { /* selected color with alpha */
  background: rgba(0, 132, 132, .25);
}

div.cm-s-mozilla span.CodeMirror-matchingbracket { /* highlight brackets */
  outline: solid 1px rgba(0, 132, 132, .4);
  color: #FFCF00;
}

/* Highlight for a line that contains an error. */
div.CodeMirror div.error-line {
  background: rgba(255, 0, 0, 0.2);
}

/* Highlight for a line that represents a stack frame's location. */
div.CodeMirror div.debug-line {
  background: rgba(156, 156, 255, 0.2);
}

/* Generic highlighted text */
div.CodeMirror span.marked-text {
  background: rgba(255,207,0,0.2);
  border: 1px dashed rgba(156, 156, 255, 0.6);
  -moz-margin-start: -1px;
  -moz-margin-end: -1px;
}

/* Highlight for evaluating current statement. */
div.CodeMirror span.eval-text {
  background-color: #403800;
}

.cm-s-mozilla .CodeMirror-linenumber { /* line number text */
  color: #A09090;
}

.cm-s-mozilla .CodeMirror-gutters { /* vertical line next to line numbers */
  border-right-color: #A09090;
  background-color: #402800;
}

.cm-s-markup-view pre {
  line-height: 1.4em;
  min-height: 1.4em;
}

/* Twisty and checkbox controls */
.theme-twisty, .theme-checkbox {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-size: 28px 28px;
}

.theme-twisty {
  cursor: pointer;
  background-position: -0px -14px;
}

.theme-twisty:-moz-focusring {
  outline-style: none;
}

.theme-twisty[open] {
  background-position: -14px -14px;
}

.theme-checkbox {
  display: inline-block;
  border: 0;
  padding: 0;
  outline: none;
  background-position: 0 0;
}

.theme-checkbox[checked] {
  background-position: -14px 0;
}

@media (min-resolution: 2dppx) {
  .theme-twisty, .theme-checkbox {
    background-image: url("chrome://browser/skin/devtools/controls@2x.png");
  }
}

/* XUL panel styling (see browser/devtools/shared/widgets/Tooltip.js) */

.theme-tooltip-panel .panel-arrowcontent {
/*  padding: 5px; */
  background: rgba(0, 0, 0, .9);
/*  border-radius: 5px;
  box-shadow: none;
  border: 3px solid #9C9CFF; */
}

/* Overring panel arrow images to fit with our light and dark themes */
/*
.theme-tooltip-panel .panel-arrow[side="top"] {
  list-style-image: url("chrome://browser/skin/devtools/tooltip/arrow-vertical-dark.png");
  margin-bottom: -4px;
}

.theme-tooltip-panel .panel-arrow[side="bottom"] {
  list-style-image: url("chrome://browser/skin/devtools/tooltip/arrow-vertical-dark.png");
  margin-top: -4px;
}

.theme-tooltip-panel .panel-arrow[side="left"] {
  list-style-image: url("chrome://browser/skin/devtools/tooltip/arrow-horizontal-dark.png");
  margin-right: -4px;
}

.theme-tooltip-panel .panel-arrow[side="right"] {
  list-style-image: url("chrome://browser/skin/devtools/tooltip/arrow-horizontal-dark.png");
  margin-left: -4px;
}

@media (min-resolution: 2dppx) {
  .theme-tooltip-panel .panel-arrow[side="top"],
  .theme-tooltip-panel .panel-arrow[side="bottom"] {
    list-style-image: url("chrome://browser/skin/devtools/tooltip/arrow-vertical-dark@2x.png");
  }

  .theme-tooltip-panel .panel-arrow[side="left"],
  .theme-tooltip-panel .panel-arrow[side="right"] {
    list-style-image: url("chrome://browser/skin/devtools/tooltip/arrow-horizontal-dark@2x.png");
  }
}
*/
.theme-tooltip-panel .devtools-tooltip-simple-text {
/*  color: white; */
  border-bottom: 1px solid #A09090;
}

.theme-tooltip-panel .devtools-tooltip-simple-text:last-child {
 border-bottom: 0;
}

.devtools-horizontal-splitter {
}

.devtools-side-splitter {
}

.devtools-textinput,
.devtools-searchinput {
  background-color: #000000;
  color: #E7ADE7;
}

.CodeMirror-Tern-fname {
  color: #A09090;
}

.CodeMirror-hints,
.CodeMirror-Tern-tooltip {
  background-color: #000000;
  color: #FF9F00;
}

/* === BEGIN toolbars.inc.css === */

.devtools-toolbar {
}

/* LCARStrek checkbox colors don't work well against toolbar background */
.devtools-toolbar > checkbox {
  background-color: #000000;
  padding: 2px;
}

devtools-menulist:-moz-focusring,
.devtools-toolbarbutton:-moz-focusring {
  outline: 1px dotted #008484;
}

.devtools-toolbarbutton > .toolbarbutton-icon {
}

.devtools-toolbarbutton:not([label]) {
  min-width: 20px;
}

.devtools-toolbarbutton:not([label]) > .toolbarbutton-text {
  display: none;
}

.devtools-toolbarbutton > .toolbarbutton-menubutton-button {
  /*-moz-box-orient: horizontal;*/
}

.devtools-menulist,
.devtools-toolbarbutton {
}

.devtools-toolbarbutton:not([checked]):hover:active {
}

.devtools-menulist[open=true],
.devtools-toolbarbutton[open=true],
.devtools-toolbarbutton[checked] {
}

.devtools-toolbarbutton[checked] {
}

.devtools-toolbarbutton[checked]:hover:active {
}

.devtools-option-toolbarbutton {
  list-style-image: url("chrome://browser/skin/devtools/tool-options-tbutton.svg");
/*  background: none;
  border: none; */
}

.devtools-option-toolbarbutton:hover,
.devtools-option-toolbarbutton[open=true] {
  list-style-image: url("chrome://browser/skin/devtools/tool-options.svg");
}

.devtools-menulist > .menulist-label-box {
  text-align: center;
}

.devtools-menulist > .menulist-dropmarker {
}

.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-button {
}

.devtools-toolbarbutton[type=menu-button]:-moz-locale-dir(rtl) > .toolbarbutton-menubutton-button {
}

.devtools-toolbarbutton[type=menu-button] {
  padding: 0 1px;
  -moz-box-align: stretch;
}

.devtools-toolbarbutton[type=menu] > .toolbarbutton-menu-dropmarker,
.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-dropmarker {
  -moz-box-align: center;
}

/* Toolbar button groups */
.devtools-toolbarbutton-group > .devtools-toolbarbutton {
}

.devtools-toolbarbutton-group > .devtools-toolbarbutton:last-of-type {
}

.devtools-toolbarbutton-group {
/*
  margin: 0 2px;
  -moz-padding-end: 2px;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
*/
}

/* Text input */

.devtools-textinput,
.devtools-searchinput {
/*  -moz-appearance: none;
  margin: 0 3px;
  border: 1px solid rgb(88, 94, 101);
  border-radius: 2px;
  background-color: rgba(24, 29, 32, 1);
  padding: 4px 6px;
  color: rgba(184, 200, 217, 1);*/
}

.devtools-searchinput {
/*  padding-top: 3px;
  padding-bottom: 3px;*/
  -moz-padding-start: 22px;
  -moz-padding-end: 12px;
  background-position: 8px center;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  font-size: inherit;

  background-image: url("magnifying-glass.png");
}

@media (min-resolution: 2dppx) {
  .devtools-searchinput {
    background-image: url("magnifying-glass@2x.png");
  }
}

.devtools-searchinput:-moz-locale-dir(rtl) {
  background-position: calc(100% - 8px) center;
}

.devtools-searchinput > .textbox-input-box > .textbox-search-icons {
  display: none;
}

.devtools-no-search-result {
  border-color: #FF0000 !important;
}

/* Close button */

.devtools-closebutton {
  min-width: 16px;
  width: 16px;
}

.devtools-closebutton > image {
  width: 16px;
  height: 16px;
  -moz-appearance: none;
  background-size: 32px 16px;
  background-image: url("chrome://browser/skin/devtools/close@2x.png");
  background-position: 0 center;
  background-repeat: no-repeat;
}

.devtools-closebutton:hover > image,
.devtools-closebutton:hover:active > image {
  background-position: -16px center;
}

.devtools-closebutton > .toolbarbutton-text {
  display: none;
}

/* In-tools sidebar */

.devtools-sidebar-tabs {
}

.devtools-sidebar-tabs > tabpanels {
  padding: 0;
  border: 0;
}

.devtools-sidebar-tabs > tabs {
  position: static;
  overflow: hidden;
}

.devtools-sidebar-tabs > tabs > .tabs-right,
.devtools-sidebar-tabs > tabs > .tabs-left {
  display: none;
}

.devtools-sidebar-tabs > tabs > tab {
  min-width: 78px;
  text-align: center;
  -moz-box-flex: 1;
  position: static;
  margin-top: 0;
}

.devtools-sidebar-tabs > tabs > tab:-moz-focusring {
  position: static;
}

.devtools-sidebar-tabs > tabs > tab:last-of-type {
  -moz-border-end-width: 0;
}

.devtools-sidebar-tabs > tabs > tab:first-of-type {
  -moz-margin-start: 0;
}

.devtools-sidebar-tabs > tabs > tab {
}

.devtools-sidebar-tabs > tabs > tab:not(:last-of-type) {
}

.devtools-sidebar-tabs:-moz-locale-dir(rtl) > tabs > tab {
}

.devtools-sidebar-tabs > tabs > tab {
}

.devtools-sidebar-tabs > tabs > tab:hover {
}

.devtools-sidebar-tabs > tabs > tab:hover:active {
}

.devtools-sidebar-tabs > tabs > tab[selected] + tab {
}

.devtools-sidebar-tabs > tabs > tab[selected] + tab:hover {
}

.devtools-sidebar-tabs > tabs > tab[selected] + tab:hover:active {
}

.devtools-sidebar-tabs > tabs > tab[selected] {
}

.devtools-sidebar-tabs > tabs > tab[selected]:hover {
}

.devtools-sidebar-tabs > tabs > tab[selected]:hover:active {
}

/* Toolbox - moved from toolbox.css.
 * Rules that apply to the global toolbox like command buttons,
 * devtools tabs, docking buttons, etc. */

#toolbox-controls > toolbarbutton,
#toolbox-dock-buttons > toolbarbutton {
  min-width: 16px;
/*  padding: 1px 3px; */
}

#toolbox-dock-buttons > toolbarbutton > image {
  width: 16px;
  height: 16px;
  background-size: 32px 16px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
 
#toolbox-dock-buttons > toolbarbutton:hover > image {
  background-position: -16px center;
}
 
#toolbox-dock-bottom > image {
  background-image: url("chrome://browser/skin/devtools/dock-bottom@2x.png");
}
 
#toolbox-dock-side > image {
  background-image: url("chrome://browser/skin/devtools/dock-side@2x.png");
}

#toolbox-dock-window > image {
  background-image: url("chrome://browser/skin/devtools/undock@2x.png");
}

#toolbox-dock-window,
#toolbox-dock-bottom,
#toolbox-dock-side {
}

#toolbox-dock-window:hover,
#toolbox-dock-bottom:hover,
#toolbox-dock-side:hover {
}

#toolbox-controls-separator {
  width: 2px;
}

#toolbox-buttons:empty + #toolbox-controls-separator,
#toolbox-controls-separator[invisible] {
  visibility: hidden;
}

/* Command buttons */

.command-button {
/*  padding: 1px 4px; */
  min-width: 16px;
}

.command-button:hover {
}
.command-button:hover:active {
}

.command-button > image {
  width: 16px;
  height: 16px;
  background-size: 32px 16px;
  background-position: 0 center;
  background-repeat: no-repeat;
}

.command-button:hover > image,
.command-button:hover:active > image,
.command-button[checked=true] > image {
  background-position: -16px center;
}

#command-button-paintflashing > image {
  background-image: url("chrome://browser/skin/devtools/command-paintflashing.png");
}

#command-button-screenshot > image {
  background-image: url("chrome://browser/skin/devtools/command-screenshot.png");
}

#command-button-responsive > image {
  background-image: url("chrome://browser/skin/devtools/command-responsivemode.png");
}

#command-button-tilt > image {
  background-image: url("chrome://browser/skin/devtools/command-tilt.png");
}

#command-button-scratchpad > image {
  background-image: url("chrome://browser/skin/devtools/command-scratchpad.png");
}

#command-button-pick > image {
  background-image: url("chrome://browser/skin/devtools/command-pick.png");
}

#command-button-splitconsole > image {
  background-image: url("chrome://browser/skin/devtools/command-console.png");
}

#command-button-eyedropper > image {
  background-image: url("chrome://browser/skin/devtools/command-eyedropper.png");
}

@media (min-resolution: 2dppx) {
  #command-button-paintflashing > image {
    background-image: url("chrome://browser/skin/devtools/command-paintflashing@2x.png");
  }

  #command-button-screenshot > image {
    background-image: url("chrome://browser/skin/devtools/command-screenshot@2x.png");
  }

  #command-button-responsive > image {
    background-image: url("chrome://browser/skin/devtools/command-responsivemode@2x.png");
  }

  #command-button-tilt > image {
    background-image: url("chrome://browser/skin/devtools/command-tilt@2x.png");
  }

  #command-button-scratchpad > image {
    background-image: url("chrome://browser/skin/devtools/command-scratchpad@2x.png");
  }

  #command-button-pick > image {
    background-image: url("chrome://browser/skin/devtools/command-pick@2x.png");
  }

  #command-button-splitconsole > image {
    background-image: url("chrome://browser/skin/devtools/command-console@2x.png");
  }

  #command-button-eyedropper > image {
    background-image: url("chrome://browser/skin/devtools/command-eyedropper@2x.png");
  }
}

/* Tabs */

.devtools-tabbar {
}

#toolbox-tabs {
  margin: 0 2px;
  -moz-padding-start: 3px;
  background-color: #000000;
  color: #FFCF00;
}

.devtools-tab {
  min-width: 32px;
  max-width: 110px;
  color: #000000;
  margin: 0;
  -moz-margin-end: 3px;
  padding: 1px;
  -moz-padding-start: 3px;
  background-color: #C09070;
  border-radius: 8px 8px 0 0;
}

.devtools-tab > image {
  -moz-margin-end: 0px;
/*  -moz-margin-start: 4px; */
  max-height: 16px;
  width: 16px; /* Prevents collapse during theme switching */
}

.devtools-tab:hover > image {
}

.devtools-tab:active > image,
.devtools-tab[selected] > image {
}

.devtools-tab:hover,
.devtools-tab:hover:active {
  background-color: #FFCF00;
  color: #000000;
}

.devtools-tab[selected] {
  background-color: #008484;
  color: #000000;
}

.devtools-tab > spacer {
  max-width: 0;
  -moz-box-flex: 0;
}

.devtools-tab > image {
  -moz-margin-end: 0;
  -moz-margin-start: 0;
}

#toolbox-option-container {
  background-color: #000000;
  -moz-padding-start: 3px;
}

#toolbox-tab-options {
  min-width: 20px;
}

#toolbox-tab-options > image {
  -moz-margin-end: 3px;
}

.devtools-tab:not([highlighted]) > .highlighted-icon,
.devtools-tab[selected] > .highlighted-icon,
.devtools-tab:not([selected])[highlighted] > .default-icon {
  visibility: collapse;
}

.devtools-tab:not([selected])[highlighted] {
  color: #FFCF00;
}

.devtools-tab:not([highlighted]) > .highlighted-icon,
.devtools-tab[selected] > .highlighted-icon,
.devtools-tab:not([selected])[highlighted] > .default-icon {
  visibility: collapse;
}

/* The options tab is special - it doesn't have the same parent
   as the other tabs (toolbox-option-container vs toolbox-tabs) */
#toolbox-option-container .devtools-tab:not([selected]) {
/*  background-color: transparent;*/
}
#toolbox-option-container .devtools-tab {
/*  border-color: transparent;
  border-width: 0;
  -moz-padding-start: 1px;*/
}
#toolbox-tab-options > image {
/*  margin: 0 8px;*/
}

.hidden-labels-box:not(.visible) > label,
.hidden-labels-box.visible ~ .hidden-labels-box > label:last-child {
  display: none;
}

/* === END toolbars.inc.css === */
