/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* According to:
 * https://bugzilla.mozilla.org/show_bug.cgi?id=715472#c17
 */
.theme-body {
  background: #000000;
  color: #FF9F00;
}

.theme-twisty {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: 0 -14px;
}

.theme-twisty:-moz-focusring {
  outline-style: none;
}

.theme-twisty[open] {
  background-position: -14px -14px;
}

.theme-checkbox {
  display: inline-block;
  border: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  outline: none;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: 0 0;
}

.theme-checkbox[checked] {
  background-position: -14px 0;
}

.theme-selected {
  background: #004242;
}

.theme-bg-darker
.cm-s-mozilla .CodeMirror-gutters {
  background-color: rgba(0,0,0,0.5);
}

.theme-bg-contrast { /* contrast bg color to attract attention on a container */
  background: #404000;
}

.theme-link,
.cm-s-mozilla .cm-link { /* original: blue */
  color: #3333FF;
}

.theme-comment,
.cm-s-mozilla .cm-meta,
.cm-s-mozilla .cm-hr,
.cm-s-mozilla .cm-string { /* original: grey */
  color: #A09090;
}

.theme-gutter {
  background-color: #000000;
  color: #FF9F00;
  border-color: #9C9CFF;
}

.theme-separator { /* original: grey */
  border-color: #8050B0;
}

.theme-fg-color1,
.cm-s-mozilla .cm-variable-2,
.cm-s-mozilla .cm-quote,
.cm-s-mozilla .CodeMirror-matchingbracket { /* original: green */
  color: #008484;
}

.theme-fg-color2,
.cm-s-mozilla .cm-attribute,
.cm-s-mozilla .cm-builtin,
.cm-s-mozilla .cm-variable,
.cm-s-mozilla .cm-def,
.cm-s-mozilla .cm-variable-3,
.cm-s-mozilla .cm-property,
.cm-s-mozilla .cm-qualifier { /* original: blue */
  color: #9C9CFF;
}

.theme-fg-color3,
.cm-s-mozilla .cm-tag,
.cm-s-mozilla .cm-header { /* original: pink/lavender */
  color: #E7ADE7;
}

.theme-fg-color4,
.cm-s-mozilla .cm-comment { /* original: purple/violet */
  color: #C09070;
}

.theme-fg-color5,
.cm-s-mozilla .cm-bracket,
.cm-s-mozilla .cm-atom,
.cm-s-mozilla .cm-keyword { /* original: Yellow */
  color: #FFCF00;
}

.theme-fg-color6 { /* original: Orange */
  color: #FF9F00;
}

.theme-fg-color7,
.cm-s-mozilla .CodeMirror-nonmatchingbracket,
.cm-s-mozilla .cm-string-2,
.cm-s-mozilla .cm-error { /* original: Red */
  color: #FF0000;
}

.theme-fg-contrast { /* To be used for text on theme-bg-contrast */
  color: #FFCF00;
}

.ruleview-colorswatch,
.computedview-colorswatch,
.markupview-colorswatch {
/*  box-shadow: 0 0 0 1px rgba(0,0,0,0.5); */
}

/* CodeMirror specific styles.
 * Best effort to match the existing theme, some of the colors
 * are duplicated here to prevent weirdness in the main theme. */

.CodeMirror { /* Inherit platform specific font sizing and styles */
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

.CodeMirror pre,
.cm-s-mozilla .cm-operator,
.cm-s-mozilla .cm-special,
.cm-s-mozilla .cm-number { /* theme-body color */
  color: #FF9F00;
}

.cm-s-mozilla .CodeMirror-lines .CodeMirror-cursor {
  border-left: solid 1px #FF9F00;
}

.cm-s-mozilla.CodeMirror-focused .CodeMirror-selected { /* selected text (focused) */
  background: #008484;
  color: #FFCF00;
}

.dcm-s-mozilla .CodeMirror-selected { /* selected text (unfocused) */
  background: #008484;
  color: #000000;
}

.CodeMirror-activeline-background { /* selected color with alpha */
  background: rgba(0, 132, 132, .05);
}

.cm-s-markup-view pre {
  line-height: 1.4em;
  min-height: 1.4em;
}
