/* -*- Mode: javascript; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* vim: set ft=javascript ts=2 et sw=2 tw=80: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

window {
  padding: 0;
}

#body {
  /* background: #000000; */
}

/**
 * Debugger content
 */

#dbg-content {
  padding: 0;
}

.devtools-side-splitter {
  border: none;
}

#scripts {
  max-width: 350px;
}

/**
 * Lists and headers
 */

.list-item {
  padding: 2px;
}

.list-item.selected {
  background: #008484;
  color: #FFCF00;
}

.list-item.empty {
  color: #8050B0;
}

/**
 * Stack frames
 */

#stackframes {
  /* background-color: white; */
}

.dbg-stackframe {
  -moz-padding-start: 4px;
  -moz-padding-end: 4px;
}

.dbg-stackframe-name {
  -moz-padding-end: 4px;
  font-weight: 600;
}

/**
 * Properties view
 */

#variables {
/*  background-color: white; */
}

/**
 * Property element details container
 */

.details {
  -moz-margin-start: 10px;
}

/**
 * Scope element
 */

.scope > .title {
  background: #E7ADE7;
  border-radius: 5px;
  color: #000000;
}

.scope > .title > .arrow {
  margin-top: -2px;
}

.scope > .title > .name {
  padding-top: 2px;
}

.scope > .details {
  -moz-margin-start: 2px;
  -moz-margin-end: 2px;
}

/**
 * Variable element
 */

.variable {
  -moz-margin-start: 1px;
  -moz-margin-end: 1px;
  margin-top: 2px;
  border-bottom: 1px dotted #008484;
  transition: background 1s ease-in-out;
  background: #000000;
}

.variable[changed] {
  transition-duration: 0.4s;
  background: #FFCF00;
}

.variable[added] {
  transition-duration: 0.4s;
  background: #008484;
}

.variable > .title > .arrow {
  margin-top: -2px;
}

.variable > .title > .name {
  color: #FF9F00;
  font-weight: 600;
}

/**
 * Property element
 */

.property > .title > .arrow {
  margin-top: -2px;
}

.property > .title > .key {
  color: #E7ADE7;
}

/**
 * Non enumerable, configurable and writable variables and properties.
 */

.property[proto] > .title > .key,
.variable[non-enumerable] > .title > .name,
.property[non-enumerable] > .title > .key {
  opacity: 0.5;
}

.variable[non-configurable] > .title > .name,
.property[non-configurable] > .title > .key {
  border-bottom: 1px dashed #9C9CFF;
}

.variable[non-writable] > .title > .name,
.property[non-writable] > .title > .key {
  border-bottom: 1px dashed #FF0000;
}

.variable[non-writable] > .title:after,
.property[non-writable] > .title:after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("chrome://browser/skin/identity-icons-https.png") no-repeat;
  opacity: 0.5;
}

/**
 * Property values colors
 */

.token-undefined {
  -moz-padding-start: 6px;
  color: #8050B0;
}

.token-null {
  -moz-padding-start: 6px;
  color: #008484;
}

.token-boolean {
  -moz-padding-start: 6px;
  color: #FFCF00;
}

.token-number {
  -moz-padding-start: 6px;
  color: #E7ADE7;
}

.token-string {
  -moz-padding-start: 6px;
  color: #9C9CFF;
}

.token-other {
  -moz-padding-start: 6px;
  color: #FF9F00;
}

/**
 * Expand/collapse arrow
 */

.arrow {
  width: 9px;
  height: 9px;
  -moz-margin-start: 5px;
  -moz-margin-end: 5px;
  margin-top: -2px;
  background: url("chrome://global/skin/tree/twisty-closed.gif") center center no-repeat;
}

.arrow[open] {
  background-image: url("chrome://global/skin/tree/twisty-open.gif");
}

.scope > .title > .arrow {
  background-image: url("chrome://global/skin/tree/twisty-closed-selected.gif");
}

.scope > .title > .arrow[open] {
  background-image: url("chrome://global/skin/tree/twisty-open-selected.gif");
}

/**
 * Animations
 */

.details[open][animated] {
  -moz-animation-duration: 0.25s;
  -moz-animation-name: showblock;
}

@-moz-keyframes showblock {
  from {
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
  }
}

/**
 * Toolbar Controls
 */

#resume {
  list-style-image: url("chrome://browser/skin/devtools/debugger-play.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#resume[checked=true],
#resume:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#step-over {
  list-style-image: url("chrome://browser/skin/devtools/debugger-step-over.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#step-over:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#step-in {
  list-style-image: url("chrome://browser/skin/devtools/debugger-step-in.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#step-in:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#step-out {
  list-style-image: url("chrome://browser/skin/devtools/debugger-step-out.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#step-out:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#debugger-controls > toolbarbutton {
}

#debugger-controls > toolbarbutton:last-of-type {
}

#debugger-controls {
}
