/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.theme-body {
  background: url("layout-background-grid.png"), radial-gradient(50% 70%, circle cover, #000000 0%, #000000 100%);
}

.theme-body {
  color: #FF9F00 !important;
  box-sizing: border-box;
}

#main {
  border-color: #A09090;
  border-style: dotted;
}

#main > .margin,
#main > .padding {
  color: #000000;
}

#main > .border {
}

.border > span {
}

#content {
}

#padding {
  border-color: #9C9CFF;
  border-style: solid;
}

#borders {
}
