/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* === file identical to profiler.inc.css === */

window {
  padding: 0;
}

.profiler-sidebar-empty-notice {
  max-width: 176px;
  padding: 10px;
  background-color: #A09090;
  color: #000000;
  font-weight: bold;
}

.devtools-toolbar {
/*  min-height: 33px; */
}

.profiler-sidebar {
  min-width: 196px;
}

.profiler-sidebar + .devtools-side-splitter {
  -moz-border-start-color: transparent;
}

.profiler-sidebar .devtools-toolbar {
  -moz-border-end: 1px solid #9C9CFF; /* Match the splitter color. */
}

.profiler-sidebar-item {
  padding: 3px 5px;
}

.profiler-sidebar-item, .side-menu-widget-item-contents {
  cursor: default;
}

.profiler-sidebar-item > h3 {
  font-size: 13px;
  display: block;
  cursor: pointer;
}

.profiler-sidebar-item > hbox {
  margin-top: 2px;
}

.profiler-sidebar-item > hbox > a {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}

.profiler-sidebar-item > hbox > a:hover {
  color: #FFCF00;
}

[state=completed].selected .profiler-sidebar-item > hbox > a {
  display: block;
}

.selected .profiler-sidebar-item > hbox {
  color: #3A3A5F; /* 37% of #9C9CFF */
}

#profiler-start {
  list-style-image: url("chrome://browser/skin/devtools/profiler-stopwatch-tbutton.svg");
}

#profiler-start:hover,
#profiler-start[checked],
#profiler-start[checked]:hover {
  list-style-image: url("chrome://browser/skin/devtools/profiler-stopwatch.svg");
}
