/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

window {
  padding: 0;
}

notification {
  margin-bottom: 3px;
}

#toolbox-controls {
  margin: 0 2px;
}

#toolbox-controls > toolbarbutton,
#toolbox-dock-buttons > toolbarbutton {
  min-width: 16px;
/*  padding: 1px 3px; */
}

#toolbox-dock-bottom {
  list-style-image: url("chrome://browser/skin/devtools/dock-bottom.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-dock-bottom:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-dock-side {
  list-style-image: url("chrome://browser/skin/devtools/dock-side.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-dock-side:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-dock-window {
  list-style-image: url("chrome://browser/skin/devtools/undock.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-dock-window:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-close {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-close:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-dock-window,
#toolbox-dock-bottom,
#toolbox-dock-side,
#toolbox-close {
}

#toolbox-dock-window:hover,
#toolbox-dock-bottom:hover,
#toolbox-dock-side:hover,
#toolbox-close:hover {
}

#toolbox-controls-separator {
  -moz-margin-start: 4px;
}


/* Command buttons */

.command-button {
/*  padding: 1px 4px; */
  min-width: 16px;
}

.command-button:hover {
}
.command-button:hover:active {
}

#command-button-paintflashing {
  list-style-image: url("chrome://browser/skin/devtools/command-paintflashing.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#command-button-paintflashing:hover,
#command-button-paintflashing:hover:active,
#command-button-paintflashing[checked=true] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#command-button-responsive {
  list-style-image: url("chrome://browser/skin/devtools/command-responsivemode.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#command-button-responsive:hover,
#command-button-responsive:hover:active,
#command-button-responsive[checked=true] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#command-button-tilt {
  list-style-image: url("chrome://browser/skin/devtools/command-tilt.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#command-button-tilt:hover,
#command-button-tilt:hover:active,
#command-button-tilt[checked=true] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#command-button-scratchpad {
  list-style-image: url("chrome://browser/skin/devtools/command-scratchpad.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#command-button-scratchpad:hover,
#command-button-scratchpad:hover:active {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}


/* Tabs */

.devtools-tabbar {
}

#toolbox-tabs {
  margin: 0;
  background-color: #000000;
  color: #FFCF00;
}

.devtools-tab {
  min-width: 32px;
  max-width: 110px;
  color: #000000;
  margin: 0;
  -moz-margin-end: 3px;
  padding: 1px;
  -moz-padding-start: 3px;
  background-color: #C09070;
  border-radius: 8px 8px 0 0;
}

.devtools-tab > image {
  -moz-margin-end: 0px;
/*  -moz-margin-start: 4px; */
}

#toolbox-tab-options > image {
/*  margin: 0 8px; */
}

.devtools-tab:hover > image {
}

.devtools-tab:active > image,
.devtools-tab[selected=true] > image {
}

.devtools-tab:hover,
.devtools-tab:hover:active {
  background-color: #FFCF00;
  color: #000000;
}

.devtools-tab[selected=true] {
  background-color: #008484;
  color: #000000;
}

.devtools-tab > spacer {
  max-width: 0;
  -moz-box-flex: 0;
}

.devtools-tab > image {
  -moz-margin-end: 0;
  -moz-margin-start: 0;
}

#toolbox-tab-options {
  min-width: 20px;
}

#toolbox-tab-options > image {
  -moz-margin-end: 3px;
}

.devtools-tab:not(.highlighted) > .highlighted-icon,
.devtools-tab[selected=true] > .highlighted-icon,
.devtools-tab:not([selected=true]).highlighted > .default-icon {
  visibility: collapse;
}

#options-panel {
  /* background-image: url("chrome://browser/skin/newtab/noise.png"); */
}

.options-vertical-pane {
  margin: 15px;
  width: calc(50% - 30px);
  min-width: 400px;
  -moz-padding-start: 5px;
}

.options-vertical-pane > label {
  padding: 5px 0;
  font-size: 1.4rem;
}

.options-groupbox {
  -moz-margin-start: 15px;
  padding: 4px;
}

.options-groupbox > * {
  padding: 2px;
}
