/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

window {
  padding: 0;
}

#toolbox-controls {
  margin: 0 2px;
}

#toolbox-controls > toolbarbutton,
#toolbox-dock-buttons > toolbarbutton {
  min-width: 16px;
  padding: 1px 3px;
}

#toolbox-dock-bottom {
  list-style-image: url("chrome://browser/skin/devtools/dock-bottom.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-dock-bottom:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-dock-side {
  list-style-image: url("chrome://browser/skin/devtools/dock-side.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-dock-side:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-dock-window {
  list-style-image: url("chrome://browser/skin/devtools/undock.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-dock-window:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-close {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#toolbox-close:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#toolbox-dock-window,
#toolbox-dock-bottom,
#toolbox-dock-side,
#toolbox-close {
}

#toolbox-dock-window:hover,
#toolbox-dock-bottom:hover,
#toolbox-dock-side:hover,
#toolbox-close:hover {
}

#toolbox-controls-separator {
  -moz-margin-start: 4px;
}


/* Command buttons */

.command-button {
  padding: 1px 4px;
  min-width: 16px;
}

.command-button:hover {
}
.command-button:hover:active {
}

#command-button-responsive {
  list-style-image: url("chrome://browser/skin/devtools/command-responsivemode.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#command-button-responsive:hover,
#command-button-responsive:hover:active,
#command-button-responsive[checked=true] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#command-button-tilt {
  list-style-image: url("chrome://browser/skin/devtools/command-tilt.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#command-button-tilt:hover,
#command-button-tilt:hover:active,
#command-button-tilt[checked=true] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#command-button-scratchpad {
  list-style-image: url("chrome://browser/skin/devtools/command-scratchpad.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#command-button-scratchpad:hover,
#command-button-scratchpad:hover:active {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}


/* Tabs */

.devtools-tabbar {
}

#toolbox-tabs {
  margin: 0;
  background-color: #000000;
  color: #FFCF00;
}

.devtools-tab {
  min-width: 88px;
  /* min-height: 22px; */
  color: #000000;
  margin: 0;
  -moz-margin-end: 3px;
  background-color: #C09070;
  border-radius: 8px 8px 0 0;
}

.devtools-tab > .radio-label-center-box > .radio-label-box {
  padding: 0 6px;
  border-radius: 8px 8px 0 0;
}

.devtools-tab > .radio-label-center-box > .radio-label-box > .radio-icon {
  -moz-margin-end: 6px;
}

.devtools-tab:hover > .radio-label-center-box > .radio-label-box > .radio-icon {
}

.devtools-tab:active > .radio-label-center-box > .radio-label-box > .radio-icon,
.devtools-tab[selected=true] > .radio-label-center-box > .radio-label-box > .radio-icon {
}

.devtools-tab:hover,
.devtools-tab:hover:active {
  background-color: #FFCF00;
  color: #000000;
}

.devtools-tab:hover > .radio-label-center-box > .radio-label-box,
.devtools-tab:hover:active > .radio-label-center-box > .radio-label-box {
  color: #000000;
}

.devtools-tab[selected=true] {
  background-color: #008484;
  color: #000000;
}
