/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

window {
  padding: 0;
}

/*
 * This hardcoded width likely due to a toolkit Windows specific bug.
 * See http://hg.mozilla.org/mozilla-central/annotate/f38d6df93cad/toolkit/themes/winstripe/global/textbox-aero.css#l7
 */

.hud-filter-box {
  width: 200px;
}

/* === BEGIN webconsole.inc.css === */

/* General output styles */

a {
  -moz-user-focus: normal;
  -moz-user-input: enabled;
  cursor: pointer;
  text-decoration: underline;
}

/* Workaround for Bug 575675 - FindChildWithRules aRelevantLinkVisited
 * assertion when loading HTML page with links in XUL iframe */
*:visited { }

.message {
  display: flex;
  flex: none;
  padding: 0 7px;
  width: 100%;
  box-sizing: border-box;
}

.message > .timestamp {
  flex: none;
  color: #8050B0;
  margin: 4px 6px 0 0;
}

.message > .indent {
  flex: none;
}

.message > .icon {
  flex: none;
  margin: 3px 6px 0 0;
  padding: 0 4px;
  height: 1em;
  align-self: flex-start;
}

.message > .icon::before {
  content: "";
  background-image: url("chrome://browser/skin/devtools/webconsole.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 48px 40px;
  width: 8px;
  height: 8px;
  display: inline-block;
}

@media (min-resolution: 2dppx) {
  .message > .icon::before {
    background-image: url("chrome://browser/skin/devtools/webconsole@2x.png");
  }
}

.message > .message-body-wrapper {
  flex: 1 1 100%;
  margin: 3px;
}

.message-body-wrapper .table-widget-body {
  overflow: visible;
}

/* The red bubble that shows the number of times a message is repeated */
.message-repeats {
  -moz-user-select: none;
  flex: none;
  margin: 2px 6px;
  padding: 0 6px;
  height: 1.25em;
  color: #000000;
  background-color: #FF0000;
  border-radius: 40px;
  /* font: message-box; */
  font-size: 0.9em;
  font-weight: 600;
}

.message-repeats[value="1"] {
  display: none;
}

.message-location {
  display: flex;
  flex: none;
  align-self: flex-start;
  justify-content: flex-end;
  width: 10em;
  margin-top: 3px;
  color: #3333FF;
  text-decoration: none;
  white-space: nowrap;
}

.message-location:hover,
.message-location:focus {
  text-decoration: underline;
}

.message-location > .filename {
  text-overflow: ellipsis;
  text-align: end;
  overflow: hidden;
  white-space: nowrap;
}

.message-location > .line-number {
  flex: none;
}

.hud-msg-node[selected="true"] > .webconsole-timestamp,
.hud-msg-node[selected="true"] > .webconsole-location {
  color: inherit;
}

.message-flex-body {
  display: flex;
}

.message-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-flex-body > .message-body {
  display: block;
  flex: 1 1 main-size;
  vertical-align: middle;
}

.message-flex-body > .message-location {
  margin-top: 0;
}

.jsterm-input-container {
  border-top-width: 1px;
  border-top-style: solid;
}

#output-wrapper {
  direction: ltr;
  overflow: auto;
}

#output-container {
  -moz-user-select: text;
  -moz-box-flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#output-container.hideTimestamps > .message {
  -moz-padding-start: 0;
  -moz-margin-start: 7px;
  width: calc(100% - 7px);
}

#output-container.hideTimestamps > .message > .timestamp {
  display: none;
}

#output-container.hideTimestamps > .message > .indent {
  background-color: #000000; /* .theme-body */
}

.filtered-by-type,
.filtered-by-string {
  display: none;
}

.hidden-message {
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* WebConsole colored drops */

.webconsole-filter-button {
  -moz-user-focus: normal;
}

.webconsole-filter-button > .toolbarbutton-menubutton-button:before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 5px;
  border-width: 1px;
  border-style: solid;
}

.webconsole-filter-button menuitem {
  -moz-image-region: auto;
}

.hud-filter-box {
  margin-top: 0;
  margin-bottom: 0;
}

/* Network styles */
.webconsole-filter-button[category="net"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#BF9B00, #7F6700);
  border-color: #FFCF00;
}

.message:hover {
  background-color: #404000;
}

.message[severity=error] {
  background-color: #FF0000;
}

.console-string {
  color: #FF9F00;
}

.message[severity=error] .console-string {
  color: #000000;
}

.theme-selected .console-string,
.theme-selected .cm-number,
.theme-selected .cm-variable,
.theme-selected .kind-ArrayLike {
  color: #000000 !important; /* Selection Text Color */
}

.message[category=network] > .indent {
  -moz-border-end: solid #FF0000 6px;
}

.message[category=network][severity=error] > .icon::before {
  background-position: -8px 0;
}

.message[category=network] > .message-body {
  display: flex;
}

.message[category=network] .method {
  flex: none;
}

.message[category=network]:not(.navigation-marker) .url {
  flex: 1 1 main-size;
  /* Make sure the URL is very small initially, let flex change width as needed. */
  width: 100px;
  min-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message[category=network] .status {
  flex: none;
  -moz-margin-start: 6px;
}

.message[category=network].mixed-content .url {
  color: #FF0000;
}

.message .learn-more-link {
  color: #3333FF;
  margin: 0 6px;
}

/* CSS styles */
.webconsole-filter-button[category="css"] > .toolbarbutton-menubutton-button:before {
  background-image: linear-gradient(#7575BF, #4E4E7F);
  border-color: #9C9CFF;
}

.message[category=cssparser] > .indent {
  -moz-border-end: solid #9C9CFF 6px;
}

.message[category=cssparser][severity=error] > .icon::before {
  background-position: -8px -8px;
}

.message[category=cssparser][severity=warn] > .icon::before {
  background-position: -16px -8px;
}

/* JS styles */
.webconsole-filter-button[category="js"] > .toolbarbutton-menubutton-button:before {
   background-image: linear-gradient(#BF7700, #7F4F00);
   border-color: #FF9F00;
}

.message[category=exception] > .indent {
  -moz-border-end: solid #FF9F00 6px;
}

.message[category=exception][severity=error] > .icon::before {
  background-position: -8px -16px;
}

.message[category=exception][severity=warn] > .icon::before {
  background-position: -16px -16px;
}

/* Web Developer styles */
.webconsole-filter-button[category="logging"] > .toolbarbutton-menubutton-button:before {
   background-image: linear-gradient(#5F3B83, #3F2756);
   border-color: #8050B0;
}

.message[category=console] > .indent {
  -moz-border-end: solid #8050B0 6px;
}

.message[category=console][severity=error] > .icon::before,
.message[category=output][severity=error] > .icon::before {
  background-position: -8px -24px;
}

.message[category=console][severity=warn] > .icon::before {
  background-position: -16px -24px;
}

.message[category=console][severity=info] > .icon::before {
  background-position: -24px -24px;
}

/* Input and output styles */
.message[category=input] > .indent,
.message[category=output] > .indent {
  -moz-border-end: solid #A09090 6px;
}

.message[category=input] > .icon::before {
  background-position: -32px -24px;
}

.message[category=output] > .icon::before {
  background-position: -40px -24px;
}

/* JSTerm Styles */

.jsterm-input-node,
.jsterm-complete-node {
  -moz-padding-start: 16px;
  margin: 3px 0 0 0;
  background-color: transparent;
}

.jsterm-input-node {
  background-image: -moz-image-rect(url("chrome://browser/skin/devtools/commandline-icon.png"), 0, 32, 16, 16);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

@media (min-resolution: 2dppx) {
  .jsterm-input-node {
    background-image: -moz-image-rect(url('chrome://browser/skin/devtools/commandline-icon@2x.png'), 0, 64, 32, 32);
  }
}

:-moz-any(.jsterm-input-node,
          .jsterm-complete-node) > .textbox-input-box > .textbox-textarea {
  overflow-x: hidden;
}

.inlined-variables-view .message-body {
  display: flex;
  flex-direction: column;
}

.inlined-variables-view iframe {
 display: block;
  flex: 1;
  margin-top: 5px;
  margin-bottom: 15px;
  -moz-margin-end: 15px;
  border: 1px solid #9C9CFF;
  border-radius: 4px;
}

#webconsole-sidebar > tabs {
  height: 0;
  border: none;
}

.devtools-side-splitter ~ #webconsole-sidebar[hidden] {
  display: none;
}

/* Security styles */

.message[category=security] > .indent {
  -moz-border-end: solid #FF0000 6px;
}

.webconsole-filter-button[category="security"] > .toolbarbutton-menubutton-button:before {
  background-color: #FF0000;
  border-color: #FFCF00;
}

.message[category=security][severity=error] > .icon::before {
  background-position: -8px -32px;
}

.message[category=security][severity=warn] > .icon::before {
  background-position: -16px -32px;
}

.navigation-marker {
  color: #000000;
  background-color: #A09090;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 0.9em;
}

.navigation-marker .url {
  -moz-padding-end: 9px;
  text-decoration: none;
}

.stacktrace {
  display: none;
  list-style: none;
  padding: 0 1em 0 1.5em;
  margin: 5px 0 0 0;
  max-height: 10em;
  overflow-y: auto;
  border: 1px solid #A09090;
  border-radius: 3px;
}

.consoletable {
  margin: 5px 0 0 0;
}

.message[severity=error] .stacktrace {
  background-color: #000000;
}

.message[open] .stacktrace {
  display: block;
}

.message .theme-twisty {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.stacktrace li {
  display: flex;
  margin: 0;
}

.stacktrace .function {
  display: block;
  flex: 1 1 main-size;
}

.cm-s-mozilla a[class] {
  font-style: italic;
  text-decoration: none;
}

.cm-s-mozilla a[class]:hover,
.cm-s-mozilla a[class]:focus {
  text-decoration: underline;
}

/* Open DOMNode in inspector button */
.open-inspector {
  background: url("chrome://browser/skin/devtools/vview-open-inspector.png") no-repeat 0 0;
  padding-left: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.elementNode:hover .open-inspector,
.open-inspector:hover {
  background-position: -32px 0;
}

.open-inspector:active {
  background-position: -16px 0;
}

/* Replace these values with CSS variables as available */
.jsterm-input-container {
  background-color: #000000; /* tabToolbarBackgroundColor */
  border-color: #9C9CFF; /* mainBackgroundColor */
}

.jsterm-input-node {
  color: #E7ADE7; /* textColor */
}

.jsterm-complete-node {
  color: #A09090; /* commentColor */
}

.navigation-marker .url {
  background: #000000; /* mainBackgroundColor */
}

.inlined-variables-view iframe {
  border-color: #A09090;
}

.stacktrace {
  border-color: #A09090;
}

@media (max-width: 500px) {
  .message > .timestamp {
    display: none;
  }
  .hud-console-filter-toolbar .webconsole-filter-button .toolbarbutton-text {
    display: none;
  }
  .hud-console-filter-toolbar .webconsole-filter-button {
    min-width: 40px;
  }
  .hud-console-filter-toolbar .webconsole-clear-console-button {
    min-width: 25px;
  }
  .webconsole-filter-button > .toolbarbutton-menubutton-button:before {
    width: 12px;
    height: 12x;
    margin-left: 1px;
  }
  .toolbarbutton-menubutton-dropmarker {
    margin: 0px;
  }
}

@media (max-width: 300px) {
  .hud-console-filter-toolbar {
    -moz-box-orient: vertical;
  }
  .toolbarbutton-text {
    display: -moz-box;
  }
  .devtools-toolbarbutton {
    margin-top: 3px;
  }
  .hud-console-filter-toolbar .hud-filter-box,
  .hud-console-filter-toolbar .devtools-toolbarbutton {
    margin-top: 5px;
  }
}

/* === END webconsole.inc.css === */
