/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
  font-size: 11px;
  background: #000000;
  color: #FF9F00;
}

#header {
  padding: 5px;
  overflow-x:auto;
  display: block;
}

h1 {
  font-size: 13px;
  line-height: 15px;
  padding: 3px 10px;
  vertical-align: bottom;
  margin: 0px;
  border-bottom: 1px solid #9C9CFF;
}

h1 .info {
  font-size: 11px;
  line-height: 15px;
  vertical-align: bottom;
  float: right;
  color: #9C9CFF;
  padding-right: 3px;
  display: block;
}

.property-table {
  padding: 2px 5px;
  color: #9C9CFF;
  width: 100%;
  max-height: 330px;
  overflow: auto;
}

.property-table-header {
  font-size: 11px;
  font-weight: bold;
  padding-right: 4px;
  color: #FF9F00;
  white-space: nowrap;
  text-align: right;
  vertical-align: top;
  width: 10%;
}

.property-table-value {
  padding-right: 5px;
  font-size: 11px;
  word-wrap: break-word;
  width: 90%;
}

div.group {
  margin-top: 10px;
}

div.group,
#header {
  background: #000000;
  border-color: #9C9CFF;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
}

img#responseImageNode {
  max-width: 100%;
}

#responseImageNodeDiv {
  padding: 5px;
}

#responseBodyFetchLink, #requestBodyFetchLink {
  padding: 5px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}

.longStringEllipsis {
  margin-left: 0.6em;
}
