/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* === BEGIN widgets.inc.css === */

/* Generic pane helpers */

.generic-toggled-side-pane {
  -moz-margin-start: 0px !important;
  /* Unfortunately, transitions don't work properly with locale-aware properties,
     so both the left and right margins are set via js, while the start margin
     is always overridden here. */
}

.generic-toggled-side-pane[animated] {
  transition: margin 0.25s ease-in-out;
}

/* BreacrumbsWidget */

.breadcrumbs-widget-container {
  -moz-margin-end: 3px;
  max-height: 25px; /* Set max-height for proper sizing on linux */
  height: 25px; /* Set height to prevent starting small waiting for content */
  /* A fake 1px-shadow is included in the border-images of the
     breadcrumbs-widget-items, to match toolbar-buttons style.
     This negative margin compensates the extra row of pixels created
     by the shadow.*/
/*  margin: -1px 0;*/
}

.scrollbutton-up,
.scrollbutton-down {
  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

.scrollbutton-up {
  -moz-margin-end: 1px;
}

.scrollbutton-down {
  -moz-margin-end: 0;
}

.scrollbutton-up > .toolbarbutton-icon,
.scrollbutton-down > .toolbarbutton-icon {
  /* margin: 0 5px; */
}

.scrollbutton-up:not([disabled]):active:hover > .toolbarbutton-icon,
.scrollbutton-down:not([disabled]):active:hover > .toolbarbutton-icon {
}

.scrollbutton-up[disabled] > .toolbarbutton-icon,
.scrollbutton-down[disabled] > .toolbarbutton-icon {
}

.scrollbutton-up:-moz-locale-dir(ltr) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.scrollbutton-down:-moz-locale-dir(ltr) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.scrollbutton-up:-moz-locale-dir(rtl) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.scrollbutton-down:-moz-locale-dir(rtl) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Draw shadows to indicate there is more content 'behind' scrollbuttons. */
/*
.scrollbutton-up:-moz-locale-dir(ltr),
.scrollbutton-down:-moz-locale-dir(rtl) {
  border-right: solid 1px rgba(255, 255, 255, .1);
  border-left: solid 1px transparent;
  box-shadow: 3px 0px 3px -3px #181d20;
}

.scrollbutton-down:-moz-locale-dir(ltr),
.scrollbutton-up:-moz-locale-dir(rtl) {
  border-right: solid 1px transparent;
  border-left: solid 1px rgba(255, 255, 255, .1);
  box-shadow: -3px 0px 3px -3px #181d20;
}

.scrollbutton-up[disabled],
.scrollbutton-down[disabled] {
  box-shadow: none;
  border-color: transparent;
}
*/

.scrollbutton-up > .toolbarbutton-icon:-moz-locale-dir(rtl),
.scrollbutton-down > .toolbarbutton-icon:-moz-locale-dir(ltr) {
/*  transform: scaleX(-1); */
}

/* The breadcrumb separator elements are used as background images with
 * -moz-element, so we position them offscreen since we don't care about
 * seeing the original elements.
 */
.breadcrumb-separator-container {
  position: fixed;
  top: -1000px;
  left: -1000px;
}

#breadcrumb-separator-before,
#breadcrumb-separator-after,
#breadcrumb-separator-normal {
  width: 12px;
  height: 25px;
  overflow: hidden;
}

#breadcrumb-separator-before,
#breadcrumb-separator-after:after {
  background: #9C9CFF; /* Select Highlight Blue */
}

#breadcrumb-separator-after,
#breadcrumb-separator-before:after {
  background: #9C9CFF; /* Toolbars */
}

/* This chevron arrow cannot be replicated easily in CSS, so we are using
 * a background image for it (still keeping it in a separate element so
 * we can handle RTL support with a CSS transform).
 */
#breadcrumb-separator-normal {
  background: url("breadcrumbs-divider@2x.png") no-repeat center right;
  background-size: 12px 24px;
}

/* Fake a triangle by rotating a rectangle inside the elements */
#breadcrumb-separator-before:after,
#breadcrumb-separator-after:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  transform: translateX(-18px) rotate(45deg);
  -moz-box-sizing: border-box;
}

.breadcrumbs-widget-item {
  background-color: #000000;
  min-height: 25px;
  min-width: 65px;
  margin: 0;
  padding: 0 8px 0 20px;
  border: none;
  outline: none;
  color: #FF9F00;
}

.breadcrumbs-widget-item:hover {
  background-color: #FFCF00;
  color: #000000;
}

.breadcrumbs-widget-item[checked]:not(:hover) {
  background-color: #008484;
  color: #000000;
}

.breadcrumbs-widget-item[siblings-menu-open],
.breadcrumbs-widget-item:active {
  background-color: #FF9F00;
  color: #000000;
}

.breadcrumbs-widget-item:not([checked]) {
  background: -moz-element(#breadcrumb-separator-normal) no-repeat center left;
 }
 
.breadcrumbs-widget-item[checked] + .breadcrumbs-widget-item {
  background: -moz-element(#breadcrumb-separator-after) no-repeat 0 0;
}

.breadcrumbs-widget-item[checked] {
  background: -moz-element(#breadcrumb-separator-before) no-repeat 0 0;
  background-color: #008484; /* Select Highlight Blue */
}

.breadcrumbs-widget-item:first-child {
  background-image: none;
}

/* RTL support: move the images that were on the left to the right,
 * and move images that were on the right to the left.
 */
.breadcrumbs-widget-item:-moz-locale-dir(rtl) {
  padding: 0 20px 0 8px;
}

.breadcrumbs-widget-item:-moz-locale-dir(rtl),
.breadcrumbs-widget-item[checked] + .breadcrumbs-widget-item:-moz-locale-dir(rtl) {
  background-position: center right;
}

#breadcrumb-separator-before:-moz-locale-dir(rtl),
#breadcrumb-separator-after:-moz-locale-dir(rtl),
#breadcrumb-separator-normal:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

#breadcrumb-separator-before:-moz-locale-dir(rtl):after,
#breadcrumb-separator-after:-moz-locale-dir(rtl):after {
  transform: translateX(-5px) rotate(45deg);
}

.breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-id,
.breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-tag,
.breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-pseudo-classes,
.breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-classes {
  color: #FF9F00; /* Foreground (Text) - Light */
}

.theme-dark .breadcrumbs-widget-item-id {
  color: #A09090; /* Foreground (Text) - Grey */
}

.breadcrumbs-widget-item-pseudo-classes {
  color: #FFCF00; /* Light Orange */
}

/* SimpleListWidget */

.simple-list-widget-item:not(.selected):hover {
  background: #FFCF00;
  color: #FFCF00;
}

.simple-list-widget-item.selected {
  background: #008484;
  color: #FFCF00;
}

.simple-list-widget-perma-text,
.simple-list-widget-empty-text {
  color: #8050B0;
  padding: 4px 8px;
}

/* FastListWidget */

.fast-list-widget-container {
  /* Hack: force hardware acceleration */
  transform: translateZ(1px);
}

/* dark/light theme */
.fast-list-widget-empty-text {
  padding: 12px;
  font-weight: 600;
  color: #8050B0;
}

/* SideMenuWidget */

/* SideMenuWidget container */

.side-menu-widget-container {
  /* Hack: force hardware acceleration */
  transform: translateZ(1px);

  background-color: #000000;
  color: #FF9F00;
}

.side-menu-widget-container:-moz-locale-dir(ltr),
.side-menu-widget-empty-text:-moz-locale-dir(ltr) {
}

.side-menu-widget-container:-moz-locale-dir(rtl),
.side-menu-widget-empty-text:-moz-locale-dir(rtl)[with-arrows=true]:-moz-locale-dir(rtl) {
}

.side-menu-widget-group {
  /* To allow visibility of the dark margin shadow. */
/*  -moz-margin-end: 1px; */
}

.side-menu-widget-container[with-arrows=true] .side-menu-widget-item {
  /* To compensate for the arrow image's dark margin. */
/*  -moz-margin-end: -1px; */
}

/* SideMenuWidget groups */

.side-menu-widget-group-title {
  padding: 4px;

  background-color: #A09090;
  color: #000000;
}

/* SideMenuWidget items */

.side-menu-widget-item {
  border-top: 1px solid #9C9CFF;
  /* To compensate for the top and bottom borders */
  margin-top: -1px;
  margin-bottom: -1px;
  background-clip: padding-box;
}

.side-menu-widget-item:last-of-type {
  border-bottom: 1px solid #9C9CFF;
}

.side-menu-widget-item.selected {
  background-color: #008484 !important;
  color: #000000;
}

.side-menu-widget-item-arrow {
  -moz-margin-start: -7px;
  width: 7px; /* The image's width is 7 pixels */
  /* Cover the border of the side-menu-widget-item */
  margin-top: -1px;
  margin-bottom: -1px;
}

.side-menu-widget-item.selected > .side-menu-widget-item-arrow {
  background-size: auto, 1px 100%;
  background-repeat: no-repeat;
}

.side-menu-widget-item.selected > .side-menu-widget-item-arrow:-moz-locale-dir(ltr) {
  background-position: center right;
}

.side-menu-widget-item.selected > .side-menu-widget-item-arrow:-moz-locale-dir(rtl) {
  background-position: center left;
}

.theme-light .side-menu-widget-item.selected > .side-menu-widget-item-arrow:-moz-locale-dir(ltr) {
  background-image: url("itemArrow-ltr.svg");
}

.theme-light .side-menu-widget-item.selected > .side-menu-widget-item-arrow:-moz-locale-dir(rtl) {
  background-image: url("itemArrow-rtl.svg");
}

/* SideMenuWidget items contents */

.side-menu-widget-item-contents {
  padding: 4px;
  /* To avoid having content overlapping the arrow image. */
  -moz-padding-end: 8px;
}

.side-menu-widget-item-other {
  /* To avoid having content overlapping the arrow image. */
  -moz-padding-end: 8px;
  /* To compensate for the .side-menu-widget-item-contents padding. */
  -moz-margin-start: -4px;
  -moz-margin-end: -8px;

  background-color: #000000;
}

.side-menu-widget-item-other.selected {
  background-color: #008484;
  color: #000000;
}

.side-menu-widget-item-other:first-of-type {
  margin-top: 4px;
/*  border-top-left-radius: 4px; */
}

.side-menu-widget-item-other:last-of-type {
  margin-bottom: -4px;
}

.side-menu-widget-item-other:not(.selected) > label {
  color: #9C9CFF;
}

/* SideMenuWidget checkboxes */

.side-menu-widget-group-checkbox {
  margin: 0;
  -moz-margin-end: 4px;
}

.side-menu-widget-item-checkbox {
  margin: 0;
  -moz-margin-start: 4px;
  -moz-margin-end: -4px;
}

/* SideMenuWidget misc */

.side-menu-widget-empty-text {
  padding: 12px;

  background-color: #000000;
  font-weight: 600;
  color: #A09090;
}

/* VariablesView */

.variables-view-container:not([empty]) {
  /* Hack: force hardware acceleration */
  transform: translateZ(1px);
}

.variables-view-empty-notice {
  color: #A09090;
  padding: 2px;
}

.variables-view-scope > .title {
  background-color: #A09090;
  color: #000000;
}

/* Generic variables traits */

.variables-view-variable:not(:last-child) {
  border-bottom: 1px solid #A09090;
}

.variables-view-variable > .title > .name {
  font-weight: 600;
}

/* Generic variables *and* properties traits */

.variable-or-property:focus > .title > label {
  color: inherit !important;
}

.variable-or-property > .title > .value {
  -moz-box-flex: 1;
}

.variable-or-property > .title > .arrow {
  -moz-margin-start: 3px;
}

.variable-or-property:not([untitled]) > .variables-view-element-details {
  -moz-margin-start: 7px;
}

/* Traits applied when variables or properties are changed or overridden */

.variable-or-property:not([overridden]) {
  transition: background 1s ease-in-out, color 1s ease-in-out;
}

.variable-or-property:not([overridden])[changed] {
  color: #000000;
  transition-duration: .4s;
}

.variable-or-property[overridden] {
  background: rgba(160,144,144,0.0.5);
}

.variable-or-property[overridden] .title > label {
  /* Cross out the title for this variable and all child properties. */
  font-style: italic;
  text-decoration: line-through;
  border-bottom: none !important;
  color: #A09090;
  opacity: 0.7;
}

/* Traits applied when variables or properties are editable */

.variable-or-property[editable] > .title > .value {
  cursor: text;
}

.variable-or-property[overridden] .title > .value {
  /* Disallow editing this variable and all child properties. */
  pointer-events: none;
}

/* Custom configurable/enumerable/writable or frozen/sealed/extensible
 * variables and properties */

.variable-or-property[non-enumerable]:not([self]):not([pseudo-item]) > .title > .name {
  opacity: 0.6;
}

.variable-or-property[non-configurable]:not([pseudo-item]) > .title > .name {
  border-bottom: 1px dashed #9C9CFF;
}

.variable-or-property[non-writable]:not([pseudo-item]) > .title > .name {
  border-bottom: 1px dashed #FF0000;
}

.variable-or-property[safe-getter]:not([pseudo-item]) > .title > .name {
  border-bottom: 1px dashed #A09090;
}

.variable-or-property-non-writable-icon {
  background: url("chrome://browser/skin/identity-icons-https.png") no-repeat;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

@media (min-resolution: 2dppx) {
  .variable-or-property-non-writable-icon > .title:after {
    background-image: url("chrome://browser/skin/identity-icons-https@2x.png");
    background-size: 32px;
  }
}

.variable-or-property-frozen-label,
.variable-or-property-sealed-label,
.variable-or-property-non-extensible-label {
  -moz-padding-end: 4px;
}

.variable-or-property:not(:focus) > .title > .variable-or-property-frozen-label,
.variable-or-property:not(:focus) > .title > .variable-or-property-sealed-label,
.variable-or-property:not(:focus) > .title > .variable-or-property-non-extensible-label {
  color: #A09090;
}

/* Aligned values */

.variables-view-container[aligned-values] .title > .separator {
  -moz-box-flex: 1;
}

.variables-view-container[aligned-values] .title > .value {
  -moz-box-flex: 0;
  width: 70vw;
}

.variables-view-container[aligned-values] .title > .element-value-input {
  width: calc(70vw - 10px);
}

/* Actions first */

.variables-view-container[actions-first] .variables-view-delete,
.variables-view-container[actions-first] .variables-view-add-property {
  -moz-box-ordinal-group: 0;
}

.variables-view-container[actions-first] [invisible] {
  visibility: hidden;
}

/* Variables and properties tooltips */

.variable-or-property > tooltip > label {
  margin: 0 2px 0 2px;
}

.variable-or-property[non-enumerable] > tooltip > label.enumerable,
.variable-or-property[non-configurable] > tooltip > label.configurable,
.variable-or-property[non-writable] > tooltip > label.writable
.variable-or-property[non-extensible] > tooltip > label.extensible {
  color: #A09090;
  text-decoration: line-through;
}

.variable-or-property[overridden] > tooltip > label.overridden {
  -moz-padding-start: 4px;
  -moz-border-start: 1px dotted #9C9CFF;
}

.variable-or-property[safe-getter] > tooltip > label.WebIDL {
  -moz-padding-start: 4px;
  -moz-border-start: 1px dotted #9C9CFF;
  color: #008484;
}

/* Variables and properties editing */

.variables-view-delete {
  list-style-image: url("chrome://browser/skin/devtools/vview-delete.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.variables-view-delete:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.variables-view-delete:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

.variables-view-edit {
  background: url("chrome://browser/skin/devtools/vview-edit.png") center no-repeat;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

.variables-view-throbber {
  background: url("chrome://global/skin/icons/loading_16.png") center no-repeat;
  width: 16px;
  height: 16px;
}

.element-value-input {
  -moz-margin-start: -2px !important;
  -moz-margin-end: 2px !important;
}

.element-name-input {
  -moz-margin-start: -2px !important;
  -moz-margin-end: 2px !important;
  font-weight: 600;
}

.element-value-input,
.element-name-input {
  border: 1px solid #008484 !important;
  color: inherit;
}

/* Variables and properties searching */

.variables-view-searchinput {
  min-height: 24px;
}

.variable-or-property[unmatched] {
  border: none;
  margin: 0;
}

/* Expand/collapse arrow */

.arrow {
  background: url("chrome://global/skin/tree/twisty-closed.gif") center center no-repeat;
  width: 9px;
  height: 16px;
  -moz-margin-start: 5px;
  -moz-margin-end: 5px;
}

.variables-view-scope > .title > .arrow {
  background-image: url("chrome://global/skin/tree/twisty-closed-selected.gif");
}

.arrow[open] {
  background-image: url("chrome://global/skin/tree/twisty-open.gif");
}

.variables-view-scope > .title > .arrow[open] {
  background-image: url("chrome://global/skin/tree/twisty-open-selected.gif");
}

.arrow[invisible] {
  visibility: hidden;
}

/* === BEGIN manifest-editor.inc.css === */

/* Manifest Editor overrides */

.variables-view-container.manifest-editor {
  background-color: #000000;
  padding: 20px 2px;
}

.manifest-editor .variable-or-property:focus > .title {
/*  background-color: #EDEDED;
  color: #000; */
  border-radius: 4px;
}

.manifest-editor .variables-view-property > .title > .name {
/*  color: #27406A; */
}

.manifest-editor .variable-or-property > .title > label,
.manifest-editor textbox {
  font-family: monospace;
}

.manifest-editor .variable-or-property > .title > .token-string {
/*  color: #54BC6A; */
  font-weight: bold;
}

.manifest-editor .variable-or-property > .title > .token-boolean,
.manifest-editor .variable-or-property > .title > .token-number {
/*  color: #009BD4; */
  font-weight: bold;
}

.manifest-editor .variable-or-property > .title > .token-undefined {
/*  color: #bbb; */
}

.manifest-editor .variable-or-property > .title > .token-null {
/*  color: #999; */
}

.manifest-editor .variable-or-property > .title > .token-other {
/*  color: #333; */
}

.manifest-editor .variables-view-variable {
  border-bottom: none;
}

.manifest-editor .variables-view-delete,
.manifest-editor .variables-view-delete:hover,
.manifest-editor .variables-view-delete:active,
.manifest-editor .variables-view-add-property:hover,
.manifest-editor .variables-view-add-property:active {
  list-style-image: none;
  -moz-image-region: initial;
}

.manifest-editor .variables-view-delete::before,
.manifest-editor .variables-view-add-property::before {
  width: 11px;
  height: 11px;
  content: "";
  display: inline-block;
  background-size: 11px auto;
}

.manifest-editor .variables-view-delete::before {
  background-image: url("app-manager/remove.svg");
  background-size: 12px auto;
}

.manifest-editor .variables-view-add-property::before {
  background-image: url("app-manager/add.svg");
  -moz-margin-end: 2px;
}

/* === END manifest-editor.inc.css === */

/* === END widgets.inc.css === */
