@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

scrollbar {
  position: relative;
  background-color: transparent;
  background-image: none;
  z-index: 2147483647;
  padding: 2px;
}

:root[platform="mac"] scrollbar {
  border: none;
}

/* Scrollbar code will reset the margin to the correct side depending on
   where layout actually puts the scrollbar */
scrollbar[orient="vertical"] {
  margin-left: -10px;
  min-width: 10px;
  max-width: 10px;
}

scrollbar[orient="horizontal"] {
  margin-top: -10px;
  min-height: 10px;
  max-height: 10px;
}

scrollbar:not(:hover) slider {
  background-color: rgba(64, 64, 72, 0.3);
}

thumb {
  border-width: 0px !important;
/*  background-color: rgba(0,0,0,0.2) !important; */
  background-image: none;
  border-radius: 3px !important;
}

scrollbar:not(:hover) thumb {
  background-color: rgba(160, 144, 144, 0.3) !important;
}

scrollbar scrollbarbutton,
scrollbar scrollbarbutton[sbattr="scrollbar-up-top"],
scrollbar scrollbarbutton[sbattr="scrollbar-down-bottom"],
scrollbar gripper {
  display: none !important; /* need !important to override forced display in LCARStrek */
}
