/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.theme-dark,
.theme-light {
  --smw-margin: #9C9CFF;
  --smw-item-top-border: #A09090;
  --smw-item-bottom-border: #008484;
}

.splitview-nav-container {
  background-color: var(--theme-toolbar-background);
  color: var(--theme-body-color);
}

.splitview-nav-container .devtools-throbber {
  display: none;
  text-align: center;
}

.loading .splitview-nav-container .devtools-throbber {
  display: block;
}

.splitview-nav {
  -moz-appearance: none;
  list-style-image: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0;
  border-inline-end: var(--smw-margin);
/*  box-shadow: inset -1px 0 0 var(--smw-margin);*/
}

.splitview-nav:-moz-locale-dir(rtl) {
/*  box-shadow: inset 1px 0 0 var(--smw-margin);*/
}

.splitview-nav > li {
  /* To compensate for the top and bottom borders */
  margin-top: 0;
  margin-bottom: -1px;
  -moz-padding-end: 8px;
  -moz-box-align: center;
  outline: 0;
  vertical-align: bottom;
/*  color: white;
  background-clip: padding-box;*/

  border-top: 1px solid var(--smw-item-top-border);
  border-bottom: 1px solid var(--smw-item-bottom-border);
}

.splitview-nav > li:last-of-type {
/*  box-shadow: inset 0 -1px 0 var(--smw-item-top-border);*/
}

.placeholder {
  -moz-box-flex: 1;
  text-align: center;
}

.splitview-nav > li.splitview-active {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto;
  border-bottom: 1px solid var(--smw-item-bottom-border);

  background-image: url("itemArrow-ltr.svg");
}

.splitview-nav > li.splitview-active:-moz-locale-dir(rtl) {
  background-repeat: no-repeat;
  background-position: center left;

  background-image: url("itemArrow-rtl.svg");
}

/* Toolbars */

.splitview-main > .devtools-toolbar {
  background-origin: border-box;
  background-clip: border-box;
}

.splitview-main > toolbar {
  -moz-padding-end: 3px;
}

.splitview-details > toolbar {
  -moz-padding-start: 3px;
}

.splitview-main > toolbar,
.loading .splitview-nav-container {
  border-inline-end: 1px solid var(--smw-margin);
}

.splitview-main > .devtools-toolbarbutton {
  width: auto;
  min-width: 48px;
  min-height: 0;
}
