/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* CSS Variables specific to the devtools toolbar that aren't defined by the themes */
.theme-light,
.theme-dark,
.theme-firebug {
  --toolbar-tab-hover: #FFCF00;
  --toolbar-tab-hover-active: #FF9F00;
  --searchbox-background-color: #000000;
  --searchbox-border-color: #9C9CFF;
  --searcbox-no-match-background-color: #400000;
  --searcbox-no-match-border-color: #FF0000;
  --magnifying-glass-image: url(images/search.svg);
  --filter-image: url(images/filter.svg);
  --tool-options-image: url(images/tool-options-tbutton.svg);
  --icon-filter: invert(1);
  --checked-icon-filter: url(images/filters.svg#checked-icon-state);
  --toolbar-button-border-color: #A09090;
}

/* Toolbars */
.devtools-toolbar,
.devtools-sidebar-tabs tabs {
  padding: 0;
  border-width: 0;
/*  border-bottom-width: 1px;*/
  border-style: solid;
/*  height: 24px;
  line-height: 24px;*/
  box-sizing: border-box;
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
}
.devtools-toolbar {
  height: 24px;
}

.devtools-toolbar {
  border-bottom: 3px solid var(--theme-body-background);
}

.devtools-toolbar checkbox {
  /* LCARStrek checkbox colors don't work well against toolbar background */
  background-color: var(--theme-toolbar-background);
  padding: 2px;
  line-height: -moz-block-height;
}
.devtools-toolbar checkbox .checkbox-check {
}
.devtools-toolbar checkbox .checkbox-label-box {
}
.devtools-toolbar checkbox .checkbox-label-box .checkbox-label {
}

/* HTML Checkboxes - a lot copied from global/in-content/common.css */
/* Hide the actual checkbox */
input[type="checkbox"] {
  opacity: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
}

label > input[type="checkbox"] { /* old placement of checkbox in label, undo above */
  opacity: 1;
  width: auto;
  pointer-events: auto;
  position: static;
}

/* Create a box to style as the checkbox */
input[type="checkbox"] + label::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
}

.devtools-searchbox + #browser-style-checkbox-label, /* workaround for old placement of checkbox in label */
input[type="checkbox"] + label {
  line-height: 0px;
  color: var(--theme-capped-toolbar-text);
}

input[type="checkbox"] + label::before {
  -moz-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 0;
  border: 1px solid var(--theme-body-color);
  margin-inline-end: 3px;
  margin-inline-start: 2px;
  background-color: var(--theme-toolbar-background);
  background-position: center center;
  background-repeat: no-repeat;
}

input[type="checkbox"]:not(:disabled) + label:hover::before {
  border-color: var(--theme-hover-background);
}
.devtools-searchbox + #browser-style-checkbox-label:hover, /* workaround for old placement of checkbox in label */
input[type="checkbox"]:not(:disabled) + label:hover {
  color: var(--theme-hover-background);
}
input[type="checkbox"]:checked + label::before {
  background-image: url("chrome://global/skin/in-content/check.svg#check");
}

input[type="checkbox"]:checked:disabled + label::before {
  background-image: url("chrome://global/skin/in-content/check.svg#check-disabled");
}
input[type="checkbox"]:checked:not(:disabled) + label:hover::before {
  background-image: url("chrome://global/skin/in-content/check.svg#check-hover");
}
input[type="checkbox"]:disabled + label::before {
  border-color: var(--theme-body-color-inactive);
}
input[type="checkbox"]:disabled + label {
  color: var(--theme-body-color-inactive);
}

.devtools-separator {
  margin: 0 2px;
  width: 2px;
  background-image: linear-gradient(transparent 15%, var(--theme-splitter-color) 15%, var(--theme-splitter-color) 85%, transparent 85%);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: 0, 1px, 2px;
}

/* HTML toolbars - style them LCARStrek-like */

div.devtools-toolbar,
div.devtools-tabbar {
  background-size: calc(100% - 30px);
  background-image: linear-gradient(90deg, var(--theme-capped-toolbar-background), var(--theme-capped-toolbar-background));
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}

div.devtools-toolbar::before,
div.devtools-toolbar::after,
div.devtools-tabbar::before,
div.devtools-tabbar::after {
  display: flex;
  content: "";
  width: 12px;
  min-height: 16px;
  background-color: var(--theme-toolbar-caps);
}

div.devtools-toolbar::before,
div.devtools-tabbar::before {
  border-radius: 8px 0px 0px 8px;
  border: none;
  border-inline-end: 3px solid black;
  margin-inline-end: 2px;
}

div.devtools-toolbar::after,
div.devtools-tabbar::after {
  border-radius: 0px 8px 8px 0px;
  border: none;
  border-inline-start: 3px solid black;
  margin-inline-start: auto; /* originally 2px, but auto makes us able to get flexible free space */
}

/* In-tools sidebar */

.devtools-sidebar-tabs {
  height: 100%;
}

.devtools-sidebar-tabs > tabpanels {
  padding: 0;
  border: 0;
}

.devtools-sidebar-tabs tabs {
  position: static;
  overflow: hidden;
}

.devtools-sidebar-alltabs {
/*  -moz-appearance: none;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
  margin: 0;
  border-width: 0 0 1px 0;
  border-inline-start-width: 1px;
  border-style: solid;*/
}

.devtools-sidebar-alltabs .toolbarbutton-icon {
  display: none;
}

.devtools-sidebar-tabs tabs > .tabs-right,
.devtools-sidebar-tabs tabs > .tabs-left {
  display: none;
}

.devtools-sidebar-tabs tabs > tab {
  min-width: 78px;
  text-align: center;
  -moz-box-flex: 1;
  position: static;
  margin-top: 0;
}

.devtools-sidebar-tabs tabs > tab:-moz-focusring {
  position: static;
}

.devtools-sidebar-tabs tabs > tab:first-of-type {
  margin-inline-start: 0;
}

.devtools-sidebar-tabs tabs > tab:last-of-type {
  border-inline-end-width: 0;
}

.devtools-sidebar-tabs tabs > tab {
}

.devtools-sidebar-tabs tabs > tab[selected],
.devtools-sidebar-tabs tabs > tab[selected] + tab {
}

.devtools-sidebar-tabs tabs > tab:first-child {
}

.devtools-sidebar-tabs tabs > tab:hover {
}

.devtools-sidebar-tabs tabs > tab:hover:active {
}

.devtools-sidebar-tabs tabs > tab[selected],
.devtools-sidebar-tabs tabs > tab[selected]:hover:active {
}

.hidden-labels-box:not(.visible) > label,
.hidden-labels-box.visible ~ .hidden-labels-box > label:last-child {
  display: none;
}

.devtools-invisible-splitter {
  border-color: transparent;
  background-color: transparent;
}

.devtools-horizontal-splitter,
.devtools-side-splitter {
/*  background-color: var(--theme-splitter-color);*/
}

/* HACK around hardcoded stylings for the HTML-based sidebar tabs */
.tabs .tabs-menu-item,
.theme-dark .tabs .tabs-menu-item,
.theme-light .tabs .tabs-menu-item {
  margin: 0;
  margin-inline-end: 3px !important;
  padding: 0 !important;
  border-radius: 8px 8px 0 0;
  border: 0 !important;
  background-color: var(--theme-button-background);
}
.tabs .tabs-menu-item a {
  color: var(--theme-button-color) !important;
  padding: 0px 3px !important;
}
.tabs .tabs-menu-item.is-active {
  height: auto !important;
}
.tabs .tabs-navigation {
  height: auto !important;
  border: 0 !important;
  border-bottom: 3px solid  var(--theme-body-background) !important;
}
