/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Variable declarations for light and dark devtools themes.
 * Colors are taken from:
 * https://developer.mozilla.org/en-US/docs/Tools/DevToolsColors.
 * Changes should be kept in sync with commandline.css and commandline.inc.css.
 */

/* IMPORTANT NOTE:
 * This file is parsed in js (see client/shared/theme.js)
 * so the formatting should be consistent (i.e. no '}' inside a rule).
 */

:root {
  --theme-body-background: #000000;
  --theme-sidebar-background: #000000;
  --theme-contrast-background: #402800;
  --theme-contrast-border: #A09090;
  --theme-contrast-background2: #795900;

  --theme-tab-toolbar-background: #402800;
  --theme-toolbar-background: #000000;
  --theme-button-background: #C09070;
  --theme-button-color: #000000;
  --theme-hover-background: #FFCF00;
  --theme-hover-color: #000000;
  --theme-active-background: #FFCF00;
  --theme-active-color: #000000;
  --theme-selection-background: #008484;
  --theme-selection-color: #000000;
  --theme-selection-background2: #004242;
  --theme-selection-color2: #FF9F00;
  --theme-selection-background-semitransparent: rgba(0, 132, 132, .5);
  --theme-splitter-color: #9C9CFF;
  --theme-comment: #A09090;

  --theme-sidebar-background: #000000;
  --theme-contrastsidebar-background: #A09090;
  --theme-contrastsidebar-color: #000000;
  --theme-contrastsidebar-bordercolor: #000000;

  --theme-body-color: #FF9F00;
  --theme-body-color-alt: #A09090;
  --theme-body-color-inactive: #8050B0;
  --theme-content-color1: #FF9F00;
  --theme-content-color2: #A09090;
  --theme-content-color3: #FF9F00;
  --theme-content-color4: #9C9CFF;

  --theme-text-blue: #3333FF;
  --theme-highlight-green: #008484;
  --theme-highlight-blue: #9C9CFF;
  --theme-highlight-bluegrey: #A09090;
  --theme-highlight-purple: #C09070;
  --theme-highlight-darkpurple: #6000CF;
  --theme-highlight-lightorange: #FFCF00;
  --theme-highlight-orange: #FF9F00;
  --theme-highlight-red: #FF0000;
  --theme-highlight-pink: #E7ADE7;

  /* Colors used in Graphs, like performance tools. Mostly similar to some "highlight-*" colors. */
  --theme-graphs-green: #008484;
  --theme-graphs-blue: #9C9CFF;
  --theme-graphs-bluegrey: #C09070;
  --theme-graphs-purple: #C09070;
  --theme-graphs-yellow: #FFCF00;
  --theme-graphs-red: #FF0000;
  --theme-graphs-grey: #A09090;
  --theme-graphs-full-red: #FF0000;
  --theme-graphs-full-blue: #0000FF;

  /* Images */
  --theme-pane-collapse-image: url(chrome://devtools/skin/images/pane-collapse.svg);
  --theme-pane-expand-image: url(chrome://devtools/skin/images/pane-expand.svg);
}
