@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.controlBar {
  height: 24px;
  background-color: rgba(156,156,255,0.75);
}

.playButton, .muteButton {
  /* Remove the usual button appearance and styling */
  margin: 0px;
  padding: 0px;
  border: none;
  min-height: 24px;
  min-width: 24px;
}

.playButton {
  background: url("chrome://global/skin/media/pauseButton.png") no-repeat center;
}
.playButton:hover {
  background: url("chrome://global/skin/media/pauseButton-hover.png") no-repeat center;
}
.playButton[paused="true"] {
  background: url("chrome://global/skin/media/playButton.png") no-repeat center;
}
.playButton[paused="true"]:hover {
  background: url("chrome://global/skin/media/playButton-hover.png") no-repeat center;
}

.muteButton {
  background: url("chrome://global/skin/media/muteButton.png") no-repeat center;
}
.muteButton:hover {
  background: url("chrome://global/skin/media/muteButton-hover.png") no-repeat center;
}
.muteButton[muted="true"] {
  background: url("chrome://global/skin/media/unmuteButton.png") no-repeat center;
}
.muteButton[muted="true"]:hover {
  background: url("chrome://global/skin/media/unmuteButton-hover.png") no-repeat center;
}
