@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.controlBar {
  height: 24px;
  background-color: rgba(156,156,255,0.75);
}

.playButton, .muteButton {
  /* Remove the usual button appearance and styling */
  margin: 0px;
  padding: 0px;
  border: none;
  min-height: 24px;
  min-width: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
.playButton:hover, .muteButton:hover {
  background-color: rgba(255,207,0,0.75);
}
.playButton:focus > .button-box,
.muteButton:focus > .button-box {
  border: 1px dotted rgba(0,0,0,0.75);
}

.playButton {
  background-image: url("chrome://global/skin/media/pauseButton.png");
}
.playButton:hover {
  background-image: url("chrome://global/skin/media/pauseButton-hover.png");
}
.playButton[paused="true"] {
  background-image: url("chrome://global/skin/media/playButton.png");
}
.playButton[paused="true"]:hover {
  background-image: url("chrome://global/skin/media/playButton-hover.png");
}

.muteButton {
  background-image: url("chrome://global/skin/media/muteButton.png");
}
.muteButton:hover {
  background-image: url("chrome://global/skin/media/muteButton-hover.png");
}
.muteButton[muted="true"] {
  background-image: url("chrome://global/skin/media/unmuteButton.png");
}
.muteButton[muted="true"]:hover {
  background-image: url("chrome://global/skin/media/unmuteButton-hover.png");
}
