@import url(chrome://messenger/skin/messenger.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* addressing widget */
#addressingWidgetTree
  {
    height                : 80px;
    width                 : 0px;
    -moz-user-focus       : none;
  }  
  
#addressingWidgetTree > .tree-container-treerows
  {
    border-left: none;
  }

#listcol-addressingWidget 
  {
    width                 : 9em;
    border-right          : 1px solid #CCD0DD;
  }
  
#addressingWidgetTree > treechildren > treeitem > treerow,
#addressingWidgetTree > treechildren > treeitem[selected="true"] > treerow {
  border                  : none;
  background-color        : inherit;
  color                   : inherit;
}

.treecell-addressingWidget
  {
    -moz-box-align        : center;
    border-bottom         : 1px solid #CCD0DD;
    padding               : 0px !important;
  }
  
.treecell-addressingWidget:first-child 
  {
    border-bottom         : none;
  }

.dummy-row-cell:first-child
  {
    border-bottom         : 1px solid #CCD0DD;
  }

.person-icon 
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/person.gif");
    margin                : 0px 3px 0px 3px;
  }

outlinerbody:-moz-outliner-cell-text(default-match)                             
  {                                                                             
    margin: 2px -3px 2px 15px;                                                  
    border: none;                                                               
  }                                                                             

outlinerbody:-moz-outliner-image(local-abook)                                   
  {                                                                             
    margin: 2px -1px 2px 4px;                                                   
    border: none;                                                               
    list-style-image: url("chrome://messenger/skin/addressbook/myaddrbk.gif");  
  }                                                                             

outlinerbody:-moz-outliner-image(remote-abook)                                  
  {                                                                             
    margin: 2px -3px 2px 2px;                                                   
    border: none;                                                               
    list-style-image: url("chrome://messenger/skin/addressbook/remote-abook.gif");
  }                                                                             

#button-send {
	list-style-image:url("chrome://messenger/skin/messengercompose/send.gif");
}

#button-send[disabled="true"] {
	list-style-image:url("chrome://messenger/skin/messengercompose/send_dis.gif");
}

#button-address {
	list-style-image:url("chrome://messenger/skin/messengercompose/address.gif");
}

#button-address[disabled="true"] {
	list-style-image:url("chrome://messenger/skin/messengercompose/address_dis.gif");
}

#button-attach {
	list-style-image:url("chrome://messenger/skin/messengercompose/attach.gif");
}

#button-attach[disabled="true"] {
	list-style-image:url("chrome://messenger/skin/messengercompose/attach_dis.gif");
}

#button-quote {
	list-style-image:url("chrome://messenger/skin/messengercompose/quote.gif");
}

#button-quote[disabled="true"] {
	list-style-image:url("chrome://messenger/skin/messengercompose/quote_dis.gif");
}

#spellingButton {
	list-style-image:url("chrome://editor/skin/images/spell.gif");
}

#spellingButton[disabled="true"] {
	list-style-image:url("chrome://editor/skin/images/spell-diabled.gif");
}

#button-save {
	list-style-image:url("chrome://messenger/skin/messengercompose/save.gif");
}

#button-save[disabled="true"] {
	list-style-image:url("chrome://messenger/skin/messengercompose/save_dis.gif");
}

#button-stop {
	list-style-image:url("chrome://global/skin/stop.gif");
}

#button-stop[disabled="true"] {
	list-style-image:url("chrome://global/skin/stop_dis.gif");
}


#compose-toolbar-sizer
  {
    height                : 3px;
    margin-top            : 0px;
    border-top            : none;
  }    

#content-frame
  {
    border                : 1px inset #CCD0DD;
  }

#msgIdentity, #addressingWidgetTree, #msgSubject
  {
    margin-right          : 3px;
  }  

#attachmentbucket-sizer
  {
    width                 : 5px;
  }
  
#attachmentBucket {
  margin-left           : 3px;
  -moz-user-focus: normal !important;
}

#attachmentBucketText
  {
    margin-left           : 3px;
    -moz-user-focus       : none;
  }

/* askSendFormat dialog */

#askSendFormat {
	width: 40em;
}

#askImageBox {
        -moz-box-align: start;
}

#convertYes {
	list-style-image:url("chrome://global/skin/question-icon.gif");
}

#convertAltering {
	list-style-image:url("chrome://global/skin/question-icon.gif");
}

#convertNo {
	list-style-image:url("chrome://global/skin/alert-icon.gif");
}


