:root {
  -moz-appearance: none;
  background-color: transparent;
  padding: 0;
}

/* SCROLLBOX */
#newtab-scrollbox:not([page-disabled]) {
  background-color: #000000;
}

/* TOGGLE */
#newtab-toggle {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: -216px 0 transparent url("chrome://browser/skin/newtab/controls.png");
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0;
}

/* ROWS */
.newtab-row {
  margin-bottom: 20px;
}

.newtab-row:last-child {
  margin-bottom: 0;
}

/* CELLS */
.newtab-cell {
  -moz-margin-end: 20px;
  background-color: rgba(255,159,0,.2);
  border: 1px solid;
  border-color: #9C9CFF;
  border-radius: 1px;
  -moz-transition: border-color 100ms ease-out;
}

.newtab-cell:empty {
  border: 1px dashed;
}

.newtab-cell:last-child {
  -moz-margin-end: 0;
}

.newtab-cell:hover:not(:empty) {
  border-color: #FFCF00;
}

/* SITES */
.newtab-site {
  text-decoration: none;
  -moz-transition-property: top, left, opacity, box-shadow, background-color;
}

.newtab-site:hover,
.newtab-site[dragged] {
  box-shadow: 0 0 10px rgba(0,132,132,.3);
}

.newtab-site[dragged] {
  -moz-transition-property: box-shadow, background-color;
  background-color: #002121;
}

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TITLES */
.newtab-title {
  padding: 0 8px;
  background-color: rgba(255,159,0,.8);
  color: #000000;
  font-size: 12px;
  line-height: 24px;
}

/* CONTROLS */
.newtab-control {
  width: 24px;
  height: 24px;
  padding: 1px 2px 3px;
  border: none;
  background: transparent url("chrome://browser/skin/newtab/controls.png");
}

.newtab-control-pin:hover {
  background-position: -24px 0;
}

.newtab-control-pin:active {
  background-position: -48px 0;
}

.newtab-control-pin[pinned] {
  background-position: -72px 0;
}

.newtab-control-pin[pinned]:hover {
  background-position: -96px 0;
}

.newtab-control-pin[pinned]:active {
  background-position: -120px 0;
}

.newtab-control-block {
  background-position: -144px 0;
}

.newtab-control-block:hover {
  background-position: -168px 0;
}

.newtab-control-block:active {
  background-position: -192px 0;
}
