/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://inspector/skin");
@import url("chrome://navigator/skin");
@import url("chrome://browser/skin");

#bxURLBar {
  padding: 2px;
}

#bxSearch {
  height: 150px;
}

#splPanels {
  width: 5px;
  border-top: 0px;
  border-bottom: 0px;
}

/* ::::: toolbar buttons ::::: */

#btnSelecting {
  list-style-image: url("chrome://inspector/skin/btnSelecting.gif");
}

#btnSelecting:hover,
#btnSelecting[checked="true"] {
  list-style-image: url("chrome://inspector/skin/btnSelecting-act.gif");
}

#btnSelecting[disabled="true"],
#btnSelecting[disabled="true"]:hover {
  list-style-image: url("chrome://inspector/skin/btnSelecting-dis.gif");
}

#btnFind {
  list-style-image: url("chrome://inspector/skin/btnFind.gif");
}

#btnFind:hover {
  list-style-image: url("chrome://inspector/skin/btnFind-act.gif");
}

#btnFind[disabled="true"],
#btnFind[disabled="true"]:hover {
  list-style-image: url("chrome://inspector/skin/btnFind-dis.gif");
}

/* HACK: this button has no id !!! */
#bxURLBarContainer + toolbarbutton {
  margin: 2px 0px 4px;
  font-weight: bold;
}

.viewer-list, .viewer-menu {
  -moz-user-focus: ignore;
}
