richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  border-bottom: 1px solid #6666CC;
}

.addonName {
  font-weight: bold;
}

.blockedLabel {
  font-weight: bold;
  font-style: italic;
}
