/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messengercompose.css ===========================================
  == Styles for the main Messenger Compose window.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

#button-send {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(231px 25px 252px 0px);
}

#button-send[disabled="true"] {
  -moz-image-region: rect(231px 50px 252px 25px);
}

#button-send:not([disabled="true"]):hover,
#button-send:not([disabled="true"]):hover:active {
  -moz-image-region: rect(231px 75px 252px 50px);
}

#button-send[offline="true"] {
  -moz-image-region: rect(273px 25px 294px 0px);
}

#button-send[offline="true"][disabled="true"] {
  -moz-image-region: rect(273px 50px 294px 25px);
}

#button-send[offline="true"]:not([disabled="true"]):hover,
#button-send[offline="true"]:not([disabled="true"]):hover:active {
  -moz-image-region: rect(273px 75px 294px 50px);
}

#button-address {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(189px 25px 210px 0px);
}

#button-address[disabled="true"] {
  -moz-image-region: rect(189px 50px 210px 25px);
}

#button-address:not([disabled="true"]):hover,
#button-address:not([disabled="true"]):hover:active {
  -moz-image-region: rect(189px 75px 210px 50px);
}

#button-attach {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(210px 25px 231px 0px);
}

#button-attach[disabled="true"] {
  -moz-image-region: rect(210px 50px 231px 25px);
}

#button-attach:not([disabled="true"]):hover,
#button-attach:not([disabled="true"]):hover:active,
#button-attach[open="true"] {
  -moz-image-region: rect(210px 75px 231px 50px);
}

#spellingButton {
  list-style-image: url("chrome://editor/skin/icons/editoricons.png");
  -moz-image-region: rect(168px 25px 189px 0px);
}

#spellingButton[disabled="true"] {
  -moz-image-region: rect(168px 50px 189px 25px);
}

#spellingButton:not([disabled="true"]):hover,
#spellingButton:not([disabled="true"]):hover:active,
#spellingButton[open="true"] {
  -moz-image-region: rect(168px 75px 189px 50px);
}

#button-save {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(294px 25px 315px 0px);
}

#button-save[disabled="true"] {
  -moz-image-region: rect(294px 50px 315px 25px);
}

#button-save:not([disabled="true"]):hover,
#button-save:not([disabled="true"]):hover:active,
#button-save[open="true"] {
  -moz-image-region: rect(294px 75px 315px 50px);
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > #button-send,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-send {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(176px 16px 192px 0);
}

toolbar[iconsize="small"] > #button-send[disabled="true"] {
  -moz-image-region: rect(176px 32px 192px 16px);
}

toolbar[iconsize="small"] > #button-send:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-send:not([disabled="true"]):hover:active {
  -moz-image-region: rect(176px 48px 192px 32px);
}

toolbar[iconsize="small"] > #button-send[offline="true"] {
  -moz-image-region: rect(208px 16px 224px 0);
}

toolbar[iconsize="small"] > #button-send[offline="true"][disabled="true"] {
  -moz-image-region: rect(208px 32px 224px 16px);
}

toolbar[iconsize="small"] > #button-send[offline="true"]:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-send[offline="true"]:not([disabled="true"]):hover:active {
  -moz-image-region: rect(208px 48px 2224px 32px);
}

toolbar[iconsize="small"] > #button-address,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-address {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(144px 16px 160px 0);
}

toolbar[iconsize="small"] > #button-address[disabled="true"] {
  -moz-image-region: rect(144px 32px 160px 16px);
}

toolbar[iconsize="small"] > #button-address:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-address:not([disabled="true"]):hover:active {
  -moz-image-region: rect(144px 48px 160px 32px);
}

toolbar[iconsize="small"] > #button-attach,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-attach {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(160px 16px 176px 0);
}

toolbar[iconsize="small"] > #button-attach[disabled="true"] {
  -moz-image-region: rect(160px 32px 176px 16px);
}

toolbar[iconsize="small"] > #button-attach:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-attach:not([disabled="true"]):hover:active,
toolbar[iconsize="small"] > #button-attach[open="true"] {
  -moz-image-region: rect(160px 48px 176px 32px);
}

toolbar[iconsize="small"] > #spellingButton,
toolbar[iconsize="small"] > toolbarpaletteitem > #spellingButton {
  list-style-image: url("chrome://editor/skin/icons/editoricons-small.png");
  -moz-image-region: rect(128px 16px 144px 0);
}

toolbar[iconsize="small"] > #spellingButton[disabled="true"] {
  -moz-image-region: rect(128px 32px 144px 16px);
}

toolbar[iconsize="small"] > #spellingButton:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #spellingButton:not([disabled="true"]):hover:active,
toolbar[iconsize="small"] > #spellingButton[open="true"] {
  -moz-image-region: rect(128px 48px 144px 32px);
}

toolbar[iconsize="small"] > #button-save,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-save {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(224px 16px 240px 0);
}

toolbar[iconsize="small"] > #button-save[disabled="true"] {
  -moz-image-region: rect(224px 32px 240px 16px);
}

toolbar[iconsize="small"] > #button-save:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-save:not([disabled="true"]):hover:active,
toolbar[iconsize="small"] > #button-save[open="true"] {
  -moz-image-region: rect(224px 48px 240px 32px);
}

#MsgHeadersToolbar {
  min-height: 0px; /* this undoes the min-height in toolbar.css */
}

#MsgHeadersToolbar > .toolbar-box > .toolbar-holder {
  padding-inline-end: 0; /* this undoes the padding in toolbar.css */
}

/* ::::: autocomplete icons ::::: */

treechildren::-moz-tree-cell-text(default-match) {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline-start: 15px;
  margin-inline-end: -3px;
  border: none;
}

treechildren::-moz-tree-image(local-abook) {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline-start: 4px;
  margin-inline-end: -1px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.gif");
}

treechildren::-moz-tree-image(remote-abook) {
  margin: 2px;
  margin-inline-end: -3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook.gif");
}

treechildren::-moz-tree-image(remote-err) {
  margin: 2px;
  margin-inline-end: -3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook-error.gif");
}

/* ::::: LCARStrek layout corrections ::::: */

#msgheaderstoolbar-box {
  background-color: #E7ADE7;
  color: #000000;
}

#addresses-box,
#attachments-box {
  padding: 1px 5px;
}

#addresses-box > hbox > label,
#attachments-box > label {
  margin-inline-start: 0px;
}

#msgIdentity {
  margin-inline-end: 0px;
}

#msgSubject {
  margin-inline-end: 0px;
}

#attachmentBucket {
  margin: 3px 0px 2px;
  color: #FF9F00;
}

#attachmentbucket-sizer {
  width: 5px;
  margin: 0px;
  background-color: #000000;
}

#compose-toolbar-sizer {
  height: 3px;
  margin-top: 0px;
  border: none;
}

treechildren::-moz-tree-image(subscribed-news) {
  margin-inline-start: 2px;
  margin-inline-end: -3px;
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup.png");
}

/* ::::: compact menulists ::::: */

.menulist-compact {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  color: #E7ADE7;
  border: 1px solid #9C9CFF;
  list-style-image: url("chrome://global/skin/arrow/arrow-down.gif");
}

.menulist-compact > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}

.menulist-compact > .menulist-label-box > .menulist-icon {
  margin-inline-start: 2px;
}

.menulist-compact[open="true"] {
  border: 1px solid #FFCF00;
}

.menulist-compact:hover,
.menulist-compact[open="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-hover.gif");
}

.menulist-compact[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-disabled.gif");
}

#FontFaceSelect {
  max-width: 35ch;
}

/* ::::: lightweight themes ::::: */

#MsgHeadersToolbar:-moz-lwtheme,
#FormatToolbar:-moz-lwtheme,
#compose-toolbar-sizer:-moz-lwtheme {
  text-shadow: none;
  /* color: -moz-dialogtext;
  background-color: -moz-dialog; */
}

#MsgHeadersToolbar textbox:-moz-lwtheme,
#MsgHeadersToolbar menulist:-moz-lwtheme,
.formatting-button menulist:-moz-lwtheme {
  opacity: 1;
}
