#genericAbout {
  padding: 0px;
  min-height: 200px;
  max-height: 400px;
  width: 30em;
}

#clientBox {
  background-color: #000000;
  color: #FF9F00;
}

.basic-info {
  padding: 10px;
}

#extensionIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
  max-width: 64px;
  max-height: 64px;
  -moz-margin-end: 6px;
}

#genericAbout[addontype="theme"] #extensionIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}

#genericAbout[addontype="locale"] #extensionIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

#genericAbout[addontype="plugin"] #extensionIcon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}

#extensionName {
  font-size: large;
  font-weight: bold;
}

#extensionVersion {
  font-weight: bold;
  color: #9C9CFF;
}

#extensionDescription {
  margin-top: 4px;
}

#groove {
  margin-top: 0px;
}

.boxIndent {
  -moz-margin-start: 6px;
}

#extensionCreator, .contributor {
  margin: 0px;
}

.sectionTitle {
  border-top: 2px groove #008484;
  padding: 3px 0px;
  margin-top: 3px;
  font-weight: bold;
}

