/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-strip {
  border-bottom: 1px solid #FF9F00;
}

.tabmail-strip {
  border-bottom: none;
}

tabpanels {
}

.tabbrowser-tabs {
}

.tabs-left,
.tabs-right {
  display: none;
}

.tab-icon {
  margin-top: 1px;
  -moz-margin-end: 3px;
  width: 16px;
  height: 16px;
}

.tabbrowser-tab {
  margin-top: 0px;
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

.tabbrowser-tab[busy] {
  list-style-image: url("chrome://global/skin/icons/loading.gif");
}

.tabbrowser-tab[busy]:hover {
  list-style-image: url("chrome://global/skin/icons/loading-hover.gif");
}

tabbrowser > tabbox > tabpanels {
  border: none;
  padding: 0px;
  margin: 0px;
}

.tabbrowser-tab:-moz-lwtheme {
   text-shadow: none;
}

.scrollbutton-up:-moz-lwtheme,
.scrollbutton-down:-moz-lwtheme:not([selected="true"]),
.tabbrowser-tab:-moz-lwtheme:not([selected="true"]) {
  opacity: .8;
}

.tabs-newbutton > .toolbarbutton-text,
.tabs-alltabs-button > .toolbarbutton-text,
.tabs-closebutton > .toolbarbutton-text {
  display: none;
}

/* ::::: Tab scrollbox arrow, and all-tabs buttons ::::: */

.scrollbutton-up,
.scrollbutton-down {
}

.tabs-alltabs-button {
}

/* All tabs menupopup */
.alltabs-item {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://communicator/skin/icons/loading.gif");
}

.alltabs-item[tabIsScrolled] {
  font-style: italic;
}

/* ::::: close & new tab buttons ::::: */

.tabs-closebutton-box {
  -moz-box-direction: reverse;
}

.tabs-closebutton-box > hbox {
  -moz-box-orient: vertical;
}

.tabs-closebutton {
  -moz-box-flex: 1;
  margin: 0px;
  padding: 2px;
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
}

.tabs-closebutton:hover,
.tabs-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/close-button-hover.gif");
}

.tabs-newbutton {
  margin: 0px;
  padding: 0px;
  list-style-image: url("chrome://navigator/skin/icons/tab-new.gif");
}

.tabs-newbutton-box {
  -moz-box-orient: vertical;
}

.tabs-newbutton-box > .tabs-newbutton {
  -moz-box-flex: 1;
}

.tab-drop-indicator-bar {
  height: 11px;
  margin-top: -11px;
  -moz-margin-start: -6px;
  position: relative;
}

.tab-drop-indicator {
  height: 11px;
  width: 11px;
  margin-bottom: -8px;
  position: relative;
  list-style-image: url('chrome://navigator/skin/icons/tab-drag-indicator.gif');
}

tooltip[tabpreview="true"] {
  max-width: none;
}
