/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url('chrome://global/skin/in-content/common.css');

:root {
  background-color: #000000;
  color: #FF9F00;
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
  padding-inline-start: 2em;
  padding-inline-end: 2em;
}

body {
  border: 1px solid #9C9CFF;
  border-radius: 10px;
  padding: 3em;
  min-width: 30em;
  max-width: 65em;
  margin: 4em auto;
  background-color: #000000;
  color: #FF9F00;
}

h1 {
  margin: 0 0 .6em;
  border-bottom: 1px solid #008484;
  font-size: 160%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #3333FF;
}

td > a:visited {
  color: #8050B0;
}

body > table > tbody > tr:hover a {
  color: #000000;
}

p {
  font-size: 110%;
}

#UI_goUp {
  margin-top: 0;
  float: left;
}

#UI_goUp:hover {
  background-color: #FFCF00;
}
#UI_goUp:hover > a {
  color: #000000;
}

#UI_goUp:dir(rtl) {
  float: right;
}

#UI_showHidden {
  margin-top: 0;
  float: right;
}

#UI_showHidden:dir(rtl) {
  float: left;
}

/* HACK: as the checkbox is inside the label, we need to leave the ugle native checkbox */
#UI_showHidden > label > input[type="checkbox"] {
  opacity: 1;
  position: static;
}
#UI_showHidden > label:hover {
  color: #FFCF00;
}

table {
  clear: both;
  width: 90%;
  margin: 0 auto;
}

thead {
  font-size: 130%;
}

/* last modified */
th:first-child {
  text-align: center !important;
}

th:hover {
  background-color: #FFCF00;
}

th:hover > a {
  color: #000000;
}

body > table > tbody > tr:hover {
  background-color: #FFCF00;
  color: #000000;
}

/* let 'Size' and 'Last Modified' take only as much space as they need and 'Name' all the rest */
td:not(:first-child) {
  width: 0;
}

.up {
  padding: 0 .5em;
  margin-inline-start: 20px;
}

.up::before {
  margin-inline-end: 4px;
  margin-inline-start: -20px;
  vertical-align: middle;
  content: url("chrome://global/skin/dirListing/up.png");
}

#UI_goUp:hover > .up::before {
  content: url("chrome://global/skin/dirListing/up-hover.png");
}
