
/* hmm, could this box (hbox) be in any other component than navigator? */

#urlbar-container
  {
    border                : 1px inset #CCD0DD;
    background-color      : #FFFFFF;
    padding               : 1px;
    margin                : 0px 0px 0px 3px;
  }
  
  
