
/** Styles applying to items in a button-toolbar-3 style menu
 *  menuitem class="button-toolbar-3"
 **/
  .button-toolbar-3 > .menubutton-icon-internal-box
    {
      border                : 1px outset #9999CC;
    }

  .button-toolbar-3[open="true"] > .menubutton-icon-internal-box,
  .button-toolbar-3:hover:active > .menubutton-icon-internal-box
    {
      border                : 1px inset #9999CC;
    }
  
  menupopup.button-toolbar-3 
    {
      border                : none;
    }
  
  menuitem.button-toolbar-3 
    {
      font-weight           : normal;
    }
   
  .button-toolbar-3[menuactive="true"]
    {
      background-color      : #666699;
      color                 : #FFFFFF;
      font-weight           : normal;
    } 
    
/** menubuttons on generic grey toolbars
 *  class="button-toolbar"
 **/ 
  .button-toolbar > .menubutton-internal-box
    {
      border                : 1px solid transparent;
      padding               : 1px 2px 1px 2px;
    }


 .button-toolbar:hover > .menubutton-internal-box
    {
      border                : 1px outset #CCD0DD;
      padding               : 1px 2px 1px 2px;
    }

 .button-toolbar[open="true"] > .menubutton-internal-box,
 .button-toolbar[open="true"] > .button-internal-box,
 .button-toolbar:hover:active > .menubutton-internal-box
    {
      border                : 1px inset #CCD0DD;
      padding               : 2px 1px 0px 3px;
    }

/** 
 * Navigation bar style menubuttons 
 **/


.menubutton-dual.top
  {
    font-size               : smaller;
  }

.menubutton-dual.top > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box > .button-text-container 
  {
    padding-top             : 3px;
    text-align              : center;
  }

.menubutton-dual.top > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box
  {
    border                  : 1px solid transparent;
    padding                 : 1px;
  }

.menubutton-dual.top:hover > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box,
.menubutton-dual.top > .menubutton-internal-box > .menubutton-dual-button:hover > .button-internal-box
  {
    border                  : 1px outset #CCD0DD;
    padding                 : 1px;
  }

.menubutton-dual.top:hover:active > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box,
.menubutton-dual.top[open="true"] > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box,
.menubutton-dual.top > .menubutton-internal-box > .menubutton-dual-button:hover:active > .button-internal-box
  {
    border                  : 1px inset #CCD0DD;
    padding                 : 2px 0px 0px 2px;
  }


.menubutton-dual.top[disabled="true"] > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box,
.menubutton-dual.top[disabled="true"]:hover:active > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box,
.menubutton-dual.top[disabled="true"][open="true"] > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box,
.menubutton-dual.top[disabled="true"] > .menubutton-internal-box > .menubutton-dual-button:hover:active > .button-internal-box
  {
    border                  : 1px solid transparent;
    padding                 : 1px;
  }

.menubutton-dual.top > .menubutton-internal-box > .menubutton-dual-dropmarker-box
  {
    border                  : 1px solid transparent;
    padding                 : 1px;
  }

.menubutton-dual.top:hover > .menubutton-internal-box > .menubutton-dual-dropmarker-box
  {
    border                  : 1px outset #CCD0DD;
    padding                 : 1px;
  }

.menubutton-dual.top:hover:active > .menubutton-internal-box > .menubutton-dual-dropmarker-box,
.menubutton-dual.top[open="true"] > .menubutton-internal-box > .menubutton-dual-dropmarker-box
  {
    border                  : 1px inset #CCD0DD;
    padding                 : 2px 0px 0px 2px;
  }


.menubutton-dual.top[disabled="true"] > .menubutton-internal-box > .menubutton-dual-dropmarker-box,
.menubutton-dual.top[disabled="true"]:hover:active > .menubutton-internal-box > .menubutton-dual-dropmarker-box,
.menubutton-dual.top[disabled="true"][open="true"] > .menubutton-internal-box > .menubutton-dual-dropmarker-box
  {
    border                  : 1px solid transparent;
    padding                 : 1px;
  }

menubutton > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker
  {
/*    padding-bottom           : 17px;  */
    padding-bottom           : 24px;  
  }

