/******* Splitters *******/

splitter {
  border: none;
   cursor: e-resize;
   min-width: 10px;
   min-height: 10px;
}

splitter[state="dragging"]
{
   background-color: gray;
}

grippy {
	margin: 0px;
	border: 1px outset #CCD0DD;
	padding: 0px;
	background-color: #CCCCCC;
        background-image: url("chrome://global/skin/grippy-vertical-before.gif"); 
        background-repeat: no-repeat;
        background-position: 50% 50%;
	cursor: pointer;
}

splitter[state="collapsed"] > grippy
  {
    background-image      : url("chrome://global/skin/grippy-vertical-after.gif");
  }

grippy:hover
  {
    background-color      : #99CCFF;
  }

grippy:hover:active{
	background-color: #99CCFF;
}

vbox > splitter > grippy,
box[orient="vertical"] > splitter > grippy,
window[orient="vertical"] > splitter > grippy {
	/* a horizontal splitter */
        background-image: url("chrome://global/skin/grippy-horizontal-after.gif"); 
	width: 120px;
	height:8px;
 }

vbox > splitter[state="collapsed"] > grippy,
box[orient="vertical"] > splitter[state="collapsed"] > grippy,
window[orient="vertical"] > splitter[state="collapsed"] > grippy {
        background-image: url("chrome://global/skin/grippy-horizontal-before.gif"); 
 }

window > splitter > grippy,
hbox > splitter > grippy,
box > splitter > grippy {
	/* a vertical splitter */
	width: 8px;
	height: 120px;
}

vbox > splitter,
box[orient="vertical"] > splitter,
window[orient="vertical"] > splitter,
rows > splitter {
	/* a vertical splitter */
        cursor: n-resize;
}

/**
 * gray horizontal splitter for pane views
 */
splitter.gray-horizontal-splitter { 
	min-height: 8px;
	background-color: #CCD0DD;
	border: none;
        border-top: 1px solid #9999CC;
        border-bottom: 1px solid #9999CC;
	padding: 0px;
}

splitter.gray-horizontal-splitter > grippy { 
	margin: 0px;
	border: 1px outset #CCD0DD;
	padding: 0px;
	background-color: #CCCCCC;
        background-image: url("chrome://global/skin/grippy-horizontal-after.gif"); 
}

splitter.gray-horizontal-splitter[state="collapsed"] > grippy { 
        background-image: url("chrome://global/skin/grippy-horizontal-before.gif"); 
}

splitter.gray-horizontal-splitter > grippy:hover { 
	background-color: #99CCFF;
}

splitter.gray-horizontal-splitter > grippy:active { 
	border: 1px inset #CCD0DD;
	background-color: #99CCFF;
}

/*
splitter.gray-horizontal-splitter > #begincap { 
	min-width: 8px;
	width: 8px;
	background-image: url("chrome://global/skin/gray-bottomleft.gif");
	background-repeat: no-repeat;
	background-position: 0% 100%;
}

splitter.gray-horizontal-splitter > #endcap { 
	min-width: 8px;
	width: 8px;
}
*/
