/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: primary toolbar buttons ::::: */

#button-newcard {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons.png");
  -moz-image-region: rect(42px 25px 63px 0px);
}

#button-newcard[disabled="true"] {
  -moz-image-region: rect(42px 50px 63px 25px);
}

#button-newcard:not([disabled="true"]):hover,
#button-newcard:not([disabled="true"]):hover:active {
  -moz-image-region: rect(42px 75px 63px 50px);
} 

#button-newlist {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons.png");
  -moz-image-region: rect(63px 25px 84px 0px);
}

#button-newlist[disabled="true"] {
  -moz-image-region: rect(63px 50px 84px 25px);
}

#button-newlist:not([disabled="true"]):hover,
#button-newlist:not([disabled="true"]):hover:active {
  -moz-image-region: rect(63px 75px 84px 50px);
}

#button-editcard {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons.png");
  -moz-image-region: rect(21px 25px 42px 0px);
}

#button-editcard[disabled="true"] {
  -moz-image-region: rect(21px 50px 42px 25px);
}

#button-editcard:not([disabled="true"]):hover,
#button-editcard:not([disabled="true"]):hover:active {
  -moz-image-region: rect(21px 75px 42px 50px);
}

#button-newmessage {
  list-style-image: url("chrome://messenger/skin/icons/messengericons.png");
  -moz-image-region: rect(105px 25px 126px 0px);
}

#button-newmessage[disabled="true"] {
  -moz-image-region: rect(105px 50px 126px 25px);
}

#button-newmessage:not([disabled="true"]):hover,
#button-newmessage:not([disabled="true"]):hover:active {
  -moz-image-region: rect(105px 75px 126px 50px);
}

#button-newim {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons.png");
  -moz-image-region: rect(84px 25px 105px 0px);
}

#button-newim[disabled="true"] {
  -moz-image-region: rect(84px 25px 105px 0px);
}

#button-newim:not([disabled="true"]):hover,
#button-newim:not([disabled="true"]):hover:active {
  -moz-image-region: rect(84px 25px 105px 0px);
}

#button-abdelete {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons.png");
  -moz-image-region: rect(0px 25px 21px 0px);
}

#button-abdelete[disabled="true"] {
  -moz-image-region: rect(0px 50px 21px 25px);
}

#button-abdelete:not([disabled="true"]):hover,
#button-abdelete:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0px 75px 21px 50px);
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > #button-newcard,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newcard {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons-small.png");
  -moz-image-region: rect(32px 16px 48px 0);
}

toolbar[iconsize="small"] > #button-newcard[disabled] {
  -moz-image-region: rect(32px 32px 48px 16px);
}

toolbar[iconsize="small"] > #button-newcard:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-newcard:not([disabled="true"]):hover:active {
  -moz-image-region: rect(32px 48px 48px 32px);
}

toolbar[iconsize="small"] > #button-newlist,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newlist {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons-small.png");
  -moz-image-region: rect(48px 16px 64px 0);
}

toolbar[iconsize="small"] > #button-newlist[disabled] {
  -moz-image-region: rect(48px 32px 64px 16px);
}

toolbar[iconsize="small"] > #button-newlist:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-newlist:not([disabled="true"]):hover:active {
  -moz-image-region: rect(48px 48px 64px 32px);
}

toolbar[iconsize="small"] > #button-editcard,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-editcard {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons-small.png");
  -moz-image-region: rect(16px 16px 32px 0);
}

toolbar[iconsize="small"] > #button-editcard[disabled] {
  -moz-image-region: rect(16px 32px 32px 16px);
}

toolbar[iconsize="small"] > #button-editcard:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-editcard:not([disabled="true"]):hover:active {
  -moz-image-region: rect(16px 48px 32px 32px);
}

toolbar[iconsize="small"] > #button-newmessage,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newmessage {
  list-style-image: url("chrome://messenger/skin/icons/messengericons-small.png");
  -moz-image-region: rect(80px 16px 96px 0);
}

toolbar[iconsize="small"] > #button-newmessage[disabled="true"] {
  -moz-image-region: rect(80px 32px 96px 16px);
}

toolbar[iconsize="small"] > #button-newmessage:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-newmessage:not([disabled="true"]):hover:active {
  -moz-image-region: rect(80px 48px 96px 32px);
}

toolbar[iconsize="small"] > #button-newim,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newim {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons-small.png");
  -moz-image-region: rect(64px 16px 80px 0);
}

toolbar[iconsize="small"] > #button-newim[disabled] {
  -moz-image-region: rect(64px 32px 80px 16px);
}

toolbar[iconsize="small"] > #button-newim:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-newim:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 48px 80px 32px);
}

toolbar[iconsize="small"] > #button-abdelete,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-abdelete {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons-small.png");
  -moz-image-region: rect(0 16px 16px 0);
}

toolbar[iconsize="small"] > #button-abdelete[disabled] {
  -moz-image-region: rect(0 32px 16px 16px);
}

toolbar[iconsize="small"] > #button-abdelete:not([disabled="true"]):hover,
toolbar[iconsize="small"] > #button-abdelete:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0 48px 16px 32px);
}

/* CardView styles - used in the Card View Pane */

#CardViewOuterBox {
/*  border-left: 1px solid ThreeDShadow;
  border-top: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight; */
}

#CardViewBox {
  -moz-user-focus: ignore;
  overflow: auto;
  min-width: 150px;
  background-color: #000000;
}

#CardViewInnerBox {
  margin: 2px 0px;
  padding: 0px 8px;
}

#CardTitle {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px solid #6000CF;
  min-width: 120px;
  margin: 0px;
}

.cardViewGroup {
  margin-top: 8px;
  padding-bottom: 5px;
  min-width: 50px;
}

.CardViewHeading {
  padding: 1px;
  padding-inline-start: 5px;
  margin: 0 0 1px;
  background-color: #008484;
  color: #000000;
  font-weight: bold;
  min-width: 30px;
}

#cvBuddyIcon {
  padding-inline-start: 20px;
  padding-top: 2px;
}

.CardViewText,
.CardViewLink {
  padding-inline-start: 20px;
  padding-inline-end: 2px;
  min-width: 30px;
  margin: 0px;
}

.CardViewLink {
  color: #3333FF;
  text-decoration: underline;
  cursor: pointer;
}

#cvHomeMapIt, #cvWorkMapIt {
  margin-bottom: 0px;
}

html|a {
  padding-inline-start: 0px;
  padding-inline-end: 2px;
  border: none !important;
}

html|p {
  border: none !important;
}

/* ::::: border adjustments ::::: */

#abResultsTree {
/*  border-left: 1px solid ThreeDShadow; */
}

/* ::::: lightweight themes ::::: */

#CardViewOuterBox:-moz-lwtheme,
treecols:-moz-lwtheme {
  text-shadow: none;
  /* color: -moz-dialogtext;
  background-color: -moz-dialog; */
}
