/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: formatting buttons ::::: */

#FormatToolbar > toolbarbutton > .toolbarbutton-text {
  display: none;
}

toolbarbutton.formatting-button {
  min-width: 18px;
}

#DecreaseFontSizeButton {
  list-style-image: url("chrome://editor/skin/icons/dec-font-size.gif");
}

#DecreaseFontSizeButton:hover,
#DecreaseFontSizeButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/dec-font-size-hover.gif");
}

#DecreaseFontSizeButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/dec-font-size-disabled.gif") !important;
}

#IncreaseFontSizeButton {
  list-style-image: url("chrome://editor/skin/icons/inc-font-size.gif");
}

#IncreaseFontSizeButton:hover,
#IncreaseFontSizeButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/inc-font-size-hover.gif");
}

#IncreaseFontSizeButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/inc-font-size-disabled.gif") !important;
}

#boldButton {
  list-style-image: url(chrome://editor/skin/icons/bold.gif);
}

#boldButton:hover,
#boldButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/bold-hover.gif");
}

#boldButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/bold-disabled.gif") !important;
}

#italicButton {
  list-style-image: url("chrome://editor/skin/icons/italic.gif");
}

#italicButton:hover,
#italicButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/italic-hover.gif");
}

#italicButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/italic-disabled.gif") !important;
}

#underlineButton {
  list-style-image: url("chrome://editor/skin/icons/underline.gif");
}

#underlineButton:hover,
#underlineButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/underline-hover.gif");
}

#underlineButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/underline-disabled.gif") !important;
}

#ulButton {
  list-style-image:url("chrome://editor/skin/icons/bullets.gif");
}

#ulButton:hover,
#ulButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/bullets-hover.gif");
}

#ulButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/bullets-disabled.gif") !important;
}

#olButton {
  list-style-image: url("chrome://editor/skin/icons/numbers.gif");
}

#olButton:hover,
#olButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/numbers-hover.gif");
}

#olButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/numbers-disabled.gif") !important;
}

#outdentButton {
  list-style-image: url("chrome://editor/skin/icons/outdent.gif");
}

#outdentButton:hover,
#outdentButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/outdent-hover.gif");
}

#outdentButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/outdent-disabled.gif") !important;
}

#indentButton {
  list-style-image: url("chrome://editor/skin/icons/indent.gif");
}

#indentButton:hover,
#indentButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/indent-hover.gif");
}

#indentButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/indent-disabled.gif") !important;
}

#align-left-button {
  list-style-image: url("chrome://editor/skin/icons/left.gif");
}

#align-left-button:hover,
#align-left-button:hover:active {
  list-style-image: url("chrome://editor/skin/icons/left-hover.gif");
}

#align-left-button[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/left-disabled.gif") !important;
}

#align-center-button {
  list-style-image: url("chrome://editor/skin/icons/center.gif");
}

#align-center-button:hover,
#align-center-button:hover:active {
  list-style-image: url("chrome://editor/skin/icons/center-hover.gif");
}

#align-center-button[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/center-disabled.gif") !important;
}

#align-right-button {
  list-style-image: url("chrome://editor/skin/icons/right.gif");
}

#align-right-button:hover,
#align-right-button:hover:active {
  list-style-image: url("chrome://editor/skin/icons/right-hover.gif");
}

#align-right-button[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/right-disabled.gif") !important;
}

#align-justify-button {
  list-style-image: url("chrome://editor/skin/icons/justify.gif");
}

#align-justify-button:hover,
#align-justify-button:hover:active {
  list-style-image: url("chrome://editor/skin/icons/justify-hover.gif");
}

#align-justify-button[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/justify-disabled.gif") !important;
}

#AlignPopupButton {
  list-style-image: url("chrome://editor/skin/icons/align.gif");
}

#AlignPopupButton:hover,
#AlignPopupButton:hover:active,
#AlignPopupButton[open="true"] {
  list-style-image: url("chrome://editor/skin/icons/align-hover.gif");
}

#AlignPopupButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/align-disabled.gif") !important;
}

#InsertPopupButton {
  list-style-image: url("chrome://editor/skin/icons/insert.gif");
}

#InsertPopupButton:hover,
#InsertPopupButton:hover:active,
#InsertPopupButton[open="true"] {
  list-style-image: url("chrome://editor/skin/icons/insert-hover.gif");
}

#InsertPopupButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/insert-disabled.gif") !important;
}

#smileButtonMenu {
  list-style-image: url("chrome://editor/skin/icons/smile.gif");
}

#smileButtonMenu[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/smile-disabled.gif") !important;
}

/* ::::: menuitem icons ::::: */

/* ..... align menu ..... */

#AlignLeftItem {
  list-style-image: url("chrome://editor/skin/icons/left.gif");
}

#AlignLeftItem:hover,
#AlignLeftItem:hover:active {
  list-style-image: url("chrome://editor/skin/icons/left-hover.gif");
}

#AlignCenterItem {
  list-style-image: url("chrome://editor/skin/icons/center.gif");
}

#AlignCenterItem:hover,
#AlignCenterItem:hover:active {
  list-style-image: url("chrome://editor/skin/icons/center-hover.gif");
}

#AlignRightItem {
  list-style-image: url("chrome://editor/skin/icons/right.gif");
}

#AlignRightItem:hover,
#AlignRightItem:hover:active {
  list-style-image: url("chrome://editor/skin/icons/right-hover.gif");
}

#AlignJustifyItem {
  list-style-image: url("chrome://editor/skin/icons/justify.gif");
}

#AlignJustifyItem:hover,
#AlignJustifyItem:hover:active {
  list-style-image: url("chrome://editor/skin/icons/justify-hover.gif");
}

/* ..... insert menu ..... */

#InsertPopup > menuitem {
  list-style-image: url("chrome://editor/skin/icons/editoricons-small.png");
}

#InsertLinkItem {
  -moz-image-region: rect(48px 16px 64px 0);
}

#InsertLinkItem:hover,
#InsertLinkItem:hover:active {
  -moz-image-region: rect(48px 48px 64px 32px);
}

#InsertAnchorItem {
  -moz-image-region: rect(0px 16px 16px 0);
}

#InsertAnchorItem:hover,
#InsertAnchorItem:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

#InsertImageItem {
  -moz-image-region: rect(32px 16px 48px 0);
}

#InsertImageItem:hover,
#InsertImageItem:hover:active {
  -moz-image-region: rect(32px 48px 48px 32px);
}

#InsertHRuleItem {
  -moz-image-region: rect(16px 16px 32px 0);
}

#InsertHRuleItem:hover,
#InsertHRuleItem:hover:active {
  -moz-image-region: rect(16px 48px 32px 32px);
}

#InsertTableItem {
  -moz-image-region: rect(144px 16px 160px 0);
}

#InsertTableItem:hover,
#InsertTableItem:hover:active {
  -moz-image-region: rect(144px 48px 160px 32px);
}

/* ..... smiley menu ..... */

.insert-smile {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-smile.png");
}

.insert-frown {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-frown.png"); 
}

.insert-wink {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-wink.png");
}

.insert-tongue {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-tongue.png");
}

.insert-laughing {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-laughing.png"); 
}

.insert-embarrassed {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-embarrassed.png");
}

.insert-undecided {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-undecided.png"); 
}

.insert-surprise {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-surprise.png"); 
}

.insert-kiss {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-kiss.png"); 
}

.insert-yell {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-yell.png"); 
}

.insert-cool {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cool.png"); 
}

.insert-money {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-money.png"); 
}

.insert-foot {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-foot.png"); 
}

.insert-innocent {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-innocent.png"); 
}

.insert-cry {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cry.png"); 
}

.insert-sealed {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-sealed.png"); 
}

/* ::::: fg/bg color picker ::::: */

.ColorPickerLabel {
  border: 1px inset #FF9F00;
  margin: 0px;
  padding: 2px;
}

.color-button {
  border: 1px inset #9C9CFF;
  padding: 0px;
  width: 14px;
  height: 12px;
  margin: 2px;
}

.color-button:hover {
  border: 1px solid #FFCF00;
}

#TextColorButton {
  margin-top: 2px;
  margin-bottom: 9px;
  -moz-margin-start: 2px;
  -moz-margin-end: 9px;
}

#TextColorButton[color="mixed"] {
  background-image: url("chrome://editor/skin/icons/multicolor.png");
  background-size: cover;
}

#BackgroundColorButton {
  margin-top: 9px;
  margin-bottom: 2px;
  -moz-margin-start: 9px;
  -moz-margin-end: 2px;
}

#HighlightColorButton {
  list-style-image: url("chrome://editor/skin/icons/highlight.gif");
  background-color: transparent;
}

#HighlightColorButton:hover,
#HighlightColorButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/highlight-hover.gif");
}

#HighlightColorButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/highlight-disabled.gif") !important;
}

#absolutePositionButton {
  list-style-image: url("chrome://editor/skin/icons/pinned.gif");
}

#absolutePositionButton:hover,
#absolutePositionButton:hover:active {
  list-style-image: url("chrome://editor/skin/icons/pinned-hover.gif");
}

#absolutePositionButton[disabled="true"] {
  list-style-image: url("chrome://editor/skin/icons/pinned-disabled.gif") !important;
}

#absolutePositionButton[checked="true"] {
  list-style-image: url("chrome://editor/skin/icons/notpinned.gif");
}

#absolutePositionButton[checked="true"]:hover,
#absolutePositionButton[checked="true"]:hover:active {
  list-style-image: url("chrome://editor/skin/icons/notpinned-hover.gif");
}

#increaseZIndexButton {
  list-style-image: url("chrome://editor/content/images/bringtofront.gif");
}

#increaseZIndexButton[disabled="true"] {
  list-style-image: url("chrome://editor/content/images/bringtofront-disabled.gif");
}

#decreaseZIndexButton {
  list-style-image: url("chrome://editor/content/images/sendtoback.gif");
}

#decreaseZIndexButton[disabled="true"] {
  list-style-image: url("chrome://editor/content/images/sendtoback-disabled.gif");
}
