
/* Info box */
#detailsDeck {
  margin: 5px;
}

#infoBoxExpanderLabel {
  -moz-padding-start: 2px;
}

#organizerScopeBar {
  padding: 2px 0;
  -moz-padding-end: 3px;
}

#placesMenu {
  border-bottom: none;
}

#placesMenu > menu {
  padding-top: 3px;
  padding-bottom: 3px;
}

#searchFilter {
  margin: 0;
}
