/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== bookmarksToolbar.css ===========================================
  == Styles specific to bookmark items in a toolbar.
  ======================================================================= */

@import url(chrome://communicator/skin/bookmarks/bookmarks.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: bookmark toolbar buttons ::::: */

toolbarbutton.bookmark-item {
  cursor: pointer;
  min-width: 0px;
  max-width: 13em;
  min-height: 20px;
}

toolbarbutton.bookmark-item[container="true"] {
  cursor: default;
}

toolbarbutton.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

.bookmark-item > .menu-iconic-left > .menu-iconic-icon {
  max-width: 16px;
  max-height: 16px;
}

.bookmark-group {
  list-style-image: url(chrome://communicator/skin/bookmarks/bookmark-group.gif) !important;
}

toolbarbutton.bookmark-item[disabled="true"],
toolbarbutton.bookmark-item[disabled="true"]:hover,
toolbarbutton.bookmark-item[disabled="true"]:hover:active {
  color: #999999;
  text-decoration: none;
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item-disabled.gif");
  cursor: default;
}

toolbarbutton.bookmark-item[disabled="true"][container="true"],
toolbarbutton.bookmark-item[disabled="true"][container="true"]:hover,
toolbarbutton.bookmark-item[disabled="true"][container="true"]:hover:active {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-disabled.gif");
}

.menuitem-iconic.bookmark-item[disabled="true"] {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item-disabled.gif");
}

.menu-iconic.bookmark-item[disabled="true"][container="true"] {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-disabled.gif");
}

/* Prevent [mode="icons"] from hiding the label */
.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
}

/* ::::: drag and drop styles ::::: */

#PlacesToolbarDropIndicator {
  list-style-image: url("chrome://communicator/skin/bookmarks/toolbarDropMarker.png");
}

toolbarbutton.bookmark-item[dragover="true"][open="true"] {
  background-color: #336699 !important;
  color: #FFFFFF !important;
}

/* ::::: bookmark menus ::::: */

menu.bookmark-item,
menuitem.bookmark-item {
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
  padding: 0px 2px;
}

.menuitem-iconic.bookmark-item[disabled="true"] {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item-disabled.gif");
}

.menu-iconic.bookmark-item[disabled="true"][container="true"] {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-disabled.gif");
}

/* ..... drag and drop styles ..... */

/* rules for menupopup drop indicators */
.menupopup-drop-indicator-bar {
  position: relative;
  /* these two margins must together compensate the indicator's height */
  margin-top: -1px;
  margin-bottom: -1px;
}

.menupopup-drop-indicator {
  list-style-image: none;
  height: 2px;
  -moz-margin-end: -4em;
  background-color: #336699;
}
