
/** Styles applying to items in a button-toolbar-3 style menu
 *  menuitem class="button-toolbar-3"
 **/
  .button-toolbar-3 > .menubutton-icon-internal-box
    {
      border                : none;
    }

  .button-toolbar-3[open="true"] > .menubutton-icon-internal-box,
  .button-toolbar-3:hover:active > .menubutton-icon-internal-box
    {
      border                : none;
    }
  
  menuitem.button-toolbar-3 
    {
      font-weight           : normal;
    }
   
  .button-toolbar-3[menuactive="true"]
    {
      font-weight           : normal;
    } 
    
/** menubuttons on generic grey toolbars
 *  class="button-toolbar"
 **/ 
  .button-toolbar > .menubutton-internal-box
    {
      -moz-border-radius    : 3px;
      padding               : 1px 2px 1px 2px;
      background-color      : #000000;
      color                 : #E7ADE7;
    }


 .button-toolbar:hover > .menubutton-internal-box
    {
      background-color      : #FFCF00;
      color                 : #000000;
      padding               : 1px 2px 1px 2px;
    }

 .button-toolbar:hover:active > .menubutton-internal-box
    {
      background-color      : #FFCF00;
      color                 : #000000;
      padding               : 2px 1px 0px 3px;
    }

 .button-toolbar[open="true"] > .menubutton-internal-box
    {
      background-color      : #FF9F00;
      color                 : #000000;
      padding               : 2px 1px 0px 3px;
    }

/** menubuttons on taskbar
 *  class="button-toolbar-4"
 **/ 
  .button-toolbar-4
    {
      border                : none;
    }

  .button-toolbar-4 > .menubutton-internal-box
    {
      -moz-border-radius    : 3px;
      border                : none;
      padding               : 1px 2px 1px 2px;
    }

 .button-toolbar-4:hover > .menubutton-internal-box
    {
      background-color      : #FFCF00;
      color                 : #000000;
      padding               : 1px 2px 1px 2px;
    }

 .button-toolbar-4:hover:active > .menubutton-internal-box
    {
      background-color      : #FFCF00;
      color                 : #000000;
      padding               : 2px 1px 0px 3px;
    }

 .button-toolbar-4[open="true"] > .menubutton-internal-box
    {
      background-color      : #FF9F00;
      color                 : #000000;
      padding               : 2px 1px 0px 3px;
    }

 .button-toolbar-4:hover:active,
 .button-toolbar-4[open="true"]
    {
      padding               : 0px;
    }

/** 
 * Navigation bar style menubuttons 
 **/

/* This is really a hack to deal with buggy :hover - but it's now in toolkit (see below, taken from classic) */

/**
 * XXX - this is a hack. :hover does not work to spec and so we're using a binding
 *       with JS that lives in xpfe/global/resources/content/menulistBindings.xml
 *       to set attributes on various parts of the button when mouse down/over 
 *       events fire. When :hover works correctly, this can be removed (see
 *       revision 1.21 of this file for details.
 */


.menubutton-dual.top
  {
    -moz-binding          : url("chrome://global/content/menulistBindings.xml#menubutton-dual-ex");
/*    -moz-user-focus       : ignore !important; */
  }

.menubutton-dual.left
  {
    -moz-binding          : url("chrome://global/content/menulistBindings.xml#menubutton-dual-ex-left");
/*    -moz-user-focus       : none !important; */
  }  
  


.menubutton-dual
  {
    font-size               : smaller;
  }

/* Mail & Co. */

.menubutton-dual.toolbar
  {
    min-width               : 32px;
    min-height              : 32px;
    max-height              : 40px;
    margin                  : 0px 1px 0px 1px;
    padding                 : 0px;
    font-size               : smaller;
    border                  : none;
  }

.menubutton-dual.toolbar > button > .button-internal-box
  {
    min-width               : 32px;
    min-height              : 32px;
    max-height              : 40px;
    border                  : none;
  }


.menubutton-dual-ex-button > .button-internal-box > .button-text-container 
  {
    padding-top             : 3px;
    text-align              : center;
  }



.menubutton-dual > .menubutton-dual-ex-button > .button-internal-box
  {
    padding                 : 1px;
    border                  : none;
    -moz-border-radius      : 3px 0px 0px 3px;
  }

.menubutton-dual-ex-button
  {
    margin                  : 0px;
  }
 
.menubutton-dual:hover > .menubutton-dual-ex-button > .button-internal-box,
.menubutton-dual[buttonover="true"] > .menubutton-dual-ex-button > .button-internal-box
  {
    background-color        : #FFCF00;
    color                   : #000000;
    padding                 : 1px;
    border                  : none;
  }

.menubutton-dual:hover:active > .menubutton-dual-ex-button > .button-internal-box,
.menubutton-dual > .menubutton-dual-ex-button:hover:active > .button-internal-box
  {
    background-color        : #FFCF00;
    color                   : #000000;
    padding                 : 2px 0px 0px 2px;
    border                  : none;
  }

.menubutton-dual[open="true"] > .menubutton-dual-ex-button > .button-internal-box
  {
    background-color        : #FF9F00;
    color                   : #000000;
    padding                 : 2px 0px 0px 2px;
    border                  : none;
  }

.menubutton-dual[disabled="true"] > .menubutton-dual-ex-button > .button-internal-box,
.menubutton-dual[disabled="true"]:hover:active > .menubutton-dual-ex-button > .button-internal-box,
.menubutton-dual[disabled="true"][open="true"] > .menubutton-dual-ex-button > .button-internal-box,
.menubutton-dual[disabled="true"][buttonover="true"] > .menubutton-dual-ex-button > .button-internal-box,
.menubutton-dual[disabled="true"] > .menubutton-dual-ex-button:hover:active > .button-internal-box
  {
    background-color        : #000000;
    color                   : #8050B0;
    padding                 : 1px;
    border                  : none;
  }


  
.menubutton-dual > .menubutton-dual-dropmarker-box
  {
    -moz-border-radius      : 0px 3px 3px 0px;
    padding                 : 1px;
    border                  : none;
  }

.menubutton-dual-ex:hover > .menubutton-dual-dropmarker-box,
.menubutton-dual:hover > .menubutton-dual-dropmarker-box,
.menubutton-dual > .menubutton-dual-dropmarker-box:hover,
.menubutton-dual[buttonover="true"] > .menubutton-dual-dropmarker-box
  {
    background-color        : #FFCF00;
    color                   : #000000;
    padding                 : 1px;
    border                  : none;
  }

.menubutton-dual:hover:active > .menubutton-dual-dropmarker-box
  {
    background-color        : #FFCF00;
    color                   : #000000;
    padding                 : 2px 0px 0px 2px;
    border                  : none;
  }

.menubutton-dual[open="true"] > .menubutton-dual-dropmarker-box
  {
    background-color        : #FF9F00;
    color                   : #000000;
    padding                 : 2px 0px 0px 2px;
    border                  : none;
  }

.menubutton-dual[disabled="true"] > .menubutton-dual-dropmarker-box,
.menubutton-dual[disabled="true"]:hover:active > .menubutton-dual-dropmarker-box,
.menubutton-dual[disabled="true"][open="true"] > .menubutton-dual-dropmarker-box,
.menubutton-dual[disabled="true"][buttonover="true"] > .menubutton-dual-dropmarker-box
  {
    background-color        : #000000;
    color                   : #8050B0;
    padding                 : 1px;
    border                  : none;
  }

menubutton > .menubutton-dual-dropmarker-box > .menubutton-dropmarker
  {
/*    padding-bottom           : 17px;  */
    padding-bottom           : 24px;  
  }





