box#taskbarMenuBox > menubutton
  {
    list-style-image      : url("chrome://global/skin/statusbar-arrow-up.gif");
  }

box#taskbarMenuBox > menubutton:hover
  {
    list-style-image      : url("chrome://global/skin/statusbar-arrow-up-hover.gif");
  }

box#taskbarGotoMenuBox > menubutton
  {
    list-style-image      : url("chrome://global/skin/statusbar-arrow-up.gif");
  }

box#taskbarGotoMenuBox > menubutton:hover
  {
    list-style-image      : url("chrome://global/skin/statusbar-arrow-up-hover.gif");
  }
