@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */

/* ::::: autocomplete ::::: */

textbox[type="autocomplete"]
  {
    cursor              : default !important;
  }

.autocomplete-internal-box 
  {
    padding             : 0px !important;
  }

.autocomplete-textbox-container
  {
    padding             : 1px 2px 1px 2px;
  }

.autocomplete-textbox 
  {
    cursor              : text;
  }

/* ::::: history button ::::: */

.autocomplete-history-button
  {
    -moz-binding        : url("chrome://global/skin/classicBindings.xml#autocomplete-history-button");
    width               : 15px; 
    min-height          : 19px; 
    border              : none;
    background-color    : #9999CC;
    list-style-image    : url("chrome://global/skin/scroll-down.gif");
    padding             : 0px;
    margin              : 0px;
  }

.autocomplete-history-button > .autocomplete-history-button-internal-box 
  {
    border              : 1px outset #CCD0DD;
    padding             : 1px;
  }

.autocomplete-history-button[open="true"]
  {
    border              : none;
  }

.autocomplete-history-button[open="true"] > .autocomplete-history-button-internal-box
  {
    border              : 1px inset #CCD0DD;
    padding             : 2px 0px 0px 2px;
  }

/* ::::: autocomplete popups ::::: */

.autocomplete-result-popup,
.autocomplete-history-popup
  {
    border                 : 1px solid #9999CC !important;
    background-color       : white !important;
  }

.autocomplete-history-popup
  {
    max-height             : 180px;
  }

/* ::::: outliner ::::: */

.autocomplete-outliner 
  {
    border                 : none;
    background-color       : transparent !important;
  }

.autocomplete-outlinercol 
  {
    margin                 : 0px !important;
    border                 : none !important;
    padding                : 0px !important;
  }

.autocomplete-outlinerbody:-moz-outliner-cell-text 
  {
    padding-left: 8px;
  }

.autocomplete-outlinerbody:-moz-outliner-row(menuactive) 
  {
    background-color       : #336699;
  }

.autocomplete-outlinerbody:-moz-outliner-cell-text(menuactive) 
  {
    color                  : white !important;
  }

