@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* outer frame */
  menulist 
    {
      border              : none;
      background-color    : #CCCCCC;
      color               : #000000;
      margin              : 1px 5px 2px 5px;
    }
    
  menulist[disabled="true"] > .menulist-internal-box > .menulist-display-box
    {
/*      background-color    : -moz-Dialog; */
      color               : #999999;
    }
    
/* icon display frame */
  .menulist-internal-box
    {
/*      border              : 1px inset #CCD0DD; */
      -moz-user-focus     : ignore;
    }  

  .menulist-display-box,
  menulist[open="true"]:focus > .menulist-internal-box > .menulist-display-box
    {
      border              : 1px inset #CCD0DD;
      margin              : 0px;
      background-color    : #FFFFFF;
      color               : #000000;
    }     
    
  menulist:focus > .menulist-internal-box > .menulist-display-box
    {
/*      border              : 1px dotted #999999; */
      background-color    : #336699;
      color               : #000000;
    }
      
/* text display frame */
  .menulist-text 
    {
      padding             : 0px 2px 0px 2px;
      margin              : 0px;
    }
    
/* drop marker display frame */
  .menulist-dropmarker-box-1
    {
      border              : 1px outset #CCD0DD;
      background-color    : -moz-Dialog;
    }
  
  .menulist-dropmarker-box-2
    {
      border              : none;
      padding             : 2px 1px 2px 1px;
    }

  .menulist-dropmarker
    {
      list-style-image    : url("chrome://global/skin/scroll-down.gif");
    }
  
  .menulist-dropmarker[disabled="true"]
    {
      list-style-image    : url("chrome://global/skin/scroll-down-disabled.gif");
    }

  menulist:hover:active > .menulist-internal-box > .menulist-dropmarker-box-1[open="true"]
    { 
      border              : 1px inset #CCD0DD;
    }
    
  menulist:hover:active > .menulist-internal-box > .menulist-dropmarker-box-1 > .menulist-dropmarker-box-2[open="true"]
    {
      border              : none;
      padding             : 3px 0px 1px 2px;
    }

/**
 * <menulist>s for things like mailnews addressing widget
 **/
 
  .menulist-compact
    {
      margin              : 0px;
      border              : 1px outset #CCD0DD;
/*      background-color    : -moz-Dialog; */
      -moz-user-focus     : normal;  
    }    
    
  .menulist-compact-internal-box
    {
      border              : none;
    }
    
  .menulist-compact-dropmarker
    {
      list-style-image    : url("chrome://global/skin/scroll-down.gif");
      margin-left         : 2px;
    }
    
  .menulist-compact-text
    {
      margin-right        : 3px;
    }  

  .menulist-compact:hover:active,
  .menulist-compact[open="true"]
    {
      border              : 1px inset #CCD0DD;
/*      background-color    : ThreeDShadow;
      color               : ThreeDHighlight; */
    }

  .menulist-compact:hover:active > .menulist-compact-internal-box,
  .menulist-compact[open="true"] > .menulist-compact-internal-box 
    {
      border              : none;
    }
    
/**
 * Editable menulists (comboboxes) 
 */
  
html|*.menulist-editable-text 
  {
    border              : none !important;
    margin              : 0px;
    padding             : 0px;
    font                : inherit;
    background-color    : inherit;
    color               : inherit;
  }

menulist[editable="true"] > .menulist-internal-box > .menulist-display-box
  {
    margin                : 0px;
    padding               : 1px 2px 1px 2px;
  }

menulist[editable="true"]:focus > .menulist-internal-box > .menulist-display-box
  {
    border                : none !important;
  }

