/******* Splitters *******/

/** 
 * XXX - We want to deprecate all usages of 'box' in this file and replace with
 *       vbox/hbox. This should happen after the chrome is converted to use
 *       these XUL elements. 
 */

  splitter 
    {
      cursor                : e-resize;
      background-color      : #CCD0DD;
      -moz-box-align        : center;
      -moz-box-pack         : center;
      border                : none;
      border-left           : 1px solid #9999CC;
      border-right          : 1px solid #9999CC;
    }
  
  grippy, grippy[collapse="before"]
    {
      background-color      : #CCCCCC;
      border                : 1px outset #CCD0DD;
      list-style-image      : url("chrome://global/skin/grippy-vertical-before.gif");
      cursor                : pointer;
      min-height            : 1px;
    }
  
  grippy:hover
    {
      background-color      : #99CCFF;
    }
  
  grippy:hover:active
    {
      border                : 1px inset #CCD0DD;
    }
  
  splitter[state="collapsed"] > grippy
    {
      list-style-image      : url("chrome://global/skin/grippy-vertical-after.gif");
    }  
    
  .grippy-box
    {
    }  
    
  .grippy-image
    {
      list-style-image      : inherit;
    }  
    
  splitter[state="dragging"],
  splitter:hover:active
    {
      background-color      : #999999;
    }
  
  rows > splitter
    {
      cursor              : n-resize;
    }
    
  splitter[orient="vertical"]
    {
      cursor              : n-resize;
      border              : none;
      border-top          : 1px solid #9999CC;
      border-bottom       : 1px solid #9999CC;
    }
    
/* Grippy alignment */

/* Vertical splitter (between two boxes, horizontally stacked), collapse to left */
  splitter > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-before.gif");
/*
      border-left         : 1px solid #9999CC;
      border-right        : 1px solid #9999CC;
*/
    }  
    
  splitter > grippy > .grippy-box
    {
      border-left         : none;
      border-right        : none;
    }  

  splitter[state="collapsed"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-after.gif");
    }

/* Vertical splitter (between two boxes, horizontally stacked), collapse to right */
  splitter[collapse="after"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-after.gif");
    }  
    
  splitter[collapse="after"][state="collapsed"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-before.gif");
    }

/* Horizontal splitter (between two boxes, vertically stacked), collapse to left */
  splitter[orient="vertical"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-before.gif");
/*
      border-top          : 1px solid #9999CC;
      border-bottom       : 1px solid #9999CC;
*/
    }  
    
  splitter[orient="vertical"] > grippy > .grippy-box
    {
    }  

  splitter[state="collapsed"][orient="vertical"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-after.gif");
    }
    
/* Horizontal splitter (between two boxes, vertically stacked), collapse to right */
  splitter[collapse="after"][orient="vertical"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-after.gif");
    }  
    
  splitter[collapse="after"][state="collapsed"][orient="vertical"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-before.gif");
    }

