#aboutDialog {
  padding: 0px 0px 10px;
}

#clientBox {
  background-color: #FFFFFF;
  color: #000000;
}

#brandName {
  font-weight: bold; font-size: larger;
} 

#detailsBox {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

#userAgent {
  margin: 3px 5px;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
  -moz-appearance: none;
  border: none;
}

#copyright {
  color: blue;
  text-decoration: underline;
}

#groove {
  margin-top: 0px;
}

