/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 * Tabbrowser Tabs
 */

.tabbrowser-tabs {
  /* XXX: Firefox rules - look into those when we support FF
  -moz-binding: url("chrome://global/skin/globalBindings.xml#tabbrowser-tabs") !important;
  padding-top: 0px;
  background: -moz-dialog url("chrome://global/skin/icons/tabbrowser-tabs-bkgnd.png") !important;
  padding-inline-start: 0px;
  */
}

.tabbrowser-tabs[overflow="true"] {
  padding-inline-start: 0px;
}

/**
 * Tab
 */

.tabbrowser-tab {
  /* XXX: Firefox rules - look into those when we support FF
  -moz-binding: url("chrome://global/skin/globalBindings.xml#tabbrowser-tab") !important;
  background: transparent !important;
  margin: 0px 0px 1px !important;
  padding: 0px !important;
  border: none !important;
  height: 22px !important;
  */
}

.tabbrowser-tab[busy] > .tab-image-middle > .tab-icon > .tab-icon-image {
  list-style-image: url("chrome://global/skin/icons/loading.gif") !important;
}

.tabbrowser-tab[selected="true"] {
  font-weight: bold;
}

.tab-icon-image {
  margin-top: 1px;
  margin-inline-end: 3px;
  width: 16px;
  height: 16px;
  /* XXX: Firefox rules - look into those when we support FF
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  */
}

.tabs-bottom {
}

tabpanels {
}

.tabs-left,
.tabs-right {
  width: 3px;
  border-bottom-width: 0px;
}

/* tabbrowser-tab focus ring */
.tabbrowser-tab >  .tab-image-middle > .tab-text {
  border: 1px dotted transparent;
}

.tabbrowser-tab:-moz-focusring > .tab-image-middle > .tab-text {
  border: 1px dotted #666699;
}

/**
 * Tab Drag and Drop
 */

.tab-drop-indicator-bar {
    visibility: hidden;
    height: 9px;
    margin-top: -9px;
    position: relative;
}

.tab-drop-indicator {
    height: 11px;
    width: 11px;
    margin-bottom: -5px;
    position: relative;
    background: url('chrome://global/skin/icons/tab-drag-indicator.gif') 50% 50% no-repeat;
}

.tab-drop-indicator-bar[dragging="true"] {
    visibility: visible;
}

/**
 * In-tab close button
 */
.tab-close-button > .toolbarbutton-icon {
  margin-inline-end: 0px !important;
  margin-top: 1px;
}

.tab-close-button {
  border: none !important;
  padding: 0px;
  cursor: default;
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
}


.tab-close-button:focus {
  outline: none !important;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

/* XXX: Firefox rules - look into those when we support FF */

/**
 * All Tabs Button
 */

/* XXX: Firefox rules - look into those when we support FF
.tabs-alltabs-box {
}

.tabs-alltabs-button {
}

.tabs-alltabs-box-animate {
}
*/

/**
 * All Tabs Menupopup 
 */

.alltabs-item > .menu-iconic-left > .menu-iconic-icon {
  /* XXX: Firefox rules - look into those when we support FF
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  */
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] > .menu-iconic-left > .menu-iconic-icon {
  list-style-image: url("chrome://global/skin/icons/loading.gif");
}
