/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  -moz-box-align: center;
  margin: 1px 2px;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: 2px;
  padding-inline-end: 0;
}

.checkbox-label-box {
  border: 1px solid transparent;
}

.checkbox-icon {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-label-box {
  border: 1px dotted #9999CC;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
  background-color: #CCD0DD;
}

checkbox[disabled="true"] > .checkbox-label-box {
  color: #999999;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  border: 1px inset #CCD0DD;
  width: 1em;
  height: 1em;
  min-width: 12px;
  min-height: 12px;
  background: transparent 50% 50% no-repeat;
  margin-inline-end: 3px;
}

checkbox:hover:active > .checkbox-check {
  background-color: #CCD0DD;
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-disabled.gif") !important
}
