dropmarker {
  width: 15px;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 1px outset #CCD0DD;
  background-color: #CCD0DD;
  padding: 1px;
  list-style-image: url("chrome://global/skin/arrow/arrow-down.gif");
 -moz-image-region: auto;
}

dropmarker:hover:active {
  border: 1px inset #CCD0DD;
  padding-top: 2px;
  padding-bottom: 0;
  padding-inline-start: 2px;
  padding-inline-end: 0;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-disabled.gif");
 -moz-image-region: auto;
  border: 1px outset #CCD0DD !important;
  padding: 1px !important;
}
