@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.findbar-closebutton {
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
}

findbar {
  border-top: 1px solid #666699;
  border-bottom: 1px solid transparent;
  min-width: 1px;
}

/* find-next button */

.findbar-find-next {
  /* XXX: look into this when we support FF
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 16px 16px 0px);
  */
}

/* find-previous button */

.findbar-find-previous {
  /* XXX: look into this when we support FF
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 32px 16px 16px);
  */
}

/* highlight button */

.findbar-highlight {
  /* XXX: look into this when we support FF
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 48px 16px 32px);
  */
}

.find-status-icon {
  list-style-image: none;
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 12px;
  -moz-margin-end: 0px;
  width: 16px;
  height: 16px;
}

.findbar-find-status {
  margin: 0 !important;
  -moz-margin-start: 3px !important;
  padding: 2px !important;
}

.find-status-icon[status="notfound"] {
  /* XXX: look into this when we support FF
  list-style-image: url("chrome://global/skin/icons/notfound.png");
  */
}

.findbar-textbox[status="notfound"] {
  -moz-box-shadow: 0 0 0 1em #FFC0C0 inset;
  color: #000000;
}

.findbar-textbox[flash="true"] {
  -moz-box-shadow: 0 0 0 1em #FFFFC0 inset;
  color: #000000;
}

.find-status-icon[status="wrapped"] {
  /* XXX: look into this when we support FF
  list-style-image: url("chrome://global/skin/icons/wrap.png");
  */
}
