/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== plugins.css =====================================================
   == Styles used by the about:plugins dialog.
   ======================================================================= */

body {
  background-color: #FFFFFF;
  color: #000000;
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
}

a:link, a:visited, a:active {
 color: #336699;
 text-decoration: underline;
}

hr {
  display: none;
}

div#outside {
 text-align: justify;
 width: 90%;
 margin-inline-start: 5%;
 margin-inline-end: 5%;
}

div#plugs {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

div#noplugs {
  font-size: 18px;
  font-weight: bold;
}

div#findmore {
  margin-top: 2em;
}

div.plugname {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

dl {
  margin: 0px 0px 3px;
}

span.label {
  font-style: italic;
}

table {
  background-color: #CCD0DD;
  color: #000000;
  text-align: left;
  width: 100%;
  border: 1px solid #9999CC;
  border-spacing: 0px;
}

th {
  text-align: center;
  background-color: #666699;
  color: #CCD0DD;
}

th + th,
td + td {
  border-left: 1px dotted #9999CC;
}

td {
  text-align: left;
  border-top: 1px dotted #9999CC;
}

th, td {
  padding: 3px;
}

th.type, th.suff {
  width: 25%;
}

th.desc {
  width: 50%;
}
