/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menupopup ::::: */

menupopup,
panel {
  border: 1px outset #CCD0DD;
  padding: 1px;
  min-width: 1px;
  background-color: #CCD0DD;
}

panel[type="arrow"] {
  background: transparent;
  border: none;
  -moz-transition: opacity 300ms;
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
  margin-left: -25px;
  margin-right: -25px;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
  margin-top: -25px;
  margin-bottom: -25px;
}

.panel-arrowcontent {
  border: 1px outset #CCD0DD;
  background-color: #CCD0DD;
  padding: 6px;
  margin: 3px;
}

.panel-arrow[side="top"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-up.png");
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -8px;
  margin-top: -6px;
}

.panel-arrow[side="bottom"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-down.png");
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -8px;
  margin-bottom: -6px;
}

.panel-arrow[side="left"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-horiz.png");
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -8px;
  margin-left: -6px;
}

.panel-arrow[side="right"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-horiz.png");
  -moz-transform: scaleX(-1);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -8px;
  margin-right: -6px;
}

tooltip {
  background-color : #FFFFCC;
  border : 1px outset #FFFFCC;
  color: #000000;
  /* font-size: smaller; */
  padding: 2px;
  max-width: 40em;
}

tooltip[titletip="true"] {
  /* See bug 32157 comment 128
   * margin: -2px 0px 0px -3px;
   */
  max-width: none;
}

/* rules for popups associated with menulists */

menulist > menupopup,
.menulist-menupopup {
  border: 1px solid #666699;
  min-width: 0px;
  padding: 0px;
  background-color: white;
}

menupopup > menu > menupopup {
  margin-top: -2px;
}
