/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== popup.css ======================================================
  == Styles used by the XUL popup element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menupopup ::::: */

menupopup,
panel {
  border: 1px outset #CCD0DD;
  padding: 1px;
  min-width: 1px;
  background-color: #CCD0DD;
}

menupopup > menu > menupopup {
  /* align submenus */
  margin-top: -1px;
}

/* ::::: arrow panel ::::: */

panel[type="arrow"] {
  background: transparent;
  border: none;
  padding: 0;
  transition: opacity 300ms;
}

.panel-arrowcontainer[panelopen] {
  transition-duration: 200ms, 150ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
}

.panel-arrowcontainer:not([panelopen]) {
  /* Does not work correctly in Linux right now. - 2012-09-30
   * Actually, only breaks uncommon Window Managers, but arrowpanels disappear completely. 2013-07-21
  opacity: 0; */
}

.panel-arrowcontainer:not([panelopen])[side="top"] {
  transform: translateY(-20px);
}

.panel-arrowcontainer:not([panelopen])[side="bottom"] {
  transform: translateY(20px);
}

.panel-arrowcontainer:not([panelopen])[side="left"] {
  transform: translateX(-20px);
}

.panel-arrowcontainer:not([panelopen])[side="right"] {
  transform: translateX(20px);
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
  margin-left: -20px;
  margin-right: -20px;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
  margin-top: -20px;
  margin-bottom: -20px;
}

.panel-arrowcontent {
  padding: 6px;
  background-color: #CCD0DD;
  background-clip: padding-box;
  border: 1px outset #CCD0DD;
  margin: 0px;
}

.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-arrow[side="top"] {
  margin-bottom: -1px;
}

.panel-arrow[side="bottom"] {
  transform: scaleY(-1);
  margin-top: -1px;
}

.panel-arrow[side="left"],
.panel-arrow[side="right"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-horizontal.svg");
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-arrow[side="left"] {
  margin-right: -1px;
}

.panel-arrow[side="right"] {
  transform: scaleX(-1);
  margin-left: -1px;
}

/* ::::: tooltip ::::: */

tooltip {
  background-color : #FFFFCC;
  border : 1px outset #FFFFCC;
  color: #000000;
  /* font-size: smaller; */
  padding: 2px;
  max-width: 40em;
}

tooltip[titletip="true"] {
  /* See bug 32157 comment 128
   * margin: -2px 0px 0px -3px;
   */
  max-width: none;
}

/* rules for popups associated with menulists */

menulist > menupopup,
.menulist-menupopup {
  border: 1px solid #666699;
  min-width: 0px;
  padding: 0px;
  background-color: white;
}

menupopup > menu > menupopup {
  margin-top: -2px;
}
