/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== progressmeter.css ==============================================
  == Styles used by the XUL progressmeter element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: progressmeter ::::: */

progressmeter {
  margin: 2px 4px;
  border: 1px inset #CCD0DD;
  background-color: #999999;
  min-width: 128px;
  min-height: 15px;
}

progressmeter[mode="undetermined"] {
  background-image: url("chrome://global/skin/progressmeter/progressmeter-busy.gif");
  background-color: #CCD0DD;
}

.progress-bar {
  min-width: 0px;
  background-color: #6699CC;
}

.progress-bar[mode="undetermined"],
.progress-remainder[mode="undetermined"] {
  visibility: collapse;
}

/* ::::: statusbar progressmeter ::::: */

.progressmeter-statusbar {
  margin: 0px 2px;
  border: 1px solid #CCD0DD;
  background-color: #666699;
  min-width: 96px;
  min-height: 16px;
}
