/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== radio.css ===================================================
  == Styles used by the XUL radio element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: radio ::::: */

radio {
  -moz-box-align: center;
  margin: 1px 2px;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: 2px;
  padding-inline-end: 0;
}

.radio-label-box {
  margin-inline-start: 2px;
  border: 1px solid transparent;
  padding-top: 0px;
  padding-bottom: 0;
  padding-inline-start: 1px;
  padding-inline-end: 0px;
}

.radio-icon {
  margin-inline-end: 2px;
}

.radio-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

radio[focused="true"] > .radio-label-box {
  border: 1px dotted #9999CC;
}

/* ..... disabled state ..... */

radio[disabled="true"] > .radio-check-box1 {
  background-color: #CCD0DD;
}

radio[disabled="true"] {
  color: #999999;
}

/* ::::: checkmark image ::::: */

.radio-check-box1 {
  margin: 0 0;
  border: 2px outset #CCD0DD;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  /* background-color: transparent; */
}

.radio-check-box2 {
  border-radius: 50%;
  padding: 1px;
  width: 4px;
  height: 4px;
  list-style-image: none;
}

radio:hover:active > .radio-check-box1 {
  border: 2px inset #CCD0DD;
}

radio[disabled="true"]:hover:active > .radio-check-box1 {
  border: 2px outset #CCD0DD;
}

/* ..... selected state ..... */

radio[selected="true"] > .radio-check-box1 > .radio-check-box2 {
  list-style-image: url("chrome://global/skin/radio/radio-check.gif");
}

radio[selected="true"][disabled="true"] > .radio-check-box1 > .radio-check-box2 {
  list-style-image: url("chrome://global/skin/radio/radio-check-disabled.gif") !important
}
