/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== scale.css =================================================
  == Styles used by XUL scale elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: scale ::::: */

.scale-slider {
  background: url("chrome://global/skin/scale/scale-tray-horiz.gif") 0% 50% repeat-x;
  margin: 2px 4px;
  width: 100px;
  height: auto;
}

.scale-slider[orient="vertical"]
{
  background: url("chrome://global/skin/scale/scale-tray-vert.gif") 50% 0% repeat-y;
  margin: 4px 2px;
  width: auto;
  height: 100px;
}

/* ::::: scale thumb ::::: */

.scale-thumb {
  border: 1px inset #CCD0DD !important;
  background-color: #CCD0DD;
  min-width: 30px;
  min-height: 15px;
}

.scale-thumb[orient="vertical"] {
  min-width: 15px;
  min-height: 30px;
}

.scale-thumb[disabled="true"] {
  border: 1px outset #CCD0DD !important;
}
