/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tabbox.css =================================================
  == Styles used by XUL tab-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tabs ::::: */

.tabs-left,
.tabs-right {
/*
  border-bottom: 2px solid;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
*/
}

/* ::::: tabpanels ::::: */

/* tabpanel is the box in which contents show up */

tabpanels {
  border: 1px outset #CCD0DD;
  padding: 5px;
  background-color: #CCD0DD;
  color: #000000;
}

/* ::::: tab ::::: */

tab {
  margin-top: 1px;
  border: 1px outset #CCD0DD;
  border-bottom: none;
  padding: 1px 4px 2px;
  background-color: #CCD0DD;
  color: #000000;
}

.tab-text {
  margin: 0 !important;
}

tab[visuallyselected="true"] {
  font-weight: bold;
  background-color: #EDF1FF;
}

tab:hover {
  color: #336699;
}

tab:-moz-focusring > .tab-middle {
  /* Don't specify the outline-color, we should always use initial value. */
  outline: 1px dotted;
}

/*
tab:first-of-type[visuallyselected="true"] {
  -moz-padding-end: 5px;
  -moz-padding-start: 5px;
}
*/

/* ::::: tab-bottom ::::::::::
   :: Tabs that are attached to the bottom of a panel, but not necessarily
   :: a tabpanels.
   ::::: */

.tab-bottom {
  margin-top: 0;
  margin-bottom: 2px;
  border: 1px outset #CCD0DD;
  border-top: none;
  padding: 2px 4px 1px;
}

/* ::::: tabs-bottom ::::: */

.tabs-bottom > .tabs-left,
.tabs-bottom > .tabs-right {
  border-top: 1px solid #666699;
  border-bottom: none;
}