/* Tab Modal Prompt boxes */
tabmodalprompt {
  background-color: hsla(0,0%,97%,.15);
  background-image: -moz-radial-gradient(center 40%, circle closest-side, hsla(0,0%,90%,.5), hsla(0,0%,90%,0));
}

.mainContainer {
  padding: 20px;
  color: #000000;
  background-color: #CCD0DD;
  border: 1px outset #CCD0DD;
}

.buttonContainer {
  margin-top: 10px;
}

.info\.icon {
  width: 64px !important;
  height: 64px !important;
}

.alert-icon {
  list-style-image: url("chrome://global/skin/icons/information-tabmodal-64.png") !important;
}

.question-icon {
  list-style-image: url("chrome://global/skin/icons/question-tabmodal-64.png") !important;
}
