/* Tab Modal Prompt boxes */
tabmodalprompt {
  background-color: hsla(0,0%,10%,.5);
  font-family: sans-serif; /* use content font not system UI font */
}

.mainContainer {
  color: #000000;
  background-color: #CCD0DD;
  background-clip: padding-box;
  border: 1px outset #CCD0DD;
}

.topContainer {
  padding: 20px;
}

.buttonContainer {
  padding: 12px 20px 15px;
  background-color: #9999CC;
  border-top: 1px solid #666699;
}
