/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== textbox.css ==================================================
  == Styles used by the XUL textbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */

textbox {
  cursor: text;
  margin: 2px 3px;
  border: 1px inset #CCD0DD;
  padding: 1px 0px;
  -moz-padding-start: 2px;
  background-color: #FFFFFF;
  color: #000000;
  min-height: 19px;
}

html|*.textbox-input,
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

.textbox-input-box menupopup {
  cursor: default;
}

/* ..... readonly state ..... */

textbox[readonly="true"] {
  background-color: #CCCCCC;
  color: #000000;
}

/* ..... disabled state ..... */

textbox[disabled="true"] {
  cursor: default;
  background-color: #FFFFFF;
  color: #CCCCCC;
  border: 1px solid #666699;
}

textbox[focused="true"] {
  border: 1px solid #6699CC;
  outline: 1px solid #6699CC;
}

textbox[focused="true"][readonly="true"] {
  border: 1px solid #6699CC;
  outline: none;
}

/* ::::: plain textbox ::::: */

textbox.plain {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  outline: none !important;
  background-color: transparent;
  color: inherit !important;
  min-height: 0px;
}

/* ::::: search textbox ::::: */

.textbox-search-icon {
  list-style-image: url("chrome://global/skin/icons/search.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.textbox-search-icon:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.textbox-search-icon[searchbutton]:not([disabled]) {
  cursor: pointer;
}

.textbox-search-clear {
  list-style-image: url("chrome://global/skin/icons/search.png");
  -moz-image-region: rect(16px, 16px, 32px, 0);
}

.textbox-search-clear:not([disabled]) {
  cursor: default;
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}
