/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL toolbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */

toolbox {
  background-color: #CCD0DD;
}

/* ::::: toolbar & menubar ::::: */

toolbar,
menubar {
  border-bottom: 1px solid #9999CC;
  background-color: #CCD0DD;
  min-width: 1px;
}

/* in browser.xul, the menubar is inside a toolbar... */
toolbaritem > menubar {
  border-bottom-style: none;
  background-color: transparent;
}

/* ::::: lightweight theme ::::: */

menubar:-moz-lwtheme,
toolbox:-moz-lwtheme,
toolbar:-moz-lwtheme {
  -moz-appearance: none;
  background: none;
  border-style: none;
}

/* ::::: toolbar decorations ::::: */

toolbarseparator {
  margin : 2px 0.2em;
  border-right: 1px solid #666699;
  width : 1px;
}

toolbarspacer {
  width: 10px;
}

toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 0 !important;
  margin: 1px 3px !important;
}

/* ::::: toolbarpaletteitem ::::: */

toolbarpaletteitem {
  cursor: -moz-grab;
}

.toolbarpaletteitem-box[type="spacer"],
.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #666699;
  background-color: #FFFFFF !important;
}

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background: url("chrome://global/skin/toolbar/spring.gif") no-repeat center;
}

/* ..... drag and drop feedback ..... */

toolbarpaletteitem[place="toolbar"] {
  -moz-margin-start: -2px;
  -moz-margin-end: -2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

toolbarpaletteitem[dragover="left"] {
  border-left-color: #000000;
}

toolbarpaletteitem[dragover="right"] {
  border-right-color: #000000;
}
