menu, menuitem  
  {
    color                 : #000000;
    vertical-align        : middle;
  }

menuitem[default="true"]
  {
    font-weight           : bold;
  }  
  
menu[disabled="true"], menuitem[disabled="true"],
menu[menuactive="true"][disabled="true"],
menuitem[menuactive="true"][disabled="true"]
  {
	  color                 : #999999;
  }

menuseparator 
  {
    border                : 1px inset #CCD0DD; 
    margin                : 2px 2px 2px 2px;
  }

menubar > menu 
  {
    border                : 1px solid #CCD0DD;
    padding               : 2px 0px 2px 3px;
    margin                : 0px 2px 1px 0px;
  }

menupopup > menu, menupopup > menuitem,
popup > menu, popup > menuitem
  {
    padding               : 2px;
    max-width             : 42em; /* should move to content */
  }

menubar > menu[menuactive="true"] 
  {
    border                : 1px outset #CCD0DD;
  }

menubar > menu[menuactive="true"][open="true"] 
  {
    border                : 1px inset #CCD0DD;
  }

menupopup > menu[menuactive="true"],
menupopup > menuitem[menuactive="true"],
popup > menu[menuactive="true"],
popup > menuitem[menuactive="true"]
  {
    background-color      : #336699;
    color                 : #FFFFFF;
  }


/** 
 * Atomic sub-parts of standard menus
 **/
.menu-right 
  {
    margin                : 0px 0px 0px 6px;
    width                 : 8px;
    text-align            : center;
    list-style-image      : url("chrome://global/skin/menu-arrow.gif");
  }

.menu-iconic-left 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
    width                 : 13px;
    text-align            : center;
    list-style-image      : inherit;
  }

.menubar-left 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-iconic-text, .menu-iconic-accel, .menu-text, .menu-accel 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-text 
  {
    padding-left          : 15px;
    font-weight           : inherit;
  }

.menu-accel 
  {
    margin-left           : 4px;
    padding-right         : 14px;
  }

.menu-iconic-accel 
  {
    margin-left           : 4px;
  }

.menubar-text 
  {
    color                 : inherit;
    margin-right          : 2px;
  }

menuitem[checked="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check.gif");
  }

menuitem[checked="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-disabled.gif");
  }

menuitem[checked="true"][menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-hover.gif");
  }

.menu-right[disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-hover.gif");
  }

/* ::::: menu/menuitems in a menulist popup ::::: */

  menulist > menupopup > menuitem
  	{
  	  min-width: 0px;
  	  max-width: none;
  	  padding: 0px 4px !important;
  	}

  menulist > menupopup > menuitem > .menu-iconic-accel,
  menulist > menupopup > menuitem > .menu-accel,
  menulist > menupopup > menuitem > .menu-text,
  menulist > menupopup > menuitem > .menu-iconic-text,
  menulist > menupopup > menu > .menu-text,
  menulist > menupopup > menu > .menu-accel,
  menulist > menupopup > menu > .menu-iconic-text,
  menulist > menupopup > menu > .menu-iconic-accel
    {
      margin-top          : 0px;
      margin-bottom       : 0px;
    }


  menulist > menupopup > menuitem > .menu-iconic-left,
  menulist > menupopup > menuitem > .menu-iconic-left[menuactive="true"]
    {
      list-style-image    : inherit;
      width               : 0px;
      border              : none;
    }

  menulist > menupopup > menuitem[menuactive="true"][selected="true"]
    {
      list-style-image    : url(chrome://global/skin/menulist-select-dot-active.gif);
      margin-right		  : 3px;
    }
  
  menulist > menupopup > menuitem[selected="true"]
    {
      list-style-image    : url(chrome://global/skin/menulist-select-dot.gif);
      margin-right		  : 3px;
    }


