@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/** generic text fields (in dialogs)
 **/
 
/* outer frame */
  textbox
    {
      border              : 1px inset #CCD0DD;
      color               : #000000;
      padding             : 0px;
      margin              : 1px 3px 2px 4px;
      background-color    : #FFFFFF;
      cursor              : text;
    }
    
  textbox[readonly="true"]
    {
      background-color    : #CCCCCC;
    }
  
  textbox[focused="true"]
    {
      border              : 2px solid #6699cc;
      margin              : 0px 2px 1px 3px;
    }
    
  textbox[focused="true"][readonly="true"]
    {
      border              : 1px inset #CCCCCC;
      margin              : 1px 3px 2px 4px;
    }

/* internal frame */
  .textbox-internal-box, .textarea-internal-box
    {
      margin              : 0px;
      padding             : 1px 2px 1px 2px;
      border              : none;
    }
  
/* internal text widget */
  html|*.textbox-input, html|*.textbox-textarea
    {
      border              : none !important;
      margin              : 0px;
      padding             : 0px;
      font                : inherit;
      background-color    : inherit;
      color               : inherit;
    }

  textbox[disabled="true"] 
    {
      cursor              : default !important;
      background-color    : white;
      color               : #CCCCCC;
    } 
    
/** plain atomic textboxs, class="plain" **/
  textbox.plain, 
  textbox.plain > .textbox-internal-box, 
  textbox.plain > .textarea-internal-box
    {
      padding             : 0px !important;
      margin              : 0px !important;
      border              : none !important;
    }

/** inline edit textbox **/

.textbox-inline-edit 
  {
    border                : 1px solid #6699FF !important;
    margin                : 0px !important;
  }

.textbox-inline-edit > .textbox-internal-box > html|*.textbox-input 
  {
    border                : none !important;
    padding               : 0px !important;
    margin                : 0px !important;
  }

.textbox-inline-edit > .textbox-internal-box 
  {
    border                : none !important;
    padding               : 1px !important;
    margin                : 0px !important;
  }

  


