html {
  background-color: #000000;
  padding: 0 1em;
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
}

body {
  color: #FF9F00;
  position: relative;
  min-width: 330px;
  max-width: 50em;
  margin: 4em auto;
  border: 1px solid #9C9CFF;
  border-radius: 10px;
  padding: 3em;
  padding-inline-start: 30px;
  background: #000000;
}

.aboutPageWideContainer {
  max-width: 80%;
}

#aboutLogoContainer {
  border: 1px solid #3333FF;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 2em;
}

img {
  border: 0;
}

#vendorURL {
  text-decoration: none;
}

#version {
  font-weight: bold;
  color: #008484;
  margin-top: -24px;
  margin-bottom: 9px;
  margin-inline-start: 17px;
  margin-inline-end: 0;
  text-align: left; /* Override direction alignment on RTL to make sure that the version will fit well on the background. bug 1325232 */
}

ul {
  margin: 0;
  margin-inline-start: 1.5em;
  padding: 0;
  list-style: square;
}

ul > li {
  margin-top: .5em;
}

th, td {
  padding: 0 5px;
}

.columns {
  -moz-column-width: 20em;
  -moz-column-gap: 3em;
}

a:link {
  color: #3333FF;
}
