/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  background-color: #000000;
  color: #FF9F00;
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
}

body {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

a:link, a:visited, a:active {
  border-radius: 3px;
  color: #FFCF00;
  background-color: #000000;
  text-decoration: none;
  -moz-padding-start: 1px;
  -moz-padding-end: 1px;
}

a:hover {
  color: #000000;
  background-color: #FFCF00;
}

.page-subtitle {
  margin-bottom: 3em;
}

.major-section {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: large;
  text-align: start;
  font-weight: bold;
}

table {
  background-color: #000000;
  color: #E7ADE7;
  text-align: start;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #9C9FFF;
  border-spacing: 0px;
}

table + table {
  margin-top: 1em;
}

th, td {
  padding: 3px;
}

th:not(:first-child),
td:not(:first-child) {
  border-left: 1px dotted #9C9FFF;
}

/* adjustments for not painting outside of table border */
thead:first-child > th:first-child, /* prefs table misses a tr in thead */
thead:first-child > tr:first-child > th:first-child,
thead:first-child > tr:first-child > td:first-child,
tbody:first-child > tr:first-child > th:first-child,
tbody:first-child > tr:first-child > td:first-child {
  border-top-left-radius: 9px;
}

thead:first-child > th:last-child, /* prefs table misses a tr in thead */
thead:first-child > tr:first-child > th:last-child,
thead:first-child > tr:first-child > td:last-child,
tbody:first-child > tr:first-child > th:last-child,
tbody:first-child > tr:first-child > td:last-child {
  border-top-right-radius: 9px;
}

thead:last-child > tr:last-child > th:first-child,
thead:last-child > tr:last-child > td:first-child,
tbody:last-child > tr:last-child > th:first-child,
tbody:last-child > tr:last-child > td:first-child {
  border-bottom-left-radius: 9px;
}

thead:last-child > tr:last-child > th:last-child,
thead:last-child > tr:last-child > td:last-child,
tbody:last-child > tr:last-child > th:last-child,
tbody:last-child > tr:last-child > td:last-child {
  border-bottom-right-radius: 9px;
}

thead th {
  text-align: center;
}

th {
  text-align: start;
  background-color: #008484;
  color: #FFCF00;
}

th.column {
  white-space: nowrap;
  width: 0px;
}

tr:not(:first-child) > td,
tr:not(:first-child) > th,
tbody:not(:first-child) > tr > td,
tbody:not(:first-child) > tr > th {
  border-top: 1px dotted #9C9FFF;
}

td {
  text-align: start;
}

.prefs-table {
  width: 100%;
  table-layout: fixed;
}

.pref-name {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
}

.pref-value {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
}

#reset-box {
  background-color: #000000;
  border: 1px solid #9C9CFF;
  color: #FF9F00;
  float: right;
  margin-top: 2em;
  margin-bottom: 20px;
  -moz-margin-start: 20px;
  -moz-margin-end: 0;
  padding: 16px;
  width: 30%;
  visibility: hidden;
}

#reset-box:-moz-dir(rtl) {
  float: left;
}

#reset-box > h3 {
  margin-top: 0;
}

#reset-box > button {
  display: block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
