/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL (and XHTML in netError.xhtml) button element.
  ======================================================================= */

/* :::::::::: button :::::::::: */

button {
  border-radius: 300px;
  margin: 1px 2px;
  min-width: 6.3em;
  border: none;
  background-color: #C09070;
  color: #000000;
  text-shadow: none;
}

.button-box {
  border-radius: 300px;
  border: 1px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  -moz-padding-start: .5em;
  -moz-padding-end: calc(.5em + 1px);
}

.button-icon {
  -moz-margin-end: 2px;
}

.button-text {
  border-radius: 3px;
  margin: 0px !important;
  text-align: center;
}

/* .......... focused state .......... */

button:-moz-focusring > .button-box {
  border: 1px dotted #008484;
}

/* .......... default state .......... */

button[default="true"] {
  background-color: #A06060;
}

button[default="true"] > .button-box {
  font-weight: bold;
}

/* .......... active/open/checked state .......... */

button:hover,
button:hover:active {
  border: none;
  background-color: #FFCF00;
  color: #000000;
}

button[open="true"] {
  border: none;
  background-color: #FF9F00;
  color: #000000;
}

button[checked="true"]:not(:hover) {
  border: none;
  background-color: #008484;
  color: #000000;
}

button:hover:active > .button-box,
button[open="true"] > .button-box,
button[checked="true"] > .button-box {
  padding-top: 2px;
  padding-bottom: 1px;
  -moz-padding-start: calc(.5em + 1px);
  -moz-padding-end: .5em;
}

/* .......... disabled state .......... */

button[disabled="true"],
button[disabled="true"]:hover:active {
  border: none;
  background-color: #402858 !important;
  color: #000000 !important;
}

button[disabled="true"] > .button-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  -moz-padding-start: .5em !important;
  -moz-padding-end: calc(.5em + 1px) !important;
}

/* ::::: menu/menu-button buttons ::::: */

.button-menubutton-button,
.button-menubutton-button:hover,
.button-menubutton-button:hover:active,
.button-menubutton-button[open="true"],
.button-menubutton-button[disabled="true"] {
  margin: 0px;
  background-color: transparent;
}

button[type="menu-button"]:hover:active > .button-menubutton-button > .button-box,
button[type="menu-button"][open="true"] > .button-menubutton-button > .button-box {
  padding-top: 2px;
  padding-bottom: 1px;
  -moz-padding-start: calc(.5em + 1px);
  -moz-padding-end: .5em;
}

button[type="menu-button"]:hover > .button-menubutton-button,
button[type="menu-button"]:hover:active > .button-menubutton-button,
button[type="menu-button"][open="true"] > .button-menubutton-button {
  color: #000000;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  margin: 2px;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: none;
}

.button-menu-dropmarker,
button[type="menu-button"]:hover > .button-menubutton-dropmarker,
button[type="menu-button"]:hover:active > .button-menubutton-dropmarker,
button[type="menu-button"][open="true"] > .button-menubutton-dropmarker {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-hover.gif");
}

/* ::::: plain buttons ::::: */

button.plain {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

button[type="disclosure"] {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  list-style-image: url("chrome://global/skin/tree/twisty-closed.gif");
  min-width: 0px !important;
  background-color: transparent;
}

button[type="disclosure"][open="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty-open.gif");
}

/* ::::: xhtml buttons ::::: */

button::-moz-focus-inner {
  padding: 0px;
  border: 0px none;
}

/* ::::: toolbar buttons (sync look with toolbarbutton) ::::: */

/* The #throbber-box rules are only needed for the SeaMonkey editor,
 * the toolbaritem ones for buttons in customizable toolbars. */
toolbaritem > button,
#throbber-box > button {
  border-radius: 3px;
  background-color: #000000;
  color: #FFCF00;
}

toolbaritem > button > .button-box,
#throbber-box > button > .button-box {
  border-radius: 3px;
  -moz-padding-start: 0;
  -moz-padding-end: 1px;
}

toolbaritem > button > button:hover:active > .button-box,
toolbaritem > button > button[open="true"] > .button-box,
toolbaritem > button > button[checked="true"] > .button-box,
#throbber-box > button:hover:active > .button-box,
#throbber-box > button > button[open="true"] > .button-box,
#throbber-box > button > button[checked="true"] > .button-box {
  -moz-padding-start: 1px;
  -moz-padding-end: 0;
}

toolbaritem > button > button[disabled="true"] > .button-box,
#throbber-box > button[disabled="true"] > .button-box {
  -moz-padding-start: 0 !important;
  -moz-padding-end: 1px !important;
}
