/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  margin: 1px 2px;
  border-left: 1px transparent;
  border-right: 1px transparent;
}

.checkbox-spacer-box {
  -moz-box-align: center;
  border-right: 4px solid transparent;
}

.checkbox-label-center-box {
  -moz-box-align: center;
}

.checkbox-label-box {
  border: 1px solid transparent;
  color: #FF9F00;
  -moz-box-align: center;
}

.checkbox-icon[src] {
  -moz-margin-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-label-center-box > .checkbox-label-box {
  border: 1px dotted #008484;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-spacer-box > .checkbox-check {
  border: 1px solid #8050B0 !important;
  background-color: #000000;
}

checkbox[disabled="true"] {
  color: #8050B0 !important;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  border-radius: 2px;
  border: 1px solid #FF9F00;
  width: 12px;
  height: 12px;
  background: transparent 50% 50% no-repeat;
}

checkbox:hover > .checkbox-spacer-box > .checkbox-check,
checkbox:hover:active > .checkbox-spacer-box > .checkbox-check {
  border: 1px solid #FFCF00;
  background-color: #000000;
}

checkbox:hover > .checkbox-label-center-box > .checkbox-label-box,
checkbox:hover:active > .checkbox-label-center-box > .checkbox-label-box {
  color: #FFCF00;
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-spacer-box > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

checkbox[checked="true"][disabled="true"] > .checkbox-spacer-box > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-disabled.gif") !important
}
