/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  -moz-box-align: center;
  margin: 1px 2px;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: 2px;
  padding-inline-end: 0;
}

.checkbox-label-box {
  border: 1px solid transparent;
  color: #FF9F00;
}

.checkbox-icon {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-label-box {
  border: 1px dotted #008484;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
  border: 1px solid #8050B0;
  background-color: #000000;
}

checkbox[disabled="true"] > .checkbox-label-box {
  color: #8050B0;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  border-radius: 2px;
  border: 1px solid #FF9F00;
  width: 1em;
  height: 1em;
  min-width: 12px;
  min-height: 12px;
  background: #000000 no-repeat 50% 50%;
  margin-inline-end: 3px;
}

checkbox:not([disabled="true"]):hover > .checkbox-check,
checkbox:not([disabled="true"]):hover:active > .checkbox-check {
  border: 1px solid #FFCF00;
}

checkbox:not([disabled="true"]):hover > .checkbox-label-box,
checkbox:not([disabled="true"]):hover:active > .checkbox-label-box {
  color: #FFCF00;
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

checkbox[checked="true"]:hover > .checkbox-check,
checkbox[checked="true"]:hover:active > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-hover.gif");
}

checkbox[checked="true"][disabled="true"] .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-disabled.gif") !important;
}

/* ..... checkbox in groupbox caption ..... */

caption > checkbox {
  border-radius: 7px;
  border: 0;
  margin: 0 -3px;
  padding: 0 5px;
}

caption > checkbox:hover {
  background-color: #FFCF00;
}

caption > checkbox:hover:active {
  background-color: #FF9F00;
}

caption > checkbox:not([disabled="true"]) > .checkbox-label-box,
caption > checkbox:not([disabled="true"]):hover > .checkbox-label-box,
caption > checkbox:not([disabled="true"]):hover:active > .checkbox-label-box {
  color: inherit;
}

caption > checkbox:not([disabled="true"]) > .checkbox-check,
caption > checkbox:not([disabled="true"]):hover > .checkbox-check,
caption > checkbox:not([disabled="true"]):hover:active > .checkbox-check {
  border-color: #000000;
}

caption > checkbox[checked="true"] > .checkbox-check,
caption > checkbox[checked="true"]:hover > .checkbox-check,
caption > checkbox[checked="true"]:hover:active > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-inverted.gif");
}
