/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== colorpicker.css ================================================
  == Styles used by the XUL colorpicker element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: colorpicker button ::::: */

colorpicker[type="button"] {
  width: 34px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #9C9CFF;
  padding: 3px;
}

.colorpicker-button-colorbox {
  border: 1px solid #FF9F00;
}

colorpicker[type="button"]:focus {
}

colorpicker[type="button"][open="true"] {
  border: 1px solid #FFCF00;
}

colorpicker[type="button"][open="true"] > .colorpicker-button-internal-box {
}

/* ::::: colorpicker tiles ::::: */

.colorpickertile {
  width: 20px;
  height: 20px;
  margin: 1px;
  border-radius: 3px;
  border : 1px solid #9C9CFF;
}

.colorpickertile[selected="true"] {
  border: 1px solid #008484;
}

.colorpickertile[hover="true"] {
  border: 1px solid #FFCF00;
}

.cp-light[hover="true"] {
  border: 2px dotted #FF9F00;
}
