dropmarker {
  min-width: 11px;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 1px solid #FF9F00;
  background-color: #000000;
  padding: 1px;
  list-style-image: url("chrome://global/skin/arrow/arrow-down.gif");
  -moz-image-region: auto;
}

dropmarker:hover {
  background-color: #FFCF00;
  border: 1px solid #FFCF00;
  list-style-image: url("chrome://global/skin/arrow/arrow-down-hover.gif");
  -moz-image-region: auto;
}

dropmarker:hover:active,
dropmarker[open="true"] {
  background-color: #FF9F00;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
  list-style-image: url("chrome://global/skin/arrow/arrow-down-hover.gif");
  -moz-image-region: auto;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-disabled.gif");
  border: 1px solid #8050B0 !important;
  background-color: #000000 !important;
  padding: 1px !important;
  -moz-image-region: auto;
}
