@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

findbar {
  border-top: 3px solid #000000;
  border-bottom: none;
  min-width: 1px;
}

findbar[position="top"] {
  border-top: none;
  border-bottom: 3px solid #000000;
  transition-property: margin-top, opacity, visibility;
}

findbar[hidden] {
  /* Override display:none to make the transition work. */
  display: -moz-box;
  visibility: collapse;
  margin-bottom: -1em;
  opacity: 0;
  transition-delay: 0s, 0s, 150ms;
}

findbar[position="top"][hidden] {
  margin-bottom: auto;
  margin-top: -1em;
}

.findbar-closebutton {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.findbar-closebutton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

/* Search field */

.findbar-textbox {
  width: 14em;
}

.findbar-textbox[status="notfound"] {
  background-color: #FF0000;
  color: #000000;
}

.findbar-textbox[flash="true"] {
  background-color: #FFCF00;
  color: #000000;
}

.findbar-textbox.minimal {
}

/* Buttons */

.findbar-find-previous,
.findbar-find-next {
  list-style-image: url("chrome://global/skin/icons/find-arrows.png");
}

.findbar-find-previous:not([disabled]):active,
.findbar-find-next:not([disabled]):active {
}

.findbar-find-previous {
  -moz-image-region: rect(0, 12px, 9px, 0);
}

.findbar-find-next {
  -moz-image-region: rect(0, 24px, 9px, 12px);
}

.findbar-find-previous,
.findbar-find-previous:not([disabled]):active {
}

.findbar-find-previous[disabled="true"] {
  -moz-image-region: rect(9px, 12px, 18px, 0);
}

.findbar-find-next[disabled="true"] {
  -moz-image-region: rect(9px, 24px, 18px, 12px);
}

.findbar-find-previous:not([disabled]):hover,
.findbar-find-previous:not([disabled]):active {
  -moz-image-region: rect(18px, 12px, 27px, 0);
}

.findbar-find-next:not([disabled]):hover,
.findbar-find-next:not([disabled]):active {
  -moz-image-region: rect(18px, 24px, 27px, 12px);
}

.findbar-find-previous > .toolbarbutton-icon,
.findbar-find-next > .toolbarbutton-icon {
}

.findbar-find-previous > .toolbarbutton-text,
.findbar-find-next > .toolbarbutton-text {
}

.findbar-find-previous[disabled="true"] > .toolbarbutton-icon,
.findbar-find-next[disabled="true"] > .toolbarbutton-icon {
}

.findbar-highlight,
.findbar-case-sensitive {
  -moz-margin-start: 5px;
}

.findbar-highlight > .toolbarbutton-icon,
.findbar-case-sensitive > .toolbarbutton-icon {
  display: none;
}

.findbar-find-status,
.found-matches {
  color: #A09090;
  margin: 0 !important;
  -moz-margin-start: 12px !important;
}

.find-status-icon[status="pending"] {
  list-style-image: url("chrome://global/skin/icons/loading.gif");
}
