/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== global.css =====================================================
  == Styles that apply everywhere.
  ======================================================================= */

/* all localizable skin settings shall live here */
@import url("chrome://global/locale/intl.css");
@import url("chrome://global/content/global-platform.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: XBL bindings ::::: */

checkbox {
  -moz-binding: url("chrome://global/content/bindings/checkbox.xml#checkbox-with-spacing");
}

radio {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#radio-with-spacing");
}

menulist > menupopup,
.menulist-menupopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

.menulist-compact {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#menulist-compact");
}

/* LCARStrek special bindings */

statusbar {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#statusbar");
}

toolbar {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#toolbar");
}

menubar {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#menubar");
}

toolbaritem > menubar {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#menubar");
}
/*
progressmeter[mode="undetermined"] {
  -moz-binding: url("chrome://global/content/bindings/progressmeter.xml#progressmeter-undetermined");
}
*/

/* ::::: root elements ::::: */

window,
page,
dialog,
wizard,
prefwindow {
  background-color: #000000;
  color: #FF9F00;
/*  font: 3mm "Final Frontier",tahoma,arial,helvetica,sans-serif; */
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
  padding: 3px;
}

/* deprecated */
window.dialog {
  background-color: #000000;
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

/* ::::: alert icons :::::*/

.message-icon,
.alert-icon,
.error-icon,
.question-icon,
.authentication-icon {
  width: 32px;
  height: 32px;
}

.message-icon {
  list-style-image: url("chrome://global/skin/icons/alert-message.gif");
}

.alert-icon {
  list-style-image: url("chrome://global/skin/icons/alert-exclam.gif");
}

.error-icon {
  list-style-image: url("chrome://global/skin/icons/alert-error.gif");
}

.question-icon,
.authentication-icon {
  list-style-image: url("chrome://global/skin/icons/alert-question.gif");
}

/* ::::: iframe ::::: */

iframe {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 10px;
  min-height: 10px;
}

/* ::::: statusbar ::::: */

statusbar {
  margin-top: 3px;
  min-height: 16px;
}

.statusbar-center {
  background-color: #8050B0;
  -moz-padding-start: 2px;
  color: #FFCF00;
  -moz-box-align: stretch;
}

.statusbar-left {
  border-radius: 9px 0px 0px 9px;
  background-color: #6000CF;
  width: 13px;
  -moz-margin-end: 3px;
}

.statusbar-right {
  border-radius: 0px 9px 9px 0px;
  background-color: #6000CF;
  width: 13px;
  -moz-margin-start: 3px;
}

statusbarpanel {
  -moz-box-align: center;
  -moz-box-pack: center;
  border-left: 3px solid black;
  padding: 0px 2px;
}

statusbarpanel:first-child {
  border-left: none;
}

statusbarpanel:not(.statusbar-resizerpanel):-moz-lwtheme {
  -moz-appearance: none;
  border-top-style: none;
  border-bottom-style: none;
  -moz-border-start-style: none;
}

.statusbar-resizerpanel {
  -moz-box-align: end;
  -moz-box-pack: end;
  padding: 0px;
}

.statusbarpanel-iconic,
.statusbarpanel-iconic-text,
.statusbarpanel-menu-iconic {
}

.statusbarpanel-progress {
  -moz-box-orient: vertical;
  padding: 0px;
}

.toolbar-focustarget {
  -moz-user-focus: ignore !important;
}

toolbar[mode="text"] .toolbarbutton-text {
  /* padding: 0 !important;
  margin: 3px 5px !important; */
}

/* ::::: miscellaneous formatting ::::: */

:root:-moz-lwtheme,
[lwthemefooter="true"] {
  -moz-appearance: none;
}

:root:-moz-lwtheme-darktext {
  text-shadow: 0 -0.5px 1.5px #FFCF00;
}

:root:-moz-lwtheme-brighttext {
  text-shadow: 1px 1px 2px #000000;
}

statusbar:-moz-lwtheme,
sidebarheader:-moz-lwtheme {
  -moz-appearance: none;
  background: none;
  border-style: none;
}

.inset {
/*  border: 1px inset #FF9F00;
  margin: 0px 5px 5px; */
}

.outset {
/*  border: 1px outset #FF9F00; */
}

/* separators */
separator:not([orient="vertical"]) {
  height: 1.5em;
}

separator[orient="vertical"] {
  width: 1.5em;
}

separator.thin:not([orient="vertical"]) {
  height: 0.5em;
}

separator.thin[orient="vertical"] {
  width: 0.5em;
}

separator.groove:not([orient="vertical"]) {
  border-top: 2px groove #FF9F00;
  height: 0px;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

separator.groove[orient="vertical"] {
  border-left: 2px groove #FF9F00;
  -moz-margin-start: 0.4em;
  -moz-margin-end: 0.4em;
}

/* groove separators (0 padding, for dividing effects) */
separator.groove-thin {
  border-top: 2px groove #FF9F00;
  height: 0px;
}

separator[orient="vertical"].groove-thin {
  border-left: 2px groove #FF9F00;
}

.small-margin {
  margin: 0px 1px;
}

.plain {
  -moz-appearance: none;
  margin: 0px !important;
  border: none;
  padding: 0px;
}

description, label  {
  cursor: default;
  margin: 1px 2px;
}

label[disabled="true"] {
  color: #8050B0;
}

description {
/*  margin-bottom: 4px; */
}

.tooltip-label {
  margin: 0px;
}

.header {
  font-weight: bold;
}

.monospace {
  font-family: "Liberation Mono", Consolas, "Courier New", monospace;
}

.indent {
/*  -moz-margin-start: 23px; */
  -moz-margin-start: 15px;
}

.box-padded {
  padding: 5px;
}

.spaced {
  margin: 1px 3px;
}

.wizard-box {
  padding: 15px 35px 10px;
}

.text-link {
  color: #3333FF;
  text-decoration: underline;
  cursor: pointer;
}

.text-link:-moz-focusring {
  /* Don't specify the outline-color, we should always use initial value. */
  outline: 1px dotted;
}

/* :::::: autoscroll popup ::::: */

.autoscroller {
  height: 28px;
  width: 28px;
  border: 0px;
  margin: -14px;
  padding: 0px;
  background-image: url("chrome://global/skin/icons/autoscroll.png");
  background-color: transparent;
  -moz-appearance: none;
}

.autoscroller[scrolldir="NS"] {
  background-position: left center;
}

.autoscroller[scrolldir="EW"] {
  background-position: left bottom;
}

.autoscroller[transparent="true"] {
  background-position: center top;
}

.autoscroller[transparent="true"][scrolldir="NS"] {
  background-position: center center;
}

.autoscroller[transparent="true"][scrolldir="EW"] {
  background-position: center bottom;
}

.autoscroller[translucent="true"] {
  background-position: right top;
}

.autoscroller[translucent="true"][scrolldir="NS"] {
  background-position: right center;
}

.autoscroller[translucent="true"][scrolldir="EW"] {
  background-position: right bottom;
}
