/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== groupbox.css ==================================================
  == Styles used by the XUL groupbox and related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: groupbox ::::: */

groupbox {
  border-radius: 5px;
  margin: 3px 2px;
  border: 2px solid #9C9CFF;
  padding-top: 3px;
  padding-bottom: 5px;
  -moz-padding-start: 5px;
  -moz-padding-end: 3px;
}

.groupbox-body {
  padding: inherit;
}

caption {
  border-radius: 7px;
  margin: 0px 6px 2px;
  padding: 0px 3px;
  background-color: #9C9CFF;
  color: #000000;
}

.caption-text {
  margin-top: 0;
  margin-bottom: 0;
  -moz-margin-start: 1px;
  -moz-margin-end: 2px;
}
