/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* THIS FILE HAS BEEN DELETED IN THE ORIGINAL THEME.
 * We keep it only as long as some LCARStrek stuff still refers to it. */

/*
 * The default namespace for this file is XUL. Be sure to prefix rules that
 * are applicable to both XUL and HTML with '*|'.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Page background */
*|*:root {
  background-color: #000000;
  color: #FF9F00;
  margin: 20px;
}

html|html {
  font: 11px "Liberation Sans",Arial,Tahoma,Helvetica,sans-serif;
}

/* Use the new in-content colors for #contentAreaDownloadsView. After landing
   of bug 989469 the colors can be moved to *|*:root */
*|*#contentAreaDownloadsView {
  background: #000000;
  color: #FF9F00;
}

/* Content */
*|*.main-content {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  overflow: hidden;
  border: 1px solid #9C9CFF;
  border-radius: 5px;
}

colorpicker[type="button"] {
  margin: 1px 5px 2px 5px;
  padding: 3px;
  height: 25px;
}
