/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menulist.css ===================================================
  == Styles used by the XUL menulist element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* :::::::::: menulist :::::::::: */

menulist {
  border-radius: 3px;
  margin: 2px 4px;
  border: 1px solid #9C9CFF;
  background-color: #000000;
  color: #E7ADE7;
  text-shadow: none;
}

menulist[menuactive="true"],
menulist:hover {
  background-color: #FFCF00;
  color: #000000;
  border: 1px solid #9C9CFF;
}

menulist[open="true"] {
  background-color: #FF9F00;
  color: #000000;
  border: 1px solid #FFCF00;
}

.menulist-label-box {
  -moz-box-align: center;
  -moz-box-pack: center;
/*  margin: 1px; */
  color: inherit;
}

.menulist-label {
  margin: 1px 3px !important;
}

.menulist-description {
  font-style: italic;
  color: #9C9CFF;
  -moz-margin-start: 1ex !important;
}

menulist:focus:not(.menulist-compact) > .menulist-label-box {
  background-color: #008484;
  color: #FFCF00;
}

menulist:-moz-focusring:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
/*  border: 1px dotted #FFCF00; */
}

menulist[disabled="true"] {
  background-color: #000000;
  color: #8050B0;
  border: 1px solid #8050B0;
}

/* ..... dropmarker ..... */

.menulist-dropmarker {
  border-radius: 0px 3px 3px 0px;
  min-width: 15px;
  border: none;
  border-left: 1px solid #9C9CFF;
}

.menulist-dropmarker,
menulist[disabled="true"]:hover:active > .menulist-dropmarker {
  padding: 1px;
  border: none;
  border-left: 1px solid #9C9CFF;
}

menulist[menuactive="true"] > .menulist-dropmarker,
menulist[open="true"] > .menulist-dropmarker,
menulist:hover > .menulist-dropmarker,
menulist:hover:active > .menulist-dropmarker {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-hover.gif");
}

menulist[menuactive="true"] > .menulist-dropmarker,
menulist:hover > .menulist-dropmarker {
  background-color: #FFCF00;
}

menulist:hover:active > .menulist-dropmarker,
menulist[open="true"] > .menulist-dropmarker {
  padding-top: 2px;
  padding-bottom: 0;
  -moz-padding-start: 2px;
  -moz-padding-end: 0;
  border: none;
  border-left: 1px solid #FFCF00;
  background-color: #FF9F00;
}

/* ::::: editable menulists ::::: */

menulist[editable="true"] {
  color: #E7ADE7;
}

.menulist-editable-box {
  background-color: #000000;
  padding: 2px;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

/* ::::: compact menulists ::::: */

.menulist-compact {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  color: #E7ADE7;
  border: 1px solid #9C9CFF;
  list-style-image: url("chrome://global/skin/arrow/arrow-down.gif");
}

.menulist-compact > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}

.menulist-compact > .menulist-label-box > .menulist-icon {
  -moz-margin-start: 2px;
}

.menulist-compact[open="true"] {
  border: 1px solid #FFCF00;
}

.menulist-compact:hover,
.menulist-compact[open="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-hover.gif");
}

.menulist-compact[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-down-disabled.gif");
}
