@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  background-color : #FFCF00;
  color: #000000;
  text-shadow: none;
  border-radius: 8px;
}

notification[type="info"] {
  background-color: #9C9CFF;
  color: #000000;
}

notification[type="critical"] {
  background-color: #FF0000;
  color: #000000;
}

.messageImage {
  width: 16px;
  height: 16px;
}

/* Default icons for notifications */

notification[type="info"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}
notification[type="warning"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

notification[type="critical"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.notification-inner {
  -moz-margin-start: 8px;
  -moz-margin-end: 12px;
}

.messageCloseButton {
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
  padding: 4px 2px;
  border: none;
}

.messageCloseButton:hover,
.messageCloseButton:hover:active {
  list-style-image: url("chrome://global/skin/icons/close-button-hover.gif");
}

.messageCloseButton > .toolbarbutton-icon {
  -moz-margin-start: 2px;
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-button-container {
  margin-top: 17px;
}

.popup-notification-closebutton {
  -moz-margin-end: -5px;
  margin-top: -5px;
}

.popup-notification-closeitem {
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
}
