/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== numberbox.css ==================================================
  == Styles used by the XUL textbox type="number" element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

textbox[type="number"] {
  padding: 0 !important;
  border: none;
  cursor: default;
}

html|*.numberbox-input {
  text-align: right;
}

.numberbox-input-box {
  border-radius: 3px 0px 0px 3px;
  -moz-box-align: center;
  cursor: text;
  border: 1px solid #9C9CFF;
  border-right-width: 0px;
  padding: 1px;
  background-color: #000000;
  color: #E7ADE7;
}

.numberbox-input-box[hidespinbuttons="true"] {
  border-radius: 3px;
  border-right-width: 1px;
}

textbox[type="number"] > spinbuttons {
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #9C9CFF;
  border-left-width: 0px;
}


textbox[type="number"][focused="true"] > .numberbox-input-box,
textbox[type="number"][focused="true"] > spinbuttons {
  border-color: #008484;
}

textbox[type="number"][readonly="true"] > .numberbox-input-box,
textbox[type="number"][readonly="true"] > spinbuttons,
textbox[type="number"][readonly="true"][focused="true"] > .numberbox-input-box,
textbox[type="number"][readonly="true"][focused="true"] > spinbuttons,
textbox[type="number"][disabled="true"] > .numberbox-input-box,
textbox[type="number"][disabled="true"] > spinbuttons {
  border-color: #8050B0;
}
