/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css =====================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

prefwindow {
  padding: 0px;
}

prefpane {
  padding-top: 3px;
  padding-bottom: 0px;
  -moz-padding-start: 3px;
  -moz-padding-end: 0px;
}

prefwindow[type="child"] {
  padding-top: 3px;
  padding-bottom: 0px;
  -moz-padding-start: 3px;
  -moz-padding-end: 0px;
}

prefwindow[type="child"] > prefpane {
  padding: 0px;
}

.prefWindow-dlgbuttons {
  padding-top: 3px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
  padding: 0px;
}

radio[pane] {
  margin: 0px 1px;
  padding: 1px 3px;
  min-width: 4.5em;
  border-radius: 5px;
}

.paneSelector {
  border-bottom: 1px solid #9C9CFF;
  margin: 0px;
  margin-bottom: 3px;
  -moz-padding-start: 10px;
  background-color: #000000;
  color: #FF9F00;
}

.paneButtonIcon {
  width: 32px;
  height: 32px;
}

radio[pane]:hover {
  background-color: #FFCF00;
  color: #000000;
}

radio[pane][selected="true"] {
  background-color: #008484;
  color: #000000;
}
