/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

richlistbox {
  border-radius: 5px;
  border: 1px solid #9C9CFF;
  margin: 2px 4px;
  background-color: #000000;
  color: #FF9F00;
}

richlistbox[disabled="true"] {
  border: 1px solid #8050B0;
  color: #8050B0;
}

richlistitem[selected="true"] {
  background-color: #008484;
  color: #000000;
}

richlistbox:focus > richlistitem[selected="true"] {
  background-color: #008484;
  color: #FFCF00;
}

richlistbox[seltype="multiple"]:-moz-focusring > richlistitem[current="true"] {
  outline: 1px dotted #FF9F00;
  outline-offset: -1px;
}

richlistbox[seltype="multiple"]:-moz-focusring > richlistitem[current="true"][selected="true"] {
  outline: 1px dotted #FF9F00;
}

