/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== scrollbars.css =================================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* ::::: scrollbar ::::: */

scrollbar {
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
  cursor: default;
  background-color: #000000;
  border-radius: 50%;
}

/* ::::: slider ::::: */

slider {
  height: 13px;
  background-color: #404048; /* #202024;*/
}

slider[orient="vertical"] {
  width: 13px;
}

/* ::::: borders for thumb and buttons ::::: */

thumb,
scrollbarbutton {
  border: none;
  background: transparent 50% 50% no-repeat;
  padding: 1px;
  min-width: 13px;
  min-height: 13px;
}

scrollbar:not([orient="vertical"]) > scrollbarbutton {
  min-width: 16px;
}

scrollbar[orient="vertical"] > scrollbarbutton {
  min-height: 16px;
}


/* ::::: thumb ::::: */

thumb {
  background-color: #A09090;
  background-image: url("chrome://global/skin/scrollbar/thumb-vert-grip.gif");
}

thumb[orient="horizontal"] {
  background-image: url("chrome://global/skin/scrollbar/thumb-horiz-grip.gif");
}


thumb:active,
thumb:hover:active {
   background-color: #008484;
}

thumb:hover {
   background-color: #FFCF00;
}

thumb[disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/thumb-vert-grip-disabled.gif");
}

thumb[orient="horizontal"][disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/thumb-horiz-grip-disabled.gif");
}

/* ::::: scrollbar button ::::: */

scrollbarbutton {
  background-color: #C09070;
}

scrollbarbutton:hover:active,
scrollbarbutton[active="true"] {
  background-position: calc(50% + 1px) calc(50% + 1px);
}

scrollbarbutton:hover {
  background-color: #FFCF00;
}

scrollbarbutton:hover:active {
  background-color: #FF9F00;
}

scrollbarbutton[disabled="true"] {
  background-color: #402858 !important;
}

/* XXX - scrollbar.xml always grabs the OS settings and we don't want that */
scrollbarbutton[sbattr="scrollbar-up-bottom"],
scrollbarbutton[sbattr="scrollbar-down-top"] {
  display: none;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner {
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar-base");
  cursor: default;
  background-color: #000000;
  width: 13px;
}

/* ..... increment .... */

scrollbarbutton[type="increment"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-right.png");
  border-radius: 0 300px 300px 0;
  -moz-border-start: 3px solid #000000;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-down.png");
  border-radius: 0 0 300px 300px;
  -moz-border-start: none;
  border-top: 3px solid #000000;
}

/* ..... decrement .... */

scrollbarbutton[type="decrement"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-left.png");
  border-radius: 300px 0 0 300px;
  -moz-border-end: 3px solid #000000;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  background-image: url("chrome://global/skin/scrollbar/arrow-up.png");
  border-radius: 300px 300px 0 0;
  -moz-border-end: none;
  border-bottom: 3px solid #000000;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::: MEDIA PRINT :::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media print {
  /* ::::: scrollbar ::::: */

  html|div scrollbar {
    -moz-appearance: scrollbartrack-horizontal;
    -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
    cursor: default;
    background: url("chrome://global/skin/scrollbar/slider.gif") scrollbar;
  }

  html|div scrollbar[orient="vertical"]
  {
     -moz-appearance: scrollbartrack-vertical;
  }

  /* ::::: borders for thumb and buttons ::::: */

  html|div thumb,
  html|div scrollbarbutton {
    border: 2px solid;
    -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
    -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
    background-color: -moz-Dialog;
  }

  /* ::::: thumb (horizontal) ::::: */

  html|div thumb {
    -moz-appearance: scrollbarthumb-vertical;
    min-height: 8px;
  }

  html|div thumb[orient="horizontal"] {
    -moz-appearance: scrollbarthumb-horizontal;
    min-width: 8px;
  }

  /* ::::: scrollbar button ::::: */

  html|div scrollbarbutton {
    background: -moz-Dialog no-repeat 50% 50%;
    min-width: 16px;
    min-height: 16px;
  }

  html|div scrollbarbutton:hover:active,
  html|div scrollbarbutton[active="true"] {
    -moz-border-top-colors: ThreeDShadow -moz-Dialog;
    -moz-border-right-colors: ThreeDShadow -moz-Dialog;
    -moz-border-bottom-colors: ThreeDShadow -moz-Dialog;
    -moz-border-left-colors: ThreeDShadow -moz-Dialog;
    background-position: 60% 60%;
  }

  /* ..... increment .... */

  html|div scrollbarbutton[type="increment"] {
    -moz-appearance: scrollbarbutton-right;
    background-image: url("chrome://global/skin/arrow/arrow-rit.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
    -moz-appearance: scrollbarbutton-down;
    background-image: url("chrome://global/skin/arrow/arrow-dn.gif")
  }

  /* ..... decrement .... */

  html|div scrollbarbutton[type="decrement"] {
    -moz-appearance: scrollbarbutton-left;
     background-image: url("chrome://global/skin/arrow/arrow-lft.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
    -moz-appearance: scrollbarbutton-up;
     background-image: url("chrome://global/skin/arrow/arrow-up.gif")
  }

}
