/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

spinbuttons {
  cursor: default;
}

.spinbuttons-button {
  border-radius: 3px;
  min-width: 9px;
  min-height: 9px;
  margin: 0 !important;
  border: none;
  background-color: #000000;
}

.spinbuttons-button > .button-box {
  border-radius: 3px;
  border: 0;
  padding: 0;
  margin: 0;
}

.spinbuttons-button[disabled="true"] > .button-box {
  padding: 0 !important;
}

.spinbuttons-button:hover,
.spinbuttons-button:hover:active {
  background-color: #FFCF00;
}

.spinbuttons-button[disabled="true"] {
  background-color: #000000 !important;
}

.spinbuttons-up {
  background-image: url("chrome://global/skin/arrow/arrow-up.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

.spinbuttons-up:hover,
.spinbuttons-up:hover:active {
  background-image: url("chrome://global/skin/arrow/arrow-up-hover.gif");
}

.spinbuttons-up[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-up-disabled.gif");
}

.spinbuttons-down {
  background-image: url("chrome://global/skin/arrow/arrow-down.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

.spinbuttons-down:hover,
.spinbuttons-down:hover:active {
  background-image: url("chrome://global/skin/arrow/arrow-down-hover.gif");
}

.spinbuttons-down[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-down-disabled.gif");
}
