/* Tab Modal Prompt boxes */
tabmodalprompt {
  background-color: hsla(0,0%,10%,.5);
  font-family: sans-serif; /* use content font not system UI font */
}

.mainContainer {
  color: #FF9F00;
  background-color: #000000;
  background-clip: padding-box;
  border-radius: 8px;
  border: 1px solid #9C9CFF;
}

.topContainer {
  padding: 20px;
}

.buttonContainer {
  padding: 12px 20px 15px;
  background-color: #E7ADE7;
  border-top: 1px solid #9C9CFF;
}
