/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL toolbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */

toolbox {
  background-color: #000000;
  color: #FF9F00;
}

/* ::::: toolbar & menubar ::::: */

toolbar,
menubar {
  border-bottom: 3px solid #000000;
  background-color: #000000;
  color: #FF9F00;
  min-width: 1px;
}

/* toolbar-holder is the body of the main part of a toolbar */
.toolbar-holder {
  background-color: #9C9CFF;
  color: #000000;
  -moz-padding-end: 2px;
}

menubar > .toolbar-box > .toolbar-holder,
toolbar[type="menubar"] > .toolbar-box > .toolbar-holder {
  background-color: #6000CF;
  color: #FF9F00;
}

/* ::::: toolbargrippy, startcap (LCARStrek specific) ::::: */

toolbargrippy,
.toolbar-startcap,
.menubar-startcap {
  border-radius: 8px 0px 0px 8px;
  -moz-box-orient: vertical;
  -moz-box-align: center;
  background-color: #FF9F00;
  border: none;
  border-right: 3px solid black;
  width: 15px;
  min-height: 16px;
}

toolbargrippy:hover {
  background-color: #FFCF00;
}

/* ::::: endcap (LCARStrek specific) ::::: */

.toolbar-endcap,
.menubar-endcap {
  border-radius: 0px 8px 8px 0px;
  background-color: #FF9F00;
  border: none;
  border-left: 3px solid black;
  width: 15px;
  min-height: 16px;
}

/* ::::: collapsed tray and grippies ::::: */

toolbargrippy[tbgrippy-collapsed="true"] {
  -moz-box-orient: horizontal;
  border-radius: 4px 0px 0px 4px;
  margin-bottom: 3px;
  width: 30px;
  /* height gets set to the width of the uncollapsed grippy by default
     so use !important to force all to the same smaller height */
  height: 10px !important;
  min-height: 10px;
}

.collapsed-tray-spacer {
  border-bottom: none;
}

/* in some cases, the menubar is inside a toolbar... */
toolbaritem > menubar,
toolbar > menubar {
  border-bottom-style: none;
  background-color: transparent;
}

/* ::::: lightweight theme ::::: */

menubar:-moz-lwtheme,
toolbox:-moz-lwtheme,
toolbar:-moz-lwtheme {
  -moz-appearance: none;
  background: none;
  border-color: transparent;
}

/* ::::: toolbar decorations ::::: */

toolbarseparator {
  margin: 2px;
  -moz-margin-end: 0;
  border-right: 1px solid #000000;
  width: 1px;
}

toolbarspacer {
  width: 10px;
}

toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 0 !important;
  margin: 1px 3px !important;
}

/* ::::: toolbarpaletteitem ::::: */

toolbarpaletteitem {
  cursor: -moz-grab;
}

.toolbarpaletteitem-box[type="spacer"],
.toolbarpaletteitem-box[type="spring"] {
  border-radius: 5px;
  border: 1px solid #9C9CFF;
  background-color: #000000 !important;
}

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background: url("chrome://global/skin/toolbar/spring.gif") no-repeat center;
}

/* ..... drag and drop feedback ..... */

toolbarpaletteitem[place="toolbar"] {
  -moz-margin-start: -2px;
  -moz-margin-end: -2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

toolbarpaletteitem[dragover="left"] {
  border-left-color: #008484;
}

toolbarpaletteitem[dragover="right"] {
  border-right-color: #008484;
}
