/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@media not print {
  body {
    color: #E7ADE7;
    background-color: #221500;
  }

  .decoded {
    background-color: #FFFFFF;
    color: #221500;
  }
}
