.searchbar-textbox {
  width: 6em;
  min-width: 6em;
  margin: 0;
  margin-inline-start: 3px;
}

.searchbar-textbox > .autocomplete-textbox-container {
  padding: 2px;
}


/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://communicator/skin/directory/file.gif");
}

.toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://global/skin/arrow/arrow-down.gif");
}


/* ::::: search-go-button ::::: */

.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  padding-inline-end: 2px;
  list-style-image: url("chrome://global/skin/icons/search.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.search-go-button:-moz-system-metric(touch-enabled) {
  padding-inline-start: 5px;
  padding-inline-end: 3px;
}

.search-go-button:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
