/**
 * Bookmarks tree 
 **/ 

/*   
  .bookmarks-window-tree
    {
      border-top          : none !important;
      border-bottom       : none;
      border-left         : 1px solid ThreeDShadow;
      border-right        : 1px solid ThreeDHighlight;
    }
*/

  .bookmarks-window-tree > .tree-container-treerows
    {
      border-left         : 1px solid #9C9CFF;
      border-right        : 1px solid #9C9CFF;
    }  
    
  .bookmarks-panel-tree, .bookmarks-panel-tree > .tree-container-treerows
    {
      border              : none;
    }
    
  #panel-bar
    {
      border-top          : 1px solid #9C9CFF;
      border-bottom       : 1px solid #9C9CFF;
    }    



