/** this should only contain XUL dialog and document window widget defaults. Defaults for widgets of
    a particular application should be in that application's style sheet.
	For example style definitions for navigator can be found in navigator.css

   THIS FILE IS LOCKED DOWN.  YOU ARE NOT ALLOWED TO MODIFY IT WITHOUT FIRST HAVING YOUR
   CHANGES REVIEWED BY hyatt@netscape.com.
**/

/* import the widget style sheets */

/* all localizable skin settings shall live here */
@import url(chrome://global/locale/intl.css);

@import url("chrome://global/skin/formatting.css");
/*
@import url("chrome://global/content/bindings/outliner.css");
@import url("chrome://global/content/bindings/popup.css");
@import url("chrome://global/content/bindings/scrollbar.css");
@import url("chrome://global/content/bindings/tree.css");

@import url("chrome://global/skin/button.css");
@import url("chrome://global/skin/checkbox.css");
@import url("chrome://global/skin/colorpicker.css");
@import url("chrome://global/skin/menu.css");
@import url("chrome://global/skin/menubutton.css");
@import url("chrome://global/skin/menulist.css");
@import url("chrome://global/skin/outliner.css");
@import url("chrome://global/skin/popup.css");
@import url("chrome://global/skin/progressmeter.css");
@import url("chrome://global/skin/radio.css");
@import url("chrome://global/skin/scrollbox.css");
@import url("chrome://global/skin/splitter.css");
@import url("chrome://global/skin/tabcontrol.css");
@import url("chrome://global/skin/textbox.css");
@import url("chrome://global/skin/toolbar.css");
@import url("chrome://global/skin/tree.css");
*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 


/**  
 * bindings
 **/

/* LCARStrek does currently not need many bindings here, if we once do, see sample in Classic */

  statusbar 
    {
      -moz-binding        : url("chrome://global/skin/globalBindings.xml#statusbar");
    }



/**
 * XXX-DEBUG: HTML namespace/titledbutton striping. 
 **/ 

/*
  html|* 
    {
      border              : 1px solid green !important;
    }
  
  html|form 
    {
      border              : none !important;
    }
  
  titledbutton 
    {
      border              : 1px solid purple !important;
    }
*/

/**  
 * XUL <window> element
 **/
  window 
    { 
      background-color    : #000000;
/*      font                : 3mm "Final Frontier",tahoma,arial,helvetica,sans-serif; */
      font                : 3mm helvetica,arial,tahoma,sans-serif;
      color               : #FF9F00;
      padding             : 3px;
      -moz-user-focus     : ignore;
    }
  
  window[wait-cursor] 
    { 
      cursor              : wait !important; 
    }
  
  window.dialog 
    { 
      background-color    : #000000;
      padding             : 7px 5px 5px 5px;
    }

/**
 * XUL <box> debugging
 **/
  :-moz-horizontal-box-debug 
    {
      border              : 2px solid blue;
      border-top-width    : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : white;
    }
  
  :-moz-vertical-box-debug 
    {
      border              : 2px solid red;
      border-left-width   : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : white;
    }

/**
 * Utility icons (used for alert dialogs, etc)
 **/
  .message-icon 
    {
      list-style-image    : url("chrome://global/skin/message-icon.gif");
    }

  .alert-icon 
    {
      list-style-image    : url("chrome://global/skin/alert-icon.gif");
    }
  
  .error-icon 
    {
      list-style-image    : url("chrome://global/skin/error-icon.gif");
    }
  
  .question-icon 
    {
      list-style-image    : url("chrome://global/skin/question-icon.gif");
    }

/**
 * statusbar
 */
  statusbar 
    {
      margin-top          : 3px;
      -moz-user-focus     : ignore;
      overflow            : hidden
    }

  .statusbar-center
    {
      background-color    : #8050B0;
      padding-left        : 2px;
      color               : black;
      -moz-box-align      : center;
    }

  .statusbar-left
    {
      -moz-border-radius  : 9px 0px 0px 9px;
      background-color    : #6000CF;
      width               : 13px;
      margin-right        : 3px;
    }

  .statusbar-right
    {
      -moz-border-radius  : 0px 9px 9px 0px;
      background-color    : #6000CF;
      width               : 13px;
      margin-left         : 3px;
    }

  statusbarpanel, .statusbar-panel
    {
      padding             : 0px 1px 0px 1px;
      -moz-box-align      : center;
    }

  .statusbarpanel-icononly
    {
      padding             : 0px;
    }    
    
  .statusbar-panel-icon
    {
      margin              : 0px 2px 0px 0px;
      list-style-image    : inherit;
    }

/**
 * iframe default sizing 
 **/
  iframe 
    {
      min-width           : 10px;
      min-height          : 10px;
      width               : 100px;
      height              : 100px;
      border              : none;
    }

.tooltip-label
  {
    margin                : 0px;
  }

