
/* outermost frame */
  menubutton
    {
      margin              : 0px 1px 0px 1px;
      -moz-border-radius  : 3px;
      background-color    : #000000;
      color               : #E7ADE7;
      border              : none;
    }
    
  menubutton[disabled="true"] 
    {
      color               : #8050B0;
    }
  
  menubutton > .menubutton-internal-box
    {
      border              : none;
      padding             : 0px;
      vertical-align      : middle;
    }

  .menubutton-single-icon
    {
      margin-right        : 3px;
    }
    
/** "Dual Functionality" menubutton
 *  Has a popup spawning button and a command invoking button, e.g. back/forward
 *  class="menubutton-dual"
 **/    
  
/* inner button */

  menubutton > .menubutton-internal-box > .menubutton-dual-button,
  menubutton:hover > .menubutton-internal-box > .menubutton-dual-button,
  menubutton:active > .menubutton-internal-box > .menubutton-dual-button
    {
      border              : none;
      margin              : 0px;
      -moz-border-radius  : 3px;
    }

  menubutton > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box
    {
      border              : 1px solid #9C9CFF;
      margin              : 0px
    }
    
  menubutton > .menubutton-internal-box > .menubutton-dual-button:hover:active > .button-internal-box,
  menubutton:hover:active > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box
    {
      border              : 1px solid #FF9F00;
    }
    
  menubutton[open="true"] > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box
    {
      border              : 1px solid #FFCF00;
    }
    
  menubutton[disabled="true"] > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box,
  menubutton[disabled="true"] > .menubutton-internal-box > .menubutton-dual-button:hover:active > .button-internal-box,
  menubutton[disabled="true"]:hover:active > .menubutton-internal-box > .menubutton-dual-button > .button-internal-box
    {
      border              : 1px solid #8050B0;
    }

/* inner dropmarker */
  menubutton > .menubutton-internal-box > .menubutton-dual-dropmarker-box
    {
      -moz-border-radius  : 3px;
      border              : 1px solid #9C9CFF;
      padding             : 0px 2px 0px 2px;
    }
    
  menubutton[disabled="true"] > .menubutton-internal-box > .menubutton-dual-dropmarker-box,
  menubutton[disabled="true"]:hover:active > .menubutton-internal-box > .menubutton-dual-dropmarker-box
    {
      border              : 1px solid #8050B0;
    }

  menubutton:hover:active > .menubutton-internal-box > .menubutton-dual-dropmarker-box
    {
      border              : 1px solid #FF9F00;
    }

  menubutton[open="true"] > .menubutton-internal-box > .menubutton-dual-dropmarker-box
    {
      border              : 1px solid #FFCF00;
      padding             : 1px 1px -1px 3px;
    }

  menubutton > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker
    {
      border              : none;
      list-style-image    : url("chrome://global/skin/scroll-down.gif");
    }
    
  menubutton[disabled="true"] > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker,
  menubutton[disabled="true"]:hover:active > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker,
  menubutton[disabled="true"]:hover > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker
    {
      list-style-image    : url("chrome://global/skin/scroll-down-disabled.gif");
    }

  menubutton:hover > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker,
  menubutton:hover:active > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker,
  menubutton[open="true"] > .menubutton-internal-box > .menubutton-dual-dropmarker-box > .menubutton-dropmarker
    {
      list-style-image    : url("chrome://global/skin/scroll-down-hover.gif");
    }

/** Icon only menubutton.menubutton-duals
 *  class="menubutton.menubutton-dual-icon"
 **/
  .menubutton.menubutton-dual-icon 
    {
      border              : none;
      background-color    : #000000;
    } 
    
  .menubutton.menubutton-dual-icon > .menubutton.menubutton-dual-icon-internal-box
    {
      border              : none;
      padding             : 1px;
    }
    
  .menubutton.menubutton-dual-icon:hover > .menubutton.menubutton-dual-icon-internal-box
    {
      background-color    : #FFCF00;
      border              : none;
      padding             : 1px;
    }    

  .menubutton.menubutton-dual-icon:hover:active > .menubutton.menubutton-dual-icon-internal-box,
  .menubutton.menubutton-dual-icon[open="true"] > .menubutton.menubutton-dual-icon-internal-box
    {
      background-color    : #FF9F00;
      border              : none;
      padding             : 2px 0px 0px 2px;
    }    

  .menubutton.menubutton-dual-icon[disabled="true"] > .menubutton.menubutton-dual-icon-internal-box,
  .menubutton.menubutton-dual-icon[disabled="true"]:hover:active > .menubutton.menubutton-dual-icon-internal-box,
  .menubutton.menubutton-dual-icon[disabled="true"][open="true"] > .menubutton.menubutton-dual-icon-internal-box
    {
      background-color    : #FFCF00;
      border              : none;
      padding             : 2px 0px 0px 2px;
    }

/** Icon only menubuttons
 *  class="menubutton.menubutton-icon"
 **/
  .menubutton-icon 
    {
      border              : none;
      background-color    : #000000;
    } 
    
  .menubutton-icon > .menubutton-icon-internal-box
    {
      padding             : 1px;
    }
    
  .menubutton-icon:hover > .menubutton-icon-internal-box
    {
      background-color    : #FFCF00;
      padding             : 1px;
    }    

  .menubutton-icon:hover:active > .menubutton-icon-internal-box,
  .menubutton-icon[open="true"] > .menubutton-icon-internal-box
    {
      background-color    : #FF9F00;
      padding             : 2px 0px 0px 2px;
    }    

  .menubutton-icon[disabled="true"] > .menubutton-icon-internal-box,
  .menubutton-icon[disabled="true"]:hover:active > .menubutton-icon-internal-box,
  .menubutton-icon[disabled="true"][open="true"] > .menubutton-icon-internal-box
    {
      background-color    : #FFCF00;
      padding             : 2px 0px 0px 2px;
    }    
    