menupopup, popup
  {
    /* DON'T DELETE.  Removes disappearance of scrollbars
     * in content pane when window is made smaller.
     * Talk to evaughan@netscape.com for details.
     */
    min-width             : 1px;
    background-color      : black;
    color                 : #FF9F00;
    border                : 1px solid #FF9F00;
  }

.popup-internal-box
  {
    padding               : 1px;
  }  
  
/** Tooltips (tooltip <popup> element)
 *  class="tooltip"
 **/
.tooltip
  {
    -moz-border-radius    : 3px;
    background-color      : #9C9CFF;
    border                : 1px solid #FFCF00;
    color                 : #000000;
    font                  : smaller;
    padding               : 3px;
  }

.tooltip > .popup-internal-box
  {
    padding               : 0px;
    margin                : 0px;
  }

/* rules for popups associated with menulists */

  menulist > menupopup,
  .menulist-menupopup
    {
      border              : 1px solid #FF9F00;
      min-width           : 0px;
      background-color    : black;
    }


