/* stylesheet for XUL <radio> element */

/* default radio for dialogs */
/* outer frame */
  radio 
    {
      margin: 3px 5px 3px 5px;
    }


/* checkmark outer frame */
  radio > .internal-box > .checkmark-box 
    {
      -moz-border-radius: 50%;
      margin-top: 2px;
    }

/* checkmark inner frame */
  radio > .internal-box > .checkmark-box > image 
    {
      border: 1px solid #FF9F00;
      width: 10px;
      height: 10px;
      padding: 1px;
      -moz-border-radius: 50%;
    }

  /* ensure that no list-style-image is inherited in from the Outside */
  .checkmark-box
    {
      list-style-image: none;
    }
  

  radio[checked="true"] > .internal-box > .checkmark-box > image 
    {
      list-style-image: url(chrome://global/skin/check-radio.gif);
    }
  
  radio:hover > .internal-box > .checkmark-box > image 
    {
      border: 1px solid #FFCF00;
    }
  
  radio[checked="true"][disabled="true"] > .internal-box > .checkmark-box > image,
  radio[disabled="true"]:hover > .internal-box > .checkmark-box > image
    {
      list-style-image: url(chrome://global/skin/check-radio-disabled.gif);
    }

  radio:hover:active > .internal-box > .checkmark-box > image 
    {
      border: 2px inset #CCCCDD;
    }

  radio[disabled="true"] > .internal-box > .checkmark-box > image,
  radio[disabled="true"]:active > .internal-box > .checkmark-box > image 
    {
      border: 1px solid #8050B0;
    }

/* text/icon frames */
  radio[value] > .internal-box > html,
  radio.iconic > .internal-box > .icon 
    {
      color: #FF9F00;
      margin: 0px 0px 0px 4px;
      padding: 1px;
    }

  radio.iconic > .internal-box > html 
    {
      margin-left: 4px;
    }
    
  radio[disabled="true"][value] > .internal-box > html 
    {
      color: #8050B0;
    }
  
  radio:focus > .internal-box > html
    { 
      border              : 1px dotted #FFCF00;
      padding             : 0px;
    }
    
    