@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); /* set default namespace to XUL */

/********* XP Scrollbar *********/

scrollbar {
   -moz-binding: url("chrome://global/content/xulBindings.xml#scrollbar");
   background-color: black;
}

/********* XP Scrollbar *********/

thumb {
  -moz-binding: url(chrome://global/content/xulBindings.xml#thumb);
  background-color: #9C9CFF;
  padding: 1px;
  list-style-image: url("chrome://global/skin/scroll-thumb-horiz.gif");
}

thumb[disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-thumb-horiz-disabled.gif");
}

thumb[align="vertical"] {
   list-style-image: url("chrome://global/skin/scroll-thumb-vert.gif");
}

scrollbarbutton {
  vertical-align: bottom;
  cursor: default;

/*  border: 1px outset white; */
  color:black; 

  padding: 1px;
}

scrollbarbutton:active {
/*  border-style: inset; */

  padding-left: 2px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
}

scrollbarbutton[type="decrement"] {
   list-style-image: url("chrome://global/skin/scroll-left-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-left.gif");
   margin: 0px;
   margin-right: 3px;
}

scrollbarbutton[type="decrement"][disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-left-disabled.gif") ;
}

scrollbarbutton[type="increment"] {
   list-style-image: url("chrome://global/skin/scroll-right-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-right.gif");
   margin: 0px;
   margin-left: 3px;
}


scrollbarbutton[type="increment"][disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-right-disabled.gif") ;
}


scrollbar[align="vertical"] scrollbarbutton[type="decrement"] {
   list-style-image: url("chrome://global/skin/scroll-up-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-up.gif");
   margin: 0px;
   margin-bottom: 3px;
}

scrollbar[align="vertical"] scrollbarbutton[type="decrement"][disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-up-disabled.gif");
}

scrollbar[align="vertical"] scrollbarbutton[type="increment"] {
   list-style-image: url("chrome://global/skin/scroll-down-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-down.gif");
   margin: 0px;
   margin-top: 3px;
}

scrollbar[align="vertical"] scrollbarbutton[type="increment"][disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-down-disabled.gif"); 
}

slider[align="vertical"] thumb:active {
   background-color: #FFCF00;
}

slider {
   background-color: #000000;
}


