@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); /* set default namespace to XUL */

/********* XP Scrollbar *********/

scrollbar {
  -moz-binding: url("chrome://global/skin/scrollbarBindings.xml#scrollbar"); 
   background-color: black;
}

/********* XP Scrollbar *********/

thumb {
  -moz-binding: url(chrome://global/skin/scrollbarBindings.xml#thumbh);
  background-color: #9C9CFF;
  padding: 1px;
  list-style-image: url("chrome://global/skin/scroll-thumb-horiz.gif");
  -moz-box-pack: center;
  -moz-box-align: center;
}

thumb[disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-thumb-horiz-disabled.gif");
}

scrollbar[orient="vertical"] > slider > thumb {
   -moz-binding: url(chrome://global/skin/scrollbarBindings.xml#thumbv); 
   list-style-image: url("chrome://global/skin/scroll-thumb-vert.gif");
}

scrollbar[orient="vertical"] > slider > thumb[disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-thumb-vert-disabled.gif")
}

thumb:active,
thumb:hover:active {
   background-color: #008484;
}

thumb:hover {
   background-color: #FFCF00;
}

scrollbarbutton {
  -moz-binding: url(chrome://global/skin/scrollbarBindings.xml#scrollbarbutton); 
  vertical-align: bottom;
  cursor: default;

/*  border: 1px outset white; */
  color:black; 

  padding: 1px;
}

scrollbarbutton:active {
/*  border-style: inset; */

  padding-left: 2px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
}

scrollbarbutton[type="decrement"] {
   list-style-image: url("chrome://global/skin/scroll-left-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-left.gif");
   margin: 0px;
   margin-right: 3px;
}

scrollbarbutton[type="decrement"][disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-left-disabled.gif") ;
}

scrollbarbutton[type="increment"] {
   list-style-image: url("chrome://global/skin/scroll-right-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-right.gif");
   margin: 0px;
   margin-left: 3px;
}


scrollbarbutton[type="increment"][disabled="true"] {
   list-style-image: url("chrome://global/skin/scroll-right-disabled.gif") ;
}


scrollbarbutton[type="decrement"][sborient="vertical"] {
   list-style-image: url("chrome://global/skin/scroll-up-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-up.gif");
   margin: 0px;
   margin-bottom: 3px;
}

scrollbarbutton[type="decrement"][disabled="true"][sborient="vertical"] {
   list-style-image: url("chrome://global/skin/scroll-up-disabled.gif");
}

scrollbarbutton[type="increment"][sborient="vertical"] {
   list-style-image: url("chrome://global/skin/scroll-down-hover.gif");
   background-image: url("chrome://global/skin/scrollbtn-down.gif");
   margin: 0px;
   margin-top: 3px;
}

scrollbarbutton[type="increment"][disabled="true"][sborient="vertical"] {
   list-style-image: url("chrome://global/skin/scroll-down-disabled.gif"); 
}

slider {
   background-color: #000000;
}







