/******* Splitters *******/

splitter 
  {
    cursor                : e-resize;
    background-color      : #9C9CFF;
    vertical-align        : middle;
    text-align            : center;
    padding               : 0px;
    border                : none;
    border-top            : 3px solid black;
    border-bottom         : 3px solid black;
  }

splitter[state="dragging"]
  {
    background-color      : #FFCF00;
  }

grippy
  {
    margin                : 0px;
    border                : none;
    border-top            : 3px solid black;
    border-bottom         : 3px solid black;
    padding               : 0px;
    list-style-image      : url("chrome://global/skin/grippy-vertical-before.gif");
    cursor                : pointer;
  }

splitter[state="collapsed"] > grippy
  {
    list-style-image      : url("chrome://global/skin/grippy-vertical-after.gif");
  }

grippy:hover
  {
    background-color      : #FFCF00;
  }

grippy:hover:active
  {
    border                : none;
  }

/* vertical splitters */
  window > splitter, box > splitter, hbox > splitter 
    {
      width               : 6px;
      border-left         : 0px solid black;
      border-right        : 0px solid black;
    }
  
/* horizontal splitters */  
  /* XXX we should comment out the 'align' support to force people to migrate 
         to 'orient' */
  rows > splitter,
  window[orient="vertical"] > splitter,
  vbox > splitter,
  box[orient="vertical"] > splitter,
  window[align="vertical"] > splitter,
  box[align="vertical"] > splitter
    {
      cursor              : n-resize;
      border-top          : 0px solid black;
      border-bottom       : 0px solid black;
    }

  rows > splitter > grippy,
  window[orient="vertical"] > splitter > grippy,
  vbox > splitter > grippy,
  box[orient="vertical"] > splitter > grippy,
  window[align="vertical"] > splitter > grippy,
  box[align="vertical"] > splitter > grippy
    {
      list-style-image      : url("chrome://global/skin/grippy-horizontal-before.gif");
    }

  rows > splitter[state="collapsed"] > grippy,
  window[orient="vertical"] > splitter[state="collapsed"] > grippy,
  vbox > splitter[state="collapsed"] > grippy,
  box[orient="vertical"] > splitter[state="collapsed"] > grippy,
  window[align="vertical"] > splitter[state="collapsed"] > grippy,
  box[align="vertical"] > splitter[state="collapsed"] > grippy
    {
      list-style-image      : url("chrome://global/skin/grippy-horizontal-after.gif");
    }
