@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); 

/*============ tabpanels widget =============*/

tabpanels {
  padding: 5px;
}

/********** Tab widget *********/
tab { 
  -moz-border-radius: 3px 3px 0px 0px;
  border: 1px solid #9C9CFF;
  color: #FF9F00; 
  padding: 3px 5px 3px 5px;
  -moz-user-focus: normal;
}

/* when a tab is selected this is how it should look */
tab[selected="true"] {
	font-weight: bold;
        background-color: #008484;
}

tab:hover { 
  background-color: #FFCF00;
  color: #000000;
  text-decoration: underline;
}

tab:hover:active { 
  text-decoration: none;
}

tabs, tabs[orient="horizontal"] {
  padding: 0px 4px 0px 4px;
}

tabs[orient="vertical"] {
  padding: 4px 0px 4px 0px;
}

    /* top tabs */
tabbox[orient="vertical"] > tabs[orient="horizontal"] tab  { 
  border-bottom: none;
  -moz-border-radius: 8px 8px 0px 0px;
  padding-bottom: 1px;
/*  margin: 1px 2px 1px 2px; */
}

	/* bottom tabs */
tabbox[orient="vertical"] > tabpanels + tabs[orient="horizontal"] > tab { 
  border-top: none;
  -moz-border-radius: 0px 0px 8px 8px;
  padding: 1px 5px 3px 5px;
  margin: 1px 2px 1px 2px;
}

	/* left tabs */
tabbox[orient="horizontal"] > tabs[orient="vertical"] tab  { 
  border-right: none;
  -moz-border-radius: 8px 0px 0px 8px;
  padding-right: 1px;
  margin: 2px 1px 2px 1px;
}

	/* right tabs */
tabbox[orient="horizontal"] > tabpanels + tabs[orient="vertical"] > tab { 
  border-left: none;
  -moz-border-radius: 0px 8px 8px 0px;
  padding: 3px 5px 1px 5px;
  margin: 2px 1px 2px 1px;
}

tabbox { 
  border: none; 
}

/* border on bottom only, no padding (used in search) */
tabpanels.light {
  border: none;
  border-bottom: 1px solid #9C9CFF;
  padding: 0px;
}

tabpanels {
  -moz-border-radius: 5px;
  border: 1px solid #9C9CFF;
  padding: 5px;
}





