tabcontrol {
  margin: 1px 5px 2px 5px;
}

/********** Tab widget *********/
tab { 
  -moz-border-radius: 3px 3px 0px 0px;
  border: 1px solid #9C9CFF;
  color: #FF9F00; 
  padding: 3px 5px 3px 5px;
}

/* when a tab is selected this is how it should look */
tab[selected="true"] {
	font-weight: bold;
        background-color: #008484;
}

tab:hover { 
  background-color: #FFCF00;
  color: #000000;
  text-decoration: underline;
}

tab:hover:active { 
  text-decoration: none;
}

tabbox {
  padding: 0px 2px 0px 2px;
}

    /* top tabs */
tabcontrol[align="vertical"] tabbox[align="horizontal"] tab { 
  border-bottom: none;
  -moz-border-radius: 8px 8px 0px 0px;
  padding-bottom: 1px;
  margin: 1px 2px 1px 2px;
}

	/* bottom tabs */
tabcontrol[align="vertical"] tabpanel + tabbox[align="horizontal"] tab { 
  border-top: none;
  border-bottom: 1px solid #9C9CFF;
  border-left: 1px solid #9C9CFF;
  border-right: 1px solid #9C9CFF;
  -moz-border-radius: 0px 0px 8px 8px;
  padding: 1px 5px 3px 5px;
  margin: 1px 2px 1px 2px;
}

	/* left tabs */
tabcontrol[align="horizontal"] tabbox[align="vertical"] tab { 
  border-right: none;
  -moz-border-radius: 8px 0px 0px 8px;
  padding-right: 1px;
  margin: 2px 1px 2px 1px;
}

	/* right tabs */
tabcontrol[align="horizontal"] tabpanel + tabbox[align="vertical"] tab { 
  border-top: 1px solid #9C9CFF;
  border-bottom: 1px solid #9C9CFF;
  border-left: none;
  border-right: 1px solid #9C9CFF;
  -moz-border-radius: 0px 8px 8px 0px;
  padding: 3px 5px 1px 5px;
  margin: 2px 1px 2px 1px;
}

tabcontrol { 
  border: none; 
}

/* border on bottom only, no padding (used in search) */
tabpanel.light {
  border: none;
  border-bottom: 1px solid #9C9CFF;
  padding: 0px;
}

tabpanel {
  -moz-border-radius: 5px;
  border: 1px solid #9C9CFF;
  padding: 5px;
}


