@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

/** generic text fields (in dialogs)
 **/
 
/* outer frame */
  textbox
    {
      -moz-border-radius  : 3px;
      border              : 1px solid #9C9CFF;
      font                : inherit;
      color               : #E7ADE7;
      padding             : 0px;
      margin              : 1px 3px 2px 4px;
      background-color    : #000000;
      cursor              : text;
    }
    
  textbox[readonly="true"]
    {
      border              : 1px solid #8050B0;
      color               : #8050B0;
    }
  
  textbox[focused="true"]
    {
      border              : 2px solid #FFCF00;
      margin              : 0px 2px 1px 3px;
    }
    
  textbox[focused="true"][readonly="true"]
    {
      border              : 1px solid #8050B0;
      margin              : 1px 3px 2px 4px;
    }

/* internal frame */
  .textbox-internal-box, .textarea-internal-box
    {
      -moz-border-radius  : 3px;
      border              : none;
      margin              : 0px;
      padding             : 1px 2px 1px 2px;
    }
  
  textbox[disabled="true"] > .textbox-internal-box
    {
      border              : none;
    }
  
/* internal text widget */
  .textbox-input, .textbox-textarea
    {
      border              : none !important;
      margin              : 0px;
      padding             : 0px;
      font                : inherit;
      background-color    : inherit;
      color               : inherit;
    }

  textbox[disabled="true"] 
    {
      cursor              : default !important;
      color               : #8050B0;
    } 
    
/** plain atomic textfields, class="plain" **/
  textbox.plain, 
  textbox.plain > .textbox-internal-box, 
  textbox.plain > .textarea-internal-box
    {
      padding             : 0px !important;
      margin              : 0px !important;
      border              : none !important;
    }

/** inline edit textbox **/

.textbox-inline-edit 
  {
    border                : 1px solid #9C9CFF !important;
    margin                : 0px !important;
  }

.textbox-inline-edit > .textbox-internal-box > .textbox-input 
  {
    border                : none !important;
    padding               : 0px !important;
    margin                : 0px !important;
  }

.textbox-inline-edit > .textbox-internal-box 
  {
    border                : none !important;
    padding               : 1px !important;
    margin                : 0px !important;
  }
