
/******** Tree widget **********/

/** basic tree ****************************************************
 *  basic tree widget for use in main windows where no decoration
 *  is required.
 **/
tree {
  background-color: #000000;
  border: none;
  border-spacing: 0px;
}

/** class="inset" *************************************************
 *  this is the tree class used by dialogs to create treeviews with 
 *  inset borders, and default dialog spacing.
 **/
tree.inset {
  -moz-border-radius: 5px;
  border: 1px solid #9C9CFF;
  margin: 1px 3px 2px 3px;
}

treeitem[selected="true"] > treerow,
treeitem[dd-dropon="true"] > treerow
  {
  	background-color    : #008484;
/*	  color               : #000000; */
  }


treecell { 
  white-space: nowrap;
  vertical-align: middle;
  padding: 1px 0px 1px 2px;
} 

.treecell-header-image 
  {
    list-style-image      : inherit;
  }

.treecell-header,
.treecell-header-image,
.treecell-inset-header {
  background-color: #9C9CFF; 
  color: black;
  vertical-align: middle;
  padding: 0px;
  border: 1px solid #000000;
} 

.treecell-header-box,
.treecell-header-image-box {
  padding: 1px;
}

.treecell-header:hover:active > .treecell-header-box,
.treecell-inset-header:hover:active > .treecell-header-box,
.treecell-header-image:hover:active > .treecell-header-image-box {
  padding: 2px 0px 0px 2px;
}

.treecell-header:hover:active,
.treecell-inset-header:hover:active,
.treecell-header-image:hover:active {
  border: 1px solid #FFCF00;
}

.treecell-image 
  {
    padding               : 0px;
  }
  

/** class="propertylist" ******************************************
 *  class for cells in grid-formatted property lists.
 **/
treecell.propertylist {
  padding-left: 5px;
  border-right: 1px solid #9C9CFF; 
  border-bottom: 1px solid #9C9CFF; 
}

.tree-cell-primary-icon {
  list-style-image: inherit;
  padding-right: 2px;
}

.tree-cell-icon {
  list-style-image: inherit;
  padding-right: 2px;
}

.treecell-indent > .tree-cell-primary-icon {
  padding-left: 14px;
 }

treeitem[container="true"] > treerow > .treecell-indent > .tree-cell-primary-icon {
  padding-left: 0px;
}

.tree-cell-twisty {
 list-style-image: url("chrome://global/skin/closedtwisty.gif");
 -moz-user-focus:ignore;
 padding-right: 2px;
}

treeitem[selected="true"] > treerow > treecell > .tree-cell-twisty {
  list-style-image: url("chrome://global/skin/closedtwisty-selected.gif");
}

.tree-cell-twisty:hover {
 text-decoration: none;
}

.tree-cell-twisty:active {
 text-decoration: none;
}

.tree-cell-twisty[disabled="true"] {
 list-style-image: none;
}

treeitem[container="true"][open="true"] > treerow > treecell > .tree-cell-twisty {
 list-style-image: url("chrome://global/skin/opentwisty.gif");
}

treeitem[selected="true"][container="true"][open="true"] > treerow > treecell > .tree-cell-twisty {
  list-style-image: url("chrome://global/skin/opentwisty-selected.gif");
}


/* tree header with sort direction indicators */
.tree-header-sortdirection {
  list-style-image      : none;
}

.sortDirectionIndicator[sortDirection="ascending"] > .treecell-header-box > .tree-header-sortdirection {
  list-style-image: url("chrome://global/skin/sortAscending.gif");
  margin-right: 3px;
}

.sortDirectionIndicator[sortDirection="descending"] > .treecell-header-box > .tree-header-sortdirection {
  list-style-image: url("chrome://global/skin/sortDescending.gif");
}

treecol[sortDirection="true"],
treecol[sortActive="true"]
  {
    background-color       : #008484;
  }

.treecell-popup-icon
  {
    list-style-image       : url("chrome://global/skin/columnselect.gif");
  }

.inline-edit-cell-box
  {
    margin-left           : 2px;
  }

/* Inline Editable Treecells */
.textbox-inline-edit 
  {
    border                : 1px solid #FFCF00 !important;
    margin                : 0px !important;
  }

.textbox-inline-edit > .textbox-internal-box > .textbox-input 
  {
    border                : 0px !important;
    padding               : 1px !important;
    margin                : 0px !important;
  }

.textbox-inline-edit > .textbox-internal-box 
  {
    border                : 0px !important;
    padding               : 0px !important;
    margin                : 0px !important;
  }

treerow[mode="inline-edit"] 
  {
    background            : transparent;
  }

