/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button {
  line-height: 20px;
  font-size: 1em;
  height: 30px;
  max-height: 30px;
  min-width: 120px;
  padding: 3px;
  color: #000000;
  border: none;
  border-radius: 300px;
  background-color: #C09070;
  -moz-appearance: none;
  -moz-border-top-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
}

button:hover {
  background-color: #FFCF00;
  cursor: pointer;
}

button:hover:active {
  background-color: #FF9F00;
}

progress {
  height: 30px;
  vertical-align: middle;
  padding: 0;
  width: 120px;
}

li {
  margin: 20px 0;
}

.name {
  display: inline-block;
  min-width: 280px;
}

.status {
  display: inline-block;
  min-width: 120px;
}

.warning {
  color: #F06;
  margin: 0;
  font-size: 0.9em;
}

li[status="unknown"],
li > .uninstall-button,
li > .install-button,
li > progress {
  display: none;
}

li[status="installed"] > .uninstall-button,
li[status="uninstalled"] > .install-button,
li[status="preparing"] > progress,
li[status="downloading"] > progress,
li[status="installing"] > progress {
  display: inline;
}

li:not([status="uninstalled"]) > .warning {
  display: none;
}
