/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
  background: #000000;
  color: #FF9F00;
}

.permissionstable td {
  text-align: center;
}

.permallow {
  color: #008484;
}

.permprompt {
  color: #9C9CFF;
}

.permdeny {
  color: #FF0000;
}
