/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: sidebar container ::::: */

#sidebar-box {
  border: none;
}

/* ::::: sidebar splitter ::::: */

#sidebar-panels-splitter[state="collapsed"] {
  margin-bottom: 0px;
}

#sidebar-splitter {
  margin-inline-start: 0px;
}

#sidebar-splitter:not([state="collapsed"]) {
  border-radius: 0 5px 0 0;
}

/* Get lower rounded corner right to connect to splitter. */
#sidebar-panels-splitter-box {
  background-color: #9C9CFF
}

#sidebar-panels {
  background-color: #000000;
  border-radius: 0 5px 0 0;
  padding-inline-end: 3px;
}

#sidebar-splitter:not([state="collapsed"]):-moz-locale-dir(rtl),
#sidebar-panels:-moz-locale-dir(rtl) {
  border-radius: 5px 0 0 0;
}

/* ::::: sidebar header ::::: */

.sidebarheader-main {
  border: none;
  color: #000000;
  background-color: #9C9CFF;
  padding: 0px 2px;
  padding-inline-start: 3px;
  padding-inline-end: 8px;
  height: auto;
  overflow-x: hidden;
}

.sidebar-header-text {
  font-weight: bold;
}

/* ..... close button ..... */

#sidebar-close-button {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image");
  padding: 3px;
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
  border-radius: 0;
}

#sidebar-close-button:hover,
#sidebar-close-button:hover:active {
  list-style-image: url("chrome://global/skin/icons/close-button-hover.gif");
}

/* ..... panel picker button ..... */

#sidebar-panel-picker {
  padding: 3px 1px;
  border-radius: 0;
}

/* ::::: sidebar panel ::::: */

.sidebar-iframe-no-panels,
.loadarea {
  background-color: #000000;
  color: #FF9F00;
}

.iframe-panel, .browser-sidebar {
}  

/* ::::: loading info ::::: */

.text-panel-loading {
  margin: 5px 0px;
}

.text-panel-loading[loading="false"] {
  margin-inline-start: 11px;
}

.image-panel-loading {
  margin: 5px;
  list-style-image: url("chrome://global/skin/icons/loading.gif");
}

/* ::::: sidebar tabs ::::: */

.box-texttab {
  -moz-binding: url("chrome://communicator/skin/sidebar/sidebarBindings.xml#sbtab");
  cursor: pointer;
  border-top: 3px solid black;
  border-radius: 5px;
}

.box-texttab > hbox {
  border-radius: 300px;
  -moz-box-align: stretch;
  padding: 2px 3px;
  background-color: #C09070;
  color: #000000;
}

.box-texttab[selected="true"] > hbox,
.box-texttab[selected="true"]:hover > hbox,
.box-texttab[selected="true"]:hover:active > hbox {
  background-color: #008484;
  color: #FFCF00;
  font-weight: bold;
}

.box-texttab[selected="true"],
.box-texttab[selected="true"]:hover,
.box-texttab[selected="true"]:hover:active {
  border-bottom: 3px solid black;
}

.box-texttab[last-panel="true"], 
.box-texttab[last-panel="true"]:hover,
.box-texttab[last-panel="true"]:hover:active,
.box-texttab[last-panel="true"][selected="true"],
.box-texttab[last-panel="true"][selected="true"]:hover,
.box-texttab[last-panel="true"][selected="true"]:hover:active {
  border-bottom: none;
}

.sbtab-label {
  margin: 0px !important;
}

.sbtab-twisty {
  margin: 2px 3px 0px;
  list-style-image: url("chrome://global/skin/tree/twisty.svg#clsd-hover");
}

.box-texttab:hover > hbox,
.box-texttab:hover:active > hbox {
  background-color: #FFCF00;
}

.box-texttab[last-panel="true"], 
.box-texttab[selected="true"] {
  margin-bottom: 0px;
}

.sbtab-twisty[selected="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty.svg#open");
}

/* ::::: sidebar navigation buttons ::::: */

.sidebar-nav-button {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image");
  padding: 5px 0px;
}

.tab-fwd {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

.tab-back {
  list-style-image: url("chrome://global/skin/arrow/arrow-down.gif");
}
