#bookmark-window toolbarbutton {
  -moz-box-orient: vertical;
}

toolbarbutton#newbookmark {
  list-style-image: url("chrome://browser/skin/bookmarks/new-bookmark.gif");
}
toolbarbutton#newbookmark:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/new-bookmark-hover.gif");
}
toolbarbutton#newbookmark[disabled="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/new-bookmark-disabled.gif");
}

toolbarbutton#newfolder {
  list-style-image: url("chrome://browser/skin/bookmarks/new-folder.gif");
}
toolbarbutton#newfolder:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/new-folder-hover.gif");
}
toolbarbutton#newfolder[disabled="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/new-folder-disabled.gif");
}

toolbarbutton#newseparator {
  list-style-image: url("chrome://browser/skin/bookmarks/new-seperator.gif");
}
toolbarbutton#newseparator:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/new-seperator-hover.gif");
}
toolbarbutton#newseparator[disabled="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/new-seperator-disabled.gif");
}

toolbarbutton#moveBookmark {
  list-style-image: url("chrome://browser/skin/bookmarks/move.gif");
}
toolbarbutton#moveBookmark:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/move-hover.gif");
}
toolbarbutton#moveBookmark[disabled="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/move-disabled.gif");
}

toolbarbutton#properties {
  list-style-image: url("chrome://browser/skin/bookmarks/properties.gif");
}
toolbarbutton#properties:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/properties-hover.gif");
}
toolbarbutton#properties[disabled="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/properties-disabled.gif");
}

toolbarbutton#rename {
  list-style-image: url("chrome://browser/skin/bookmarks/rename.gif");
}
toolbarbutton#rename:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/rename-hover.gif");
}
toolbarbutton#rename[disabled="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/rename-disabled.gif");
}

toolbarbutton#delete {
  list-style-image: url("chrome://browser/skin/bookmarks/trash.gif");
}
toolbarbutton#delete:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/trash-hover.gif");
}
toolbarbutton#delete[disabled="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/trash-disabled.gif");
}

bookmarks-tree tree {
  border: 0px !important;
}
