/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://inspector/skin");

#bxURLBar {
  padding: 2px;
}

#imgURLBarIcon {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif"); 
  margin: 2px;
}

#bxSearch {
  height: 150px;
}

#splPanels {
  width: 5px;
}

/* ::::: toolbar buttons ::::: */

#btnSelecting {
  list-style-image: url("chrome://inspector/skin/btnSelecting.gif");
}

#btnSelecting[checked="true"] {
  list-style-image: url("chrome://inspector/skin/btnSelecting-act.gif");
}

#btnSelecting[disabled="true"] {
  list-style-image: url("chrome://inspector/skin/btnSelecting-dis.gif");
}

#btnFind {
  list-style-image: url("chrome://inspector/skin/btnFind.gif");
}

#btnFind[disabled="true"] {
  list-style-image: url("chrome://inspector/skin/btnFind-dis.gif");
}

/* HACK: this button has no id !!! */
#bxURLBarContainer + toolbarbutton {
  border: 1px outset #CCD0DD;
  margin: 2px 0px 4px;
  font-weight: bold;
  background-color: #9999CC;
}

#bxURLBarContainer + toolbarbutton:hover:active {
  border: 1px inset #CCD0DD;
}

.viewer-list, .viewer-menu {
  -moz-user-focus: ignore;
}
